<template>
	<!-- <div class="app-edit-table-cell" v-bind="{ ...$attrs }">
		<div class="space-over" v-if="formate == ''">
			{{ currentValue == 0 ? 0 : (currentValue || '--') }}<span :style="unitStyle">{{ unit }}</span>
		</div>
		<div class="space-over" v-else>
			{{ dayjs(currentValue).format(formate) || '' }}<span :style="unitStyle">{{ unit }}</span>
		</div>
	</div> -->

	<div class="app-edit-table-cell">
		<el-tooltip effect="dark" :content="contentHover" placement="top-end" :disabled="isShowTooltip">
			<div class="linkTo" :style="{ 'text-align': 'left' }" @mouseover="onMouseOver(currentValue)">
				<span :ref="currentValue">
					<span>{{ currentValue == 'undefined' ? '' : currentValue }}</span>
					<span :style="unitStyle" v-on="$attrs.unitClick ? { click: $attrs.unitClick } : ''">{{ unit }}</span>
				</span>
			</div>
		</el-tooltip>
	</div>
</template>
<script>
import dayjs from 'dayjs';
export default {
	name: 'appText',
	props: {
		value: [String, Number],
		labelSuffix: {
			type: String,
			default: ':',
		},
		unit: String,
		unitStyle: String,
		formate: {
			type: String,
			default: '',
		},
	},
	data() {
		return {
			isShowTooltip: false,
			contentHover: '',
		};
	},

	computed: {
		currentValue: {
			get() {
				console.log('this.value', this.value);
				return this.value + '';
			},
		},
	},
	methods: {
		dayjs,
		onMouseOver(str) {
			const tag = this.$refs[str];
			const parentWidth = tag.parentNode.offsetWidth; // 获取元素父级可视宽度
			const contentWidth = tag.offsetWidth; // 获取元素可视宽度
			this.isShowTooltip = contentWidth <= parentWidth;
			// 鼠标悬停后显示的内容
			this.contentHover = this.currentValue;
		},
	},
};
</script>

<style lang="scss" scoped>
.space-over {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.app-edit-table-cell {
	display: flex;
}

.linkTo {
	cursor: pointer;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
</style>
