<!-- button组件 -->
<template>
	<div class="el-btn">
		<el-button v-bind="{ ...$attrs }" :loading="$attrs.loading" @click="$attrs.click">{{ $attrs.btnLabel }}</el-button>
	</div>
</template>
<script>
export default {
	//   inheritAttrs: false,
	name: 'appButton',
	props: {},
	computed: {},
};
</script>

<style lang="scss" scoped>
.el-btn {
	display: flex;

	::v-deep .el-button--small {
		height: 30px;
		margin-top: 1px;
	}
}
</style>
