<!-- 场地 -->
<template>
	<el-select v-model="currentValue" @change="changeObj($event)" v-bind="{ ...$attrs }" reserve-keyword remote :remote-method="remoteMethod" v-el-select-loadmore="loadmore">
		<el-option v-for="(item, index) in options" :key="index" :label="item.name" :value="item.id"> </el-option>
	</el-select>
</template>
<script>
export default {
	directives: {
		'el-select-loadmore': {
			bind(el, binding) {
				const SELECTWOMAN_DOM = el.querySelector('.el-select-dropdown .el-select-dropdown__wrap');
				SELECTWOMAN_DOM.addEventListener('scroll', function () {
					const condition = this.scrollHeight - this.scrollTop <= this.clientHeight;
					if (condition) {
						binding.value();
					}
				});
			},
		},
	},
	props: {
		value: [String, Number, Array],
		name: String,
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
	data() {
		return {
			remoteLoading: false,
			options: [],
			formData: {
				page: 1,
				limit: 20,
			},
		};
	},
	created() {
		this.getList(this.formData);
	},
	methods: {
		changeObj(e) {
			if (Object.prototype.toString.call(e) == '[object Array]') {
				let arr = [];
				e.map((code) => {
					arr.push(this.options.find((item) => item.id == code));
				});
				this.$attrs.change(arr);
			} else {
				this.$attrs.change(this.options.find((item) => item.id == e));
			}
		},
		loadmore() {
			this.formData.page++;
			this.getList();
		},
		getList() {
			let params = { ...this.formData, name: this.currentValue };
			this.api.baseInfo.baseInfoApi.getExamPaperSelect(this.formData).then((res) => {
				if (res.data.list) {
					this.options = [...this.options, ...res.data.list];
				}
			});
		},
		remoteMethod(val) {
			this.formData.page = 1;
			this.options = [];
			let params = { ...this.formData, name: val };
			this.api.baseInfo.baseInfoApi.getExamPaperSelect(params).then((res) => {
				if (res.data.list) {
					this.options = [...this.options, ...res.data.list];
				}
			});
		},
	},
	watch: {
		name(val) {
			if (val) {
				this.remoteMethod(val);
			}
		},
	},
};
</script>
