<!--  -->
<template>
  <div class="development-plan-selfPlan">
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="formInline" />
    </el-card>

    <el-card>
      <app-table
        row-key="id"
        :pageObj="pageObj"
        :data="tableData"
        :col-configs="tableFields"
        empty-text="暂无数据"
      >
        <el-table-column slot="index" type="index" label="序号" />
        <el-table-column
          :slot="item.slot"
          :label="item.label"
          width="140"
          align="center"
          v-for="(item, i) in tableFieldStrends"
          :key="i"
        >
          <template slot-scope="scope">
            <i class="el-icon-success icon-success"></i>
          </template>
        </el-table-column>
      </app-table>
    </el-card>
  </div>
</template>

<script>
import appForm from "@/components/base/appForm";
import appTable from "@/components/base/appTable";
import { toParams } from "@/utils";

export default {
  components: { appForm, appTable },
  data() {
    return {
      formInline: {
        Objid: "",
        Pernr: "",
        Ename: "",
        archiveCategory: [],
      },
      pageObj: {
        size: 10,
        total: 1,
        currentPage: 1,
        sizeFunc: (size) => {
          this.pageObj.size = size;
          this.pageObj.currentPage = 1;
          this.getList();
        },
        currentFunc: (currentPage) => {
          this.pageObj.currentPage = currentPage;
          this.getList();
        },
      },
      tableData: [{}],
      tableFieldStrends: [],
      tableFieldStrends2: [],
      archiveCategoryList: [],
    };
  },

  mounted() {
    this.getAll();
    this.getList();
    this.getArchiveCategoryListApi();
  },
  watch: {},
  methods: {
    search() {
      this.pageObj.currentPage = 1;
      this.tableFieldStrends = [...this.tableFieldStrends2];
      this.getAll();
      this.getList();
    },
    getAll() {
      let params = {
        ...this.formInline,
      };
      this.api.dataManage.dataManageApi.archiveListAllApi(params).then((res) => {
        this.$nextTick(() => {
          console.log(res);
          if (res.d.results) {
            this.pageObj.total = res.d.results.length;
          }
        });
      });
    },
    getList() {
      const { currentPage: page, size: limit } = this.pageObj;
      let params = {
        ...this.formInline,
        skip: (page - 1) * limit,
        top: page * limit - 1,
        // order: "",
        // orderField: "",
      };
      this.api.dataManage.dataManageApi.archiveListApi(params).then((res) => {
        this.$nextTick(() => {
          console.log(res);
          this.tableData = res.d.results || [];
        });
      });
    },
    getArchiveCategoryListApi() {
      this.api.dataManage.dataManageApi.archiveCategoryListApi({}).then((res) => {
        this.$nextTick(() => {
          console.log(res);
          this.archiveCategoryList = res.d.results || [];
        });
      });
    },
  },

  computed: {
    serchFields() {
      let vm = this;
      return [
        {
          label: "单位名称",
          prop: "Objid",
          placeholder: "请输入单位名称",
          clearable: true,
          span: 6,
        },
        {
          label: "员工姓名",
          prop: "Ename",
          placeholder: "请输入员工姓名",
          clearable: true,
          span: 6,
        },
        {
          label: "员工编号",
          prop: "Pernr",
          placeholder: "请输入员工编号",
          clearable: true,
          span: 6,
        },
        {
          label: "档案类别",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "archiveCategory",
          placeholder: "请选择",
          multiple: true,
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: this.archiveCategoryList.map((p) => {
            return {
              ...p,
              label: p.Ddtext,
              value: p.DomvalueL,
            };
          }),
          change: (e) => {
            console.log(e, "---");
            let dataArr = [];
            vm.tableFieldStrends2 = [];
            if (e.length == 0) {
              dataArr = [...vm.archiveCategoryList];
            } else {
              dataArr = [];
              for (const iterator of e) {
                let obj = vm.archiveCategoryList.find(
                  (item) => item.DomvalueL == iterator
                );
                dataArr.push(obj);
              }
            }
            for (const iterator of dataArr) {
              let obj = {
                slot: "Ztype" + iterator.DomvalueL,
                label: iterator.Ddtext,
              };
              vm.tableFieldStrends2.push(obj);
            }
          },
          events: {
            inputAll: function (item) {
              console.log(item);
            },
          },
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 24,
          list: [
            {
              component: "app-button",
              btnLabel: "新增",
              size: "small",
              type: "warning",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {},
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "导出",
              size: "small",
              type: "warning",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {},
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "info",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.search();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(4em + 12px)";
        return item;
      });
    },
    tableFields() {
      return [
        {
          slot: "index",
        },
        { prop: "Ename", label: "员工姓名" },
        { prop: "Pernr", label: "员工编号" },
        {
          prop: "Zzdepart",
          label: "部门",
        },
        { prop: "Zzsection", label: "科室" },
        { prop: "Zzgroup", label: "岗位" },
        ...this.tableFieldStrends,
      ];
    },
  },
};
</script>
<style lang="scss" scoped>
.button-waper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
</style>
<style lang="scss">
.development-plan-selfPlan {
  .icon-success {
    font-size: 24px;
    color: #70b603;
  }
  .icon-none {
    font-size: 24px;
    color: #d7d7d7;
  }
}
</style>
