<!-- 选择公司业务组件 -->
<template>
	<el-select v-model="currentValue" @change="changeObj($event)" v-bind="{ ...$attrs }" reserve-keyword>
		<el-option v-for="(item, index) in options" :key="index" :label="item.descrShort" :value="item.deptCode"> </el-option>
	</el-select>
</template>
<script>
export default {
	props: {
		value: [String, Number, Array],
		name: String,
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
	data() {
		return {
			options: [],
		};
	},
	mounted() {
		// this.bus.$on('upCompany', (content) => {
		// 	this.getList(content.companyCode);
		// });
	},
	methods: {
		changeObj(e) {
			if (Object.prototype.toString.call(e) == '[object Array]') {
				let arr = [];
				e.map((code) => {
					arr.push(this.options.find((item) => item.deptCode == code));
				});
				this.$attrs.change(arr);
			} else {
				this.$attrs.change(this.options.find((item) => item.deptCode == e));
			}
		},

		getList(companyCode) {
			// this.api.talent.talentApi.getListDepartment({ company: companyCode }).then((res) => {
			// 	this.options = [...res.data];
			// });
		},
	},
	watch: {
		name(val) {
			this.getList(val);
		},
	},
	beforeDestroy() {
		// this.bus.$off('upCompany', (content) => {
		// 	console.log(content);
		// });
	},
};
</script>
