<template>
  <el-dialog
    :title="title"
    :visible.sync="dialogVisible"
    width="30%"
    :before-close="handleClose"
    :close-on-click-modal="false"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="类型名称" prop="labelTypeName">
        <el-input v-model="form.labelTypeName"></el-input>
      </el-form-item>
      <el-form-item label="适用组织" prop="deptId">
        <select-tree
          v-model="form.deptId"
          :props="departmentProp"
          :data="departmentList"
          @inputName="inputName"
        ></select-tree>
      </el-form-item>
      <el-form-item label="适用序列" prop="categoryId">
        <el-select
          v-model="form.categoryId"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in sequenceList"
            :key="item.hpsPosnType"
            :label="item.descr"
            :value="item.hpsPosnType"
            @click.native="categoryClick(item.descr)"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-select
          v-model="form.status"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in statusList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="submit_button" style="margin-bottom: 10px">
        <el-button
          type="primary"
          class="primary_currency"
          @click="addLabel('form')"
          :loading="submiLoading"
          >{{ type == "add" ? "保存" : "确认" }}
        </el-button>
        <el-button class="currency" @click="dialogVisible = false"
          >取消</el-button
        >
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
import selectTree from "../../components/selectTree.vue";
export default {
  props: {
    //序列list
    sequenceList: {
      type: Array,
      default: function () {
        return [];
      },
    },
    //组织list
    departmentList: {
      type: Array,
      default: function () {
        return [];
      },
    },
    departmentProp: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {
      dialogVisible: false,
      title: "新建标签类型",
      type: "add",
      form: {
        status: "生效",
        categoryId: "",
        category: "",
        deptId: "",
        deptName: "",
        labelTypeName: "",
      },
      submiLoading: false,
      //状态
      statusList: [
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
      rules: {
        labelTypeName: [
          { required: true, message: "请输入标签类型名称", trigger: "blur" },
        ],
        deptId: [{ required: true, message: "请选择", trigger: "change" }],
        categoryId: [{ required: true, message: "请选择", trigger: "change" }],
        status: [{ required: true, message: "请选择", trigger: "change" }],
      },
    };
  },
  components: {
    selectTree,
  },
  watch: {
    dialogVisible(val) {
      let vm = this;
      if (!val) {
        vm.$refs.form.resetFields();
        vm.form = {
          status: "生效",
          categoryId: "",
          category: "",
          deptId: "",
          deptName: "",
          labelTypeName: "",
        };
      }
    },
  },
  methods: {
    setDiag(data) {
      let vm = this;
      this.dialogVisible = data.res;
      if (data.type == "add") {
        this.title = "新建标签类型";
      } else {
        this.title = "编辑标签类型";
      }
      this.type = data.type;
      if (data.data) {
        vm.$nextTick(() => {
          vm.form = { ...data.data };
        });
      }
      console.log(data);
    },
    inputName(val) {
      this.form.deptName = val;
    },
    categoryClick(val) {
      this.form.category = val;
    },
    //新建
    addLabel(formName) {
      let vm = this;
      vm.$refs[formName].validate((valid) => {
        if (valid) {
          vm.submiLoading = true;
          let url = vm.$environmentApi + "tmilabeltypemapping/add";
          vm.type == "add"
            ? (url = vm.$environmentApi + "tmilabeltypemapping/add")
            : (url = vm.$environmentApi + "tmilabeltypemapping/update");
          vm.$axios({
            method: "post",
            url: url,
            data: {
              ...vm.form,
            },
          })
            .then((res) => {
              console.log(res, "0000002200342");
              if (res.data.code == 0) {
                vm.$message({
                  type: "success",
                  message: vm.type == "add" ? "新增成功" : "编辑成功",
                });
                vm.dialogVisible = false;
                //跳转至oa审批页面
                vm.$reviewUrl(res.data.data);
                vm.$parent.getList();
              } else {
              }
              vm.submiLoading = false;
            })
            .catch((err) => {
              vm.submiLoading = false;
            });
        }
      });
    },
    handleClose() {
      this.dialogVisible = false;
    },
  },
};
</script>
<style lang="scss" scoped>
</style>