<template>
  <div class="treeAdmin">
    <div class="treeAdmin_title">组织盘点</div>
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="formInline" />
    </el-card>
    <el-card class="mb14">
      <div class="g6_sign">
        <span class="label">状态说明：</span>
        <ul>
          <li>
            <div class="model fill">适岗</div>
            完全符合岗位要求
          </li>
          <li>
            <div class="model qualified">有待观察</div>
            基本胜任
          </li>
          <li>
            <div class="model noFill">不适岗</div>
            和岗位要求有明显差距
          </li>
          <li>
            <div class="model vacancy">空缺</div>
            岗位空缺尚在寻觅
          </li>
        </ul>
      </div>
      <AdminNode
        :nodeData="treeAll"
        :dataObj="treePart"
        :isChangeData="isChangeData"
      ></AdminNode>
    </el-card>
  </div>
</template>

<script>
import appForm from "@/components/base/appForm";
import AdminNode from "./adminNode.vue";
//orginazationList
//import * as forumApi from "@/api/forumApi";
//import GraphNode from "./graphNode.vue";
//import EasyGraphNode from "./easyGraphNode.vue";
let _that = null;
export default {
  components: {
    //GraphNode,
    //EasyGraphNode,
    AdminNode,
    appForm,
  },
  data() {
    _that = this;
    return {
      formInline: { deptId: "" },
      isChangeData: false,
      treeData: [],
      treeAll: [],
      treePart: {},
      colorObj: {
        1: ["#ABDC7F", "#68DFDE"],
        2: ["#FABD67", "#FEE35B"],
        3: ["#F15559", "#FABD67"],
        4: ["#43B8F3", "#88DDEA"],
      },
    };
  },
  created() {
    this.getDeptTreeAll();
   // this.getDeptTreeChild();
  },
  watch: {
    "formInline.deptId"(val) {
      if (val) {
        this.getDeptTreeChild();
      }
    },
  },
  computed: {
    serchFields() {
      return [
        {
          label: "组织单位",
          labelWidth: "calc(2em + 12px)",
          component: "app-select-tree",
          prop: "deptId",
          props: {
            label: "deptName",
            value: "deptId",
            children: "childrenList",
          },
          nodeKey: "deptId",
          placeholder: "请选择",
          clearable: true,
          style: "width:100%",
          data: this.treeData,
          span: 6,
        },
        {
          isArray: true,
          //  position: "right",
          mb: 0,
          span: 6,
          list: [
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "primary",
              // style:"display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.getDeptTreeChild();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(4em + 12px)";
        return item;
      });
    },
  },
  mounted() {},

  methods: {
    getDeptTreeAll() {
      this.api.baseInfo.baseInfoApi.getDeptTreeAll().then((res) => {
        this.$nextTick(() => {
          console.log(res.data);
          this.treeData = [res.data];
        });
      });
    },
    getDeptTreeChild() {
      let params = {
        deptId: this.formInline.deptId||undefined,
      };
      this.isChangeData = false;
      this.api.baseInfo.baseInfoApi.getDeptTreeChild(params).then((res) => {
        this.$nextTick(() => {
          const mapTree = (org) => {
            const haveChildren =
              Array.isArray(org.childrenList) && org.childrenList.length > 0;
            return {
              ...org,
              deptName: org.deptName,
              id: org.deptId,
              children: haveChildren
                ? org.childrenList.map((i) => mapTree(i))
                : [],
            };
          };
          const mapTreePart = (org, num = 0) => {
            let haveChildren =
              Array.isArray(org.childrenList) && org.childrenList.length > 0;
            console.log(num);
            if (num > 0) {
              haveChildren = false;
            }
            console.log(haveChildren);
            return {
              ...org,
              deptName: org.deptName,
              id: org.deptId,
              children: haveChildren
                ? org.childrenList.map((i) => mapTreePart(i, num + 1))
                : [],
            };
          };
          let result = [];
          let result2 = [];
          result = [res.data].map((org) => mapTree(org));
          result2 = [res.data].map((org) => mapTreePart(org));
          console.log("结果", result, result2);
          this.isChangeData = true;
          this.treeAll = result;
          this.treePart = result2[0];
        });
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.treeAdmin {
  .treeAdmin_title {
    font-size: 16px;
    padding: 10px 0;
    text-align: left;
  }
  .g6_sign {
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 1px solid #cccccc4d;
    margin-bottom: 20px;
    .label {
      font-size: 14px;
    }
    ul {
      display: inline-block;
      margin-left: 10px;
      li {
        display: inline-block;
        font-size: 12px;
        color: #666;
        margin-right: 45px;
        .model {
          width: 60px;
          text-align: center;
          height: 26px;
          color: #fff;
          display: inline-block;
          line-height: 26px;
          border-radius: 6px;
          margin-right: 10px;
          &.fill {
            background-image: linear-gradient(-45deg, #abdc7f, #68dfde);
            box-shadow: 1px 0px 8px 2px #abdc7f38;
          }
          &.qualified {
            background-image: linear-gradient(-45deg, #fabd67, #fee35b);
            box-shadow: 1px 0px 8px 2px #fabd674d;
          }
          &.noFill {
            background-image: linear-gradient(-45deg, #f15559, #fabd67);
            box-shadow: 1px 0px 8px 2px #f1555942;
          }
          &.vacancy {
            background-image: linear-gradient(-45deg, #43b8f3, #88ddea);
            box-shadow: 1px 0px 8px 2px #43b8f345;
          }
        }
      }
    }
  }
}
</style>