<template>
	<div>
        <el-card class=".kno-options">
		    <el-page-header @back="goBack" :content="'组织节点'" class="page-header" />
            <GraphNode></GraphNode>
	    </el-card>
	</div>
</template>

<script>
import GraphNode from './graphNode.vue'
export default {
	components:{
		GraphNode
	},
	data() {
		return{}
	},

	methods: {
        goBack() {
			this.$router.go(-1);
		},
    },
	mounted() {
		//this.graphAdminInit();
		//this.graphNodeInit();
	},
	computed: {
	},
};
</script>
<style lang="scss" scoped>
.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #eff1f6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
</style>