<!-- @format -->

<template>
	<div ref="collapse" class="table-search-collapse" :style="{ height: height, overflow: 'hidden' }">
		<div class="collapse-body">
			<slot name="collapse-body"></slot>
		</div>
		<div class="collapse-operation">
			<slot name="collapse-operation"></slot>
		</div>
		<i v-if="enable" :class="collapseIcon" class="collapse-icon" @click="expand = !expand"></i>
	</div>
</template>
<script>
export default {
	props: {
		enable: {
			type: Boolean,
			default: false,
		},
		retractHeight: {
			type: String,
			// default: '36px',
		},
	},
	computed: {
		collapseHeight() {
			//console.log(this.$refs?.collapse, 'collapseHeight');
			return this.$refs.collapse.offsetHeight || 0;
		},
		collapseIcon() {
			if (this.expand) {
				return 'el-icon-arrow-up';
			} else {
				return 'el-icon-arrow-down';
			}
		},
		height() {
			if (this.expand) {
				return this.retractHeight;
			} else {
				return 'auto';
			}
		},
	},
	data() {
		return {
			expand: true,
			iconShow: true,
		};
	},
};
</script>
<style lang="scss" scoped>
.table-search-collapse {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	.collapse-body {
		flex: 1;
	}
	.collapse-operation {
		display: flex;
		align-items: center;
	}
	.collapse-icon {
		cursor: pointer;
		margin-left: 20px;
	}
}
</style>
