<!-- @format -->

<template>
	<div v-if="flgDiv" class="table-result">
		<div class="table-operation" v-if="$slots['table-operation']">
			<slot name="table-operation"></slot>
		</div>
		<slot></slot>
		<slot name="pagination"></slot>
		<slot name="table-footer"></slot>
	</div>

	<el-card v-else class="table-result">
		<div class="table-operation" v-if="$slots['table-operation']">
			<slot name="table-operation"></slot>
		</div>
		<slot></slot>
		<slot name="pagination"></slot>
		<slot name="table-footer"></slot>
	</el-card>
</template>
<script>
export default {
	props: {
		flgDiv: {
			type: Boolean,
			default: false,
		},
	},
};
</script>
<style lang="scss" scoped>
.table-operation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}
</style>
