<!--  -->
<template>
  <div>
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="formInline" />
    </el-card>

    <el-card>
      <app-table
        row-key="id"
        :pageObj="pageObj"
        :data="tableData"
        :col-configs="tableFields"
        empty-text="暂无数据"
      >
        <el-table-column slot="index" type="index" label="序号" />
        <el-table-column slot="enable" label="状态" width="150">
          <template slot-scope="scope">
            {{ scope.row.enable == "YES" ? "生效" : "失效" }}
          </template>
        </el-table-column>
        <el-table-column slot="options" label="操作" width="150">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="edit(scope.row)">
              编辑
            </el-button>
            <el-button
              type="text"
              size="small"
              @click="enable(scope.row, 'YES')"
              v-if="scope.row.enable == 'NO'"
            >
              生效
            </el-button>
            <el-button
              v-else
              type="text"
              size="small"
              @click="enable(scope.row, 'NO')"
            >
              失效
            </el-button>
          </template>
        </el-table-column>
      </app-table>
    </el-card>
    <!-- 批量导入 上传附件-->
    <el-dialog
      :visible.sync="batchDialogVisible"
      title="批量导入"
      width="400px"
    >
      <div class="dowload-modules">
        <el-button @click="handleClickDowloadFile" type="text"
          >模板下载</el-button
        >
      </div>
      <app-upload
        title="批量导入"
        listType="text"
        :drag="true"
        v-model="fileList"
        :ext="fileFormat"
        @response="fieldsResponse"
        action="/api/otrsignrelation/excelImport"
      ></app-upload>
    </el-dialog>
    <app-dialog
      v-model="dialogVisible"
      :title="dialogTitle"
      :isBtn="true"
      width="40%"
      @saveForm="saveForm"
      :btnSaveName="dialogType == 'add' ? '新增' : '编辑'"
    >
      <app-form
        ref="formRef"
        :fields="addFields"
        :data="dialogForm"
        style="margin-bottom: 20px"
      />
    </app-dialog>
  </div>
</template>

<script>
import appForm from "@/components/base/appForm";
import appDialog from "@/components/base/appDialog";
import appTable from "@/components/base/appTable";
import appUpload from "@/components/base/appUploadFile";
import { createExcel } from "@/utils/createExcel.js";
import { toParams } from "@/utils";

export default {
  components: { appForm, appTable, appUpload, appDialog },
  data() {
    return {
      formInline: {},
      dialogVisible: false,
      dialogTitle: "新建打标签",
      dialogType: "add",
      dialogForm: {
        emplId: "",
        deptId: "",
        comment: "",
        positionDescr: "",
        enable: "",
      },
      fileList: [],
      fileFormat: ".xlsx", // 上传文件格式
      batchDialogVisible: false,
      pageObj: {
        size: 10,
        total: 1,
        currentPage: 1,
        sizeFunc: (size) => {
          this.pageObj.size = size;
          this.labelPageList();
        },
        currentFunc: (currentPage) => {
          this.pageObj.currentPage = currentPage;
          this.labelPageList();
        },
      },
      tableData: [],
      labelTypeList: [],
    };
  },

  mounted() {
    this.labelPageList();
    this.labelTypeAll();
  },
  watch: {
    dialogVisible(val) {
      if (!val) {
        this.dialogForm = {
          emplId: "",
          deptId: "",
          comment: "",
          positionDescr: "",
          enable: "",
        };
        this.$refs.formRef.$refs.ruleForm.resetFields();
      }
    },
  },
  methods: {
    search() {
      this.pageObj.currentPage = 1;
      this.labelPageList();
    },
    labelPageList() {
      const { currentPage: page, size: limit } = this.pageObj;
      let params = {
        ...this.formInline,
        page: Number(page),
        limit: Number(limit),
        // order: "",
        // orderField: "",
      };
      this.api.label.labelApi.otrsignrelationPage(params).then((res) => {
        this.$nextTick(() => {
          console.log(res.data);
          this.tableData = res.data.list || [];
          this.pageObj.total = parseInt(res.data.total) || 0;
        });
      });
    },
    labelTypeAll() {
      this.api.label.labelApi.otrsigntypeListALl().then((res) => {
        this.$nextTick(() => {
          console.log(res.data);
          if (res.code == 0) {
            this.labelTypeList = res.data.map((p) => {
              return {
                value: p.id,
                label: p.signTypeName,
              };
            });
          }
        });
      });
    },
    //修改状态
    enable(data, type) {
      let params = {
        ...data,
        enable: type,
      };
      this.api.label.labelApi.otrsignrelationUpdate(params).then((res) => {
        console.log(res.data);
        if (res.code == 0) {
          this.$message.success("修改成功");
          this.search();
        }
      });
    },
    edit(data) {
      this.dialogType = "edit";
      this.dialogTitle = "编辑打标签";
      this.getLabelType(data);
      this.dialogForm = { ...data };
      this.dialogForm.signArr = [data.signTypeId, data.signId];
      this.dialogVisible = true;
    },
    //级联用与编辑展示
    getLabelType(data) {
      let vm = this;
      let params = {
        signTypeId: data.signTypeId,
      };
      vm.api.label.labelApi.otrsignListBySignTypeId(params).then((res) => {
        if (res.code == 0) {
          let nodes = res.data;
          for (const i in nodes) {
            nodes[i].label = nodes[i].signName;
            nodes[i].value = nodes[i].id;
            nodes[i].level = 2;
            nodes[i].leaf = true;
          }
          vm.$nextTick(() => {
            let key = null;
            vm.labelTypeList.map((p, i) => {
              if (p.value == data.signTypeId) {
                key = i;
                console.log(key);
              }
            });
            vm.$set(vm.labelTypeList[key], "children", [...nodes]);
          });
        } else {
        }
      });
    },
    //新增标签-新增/编辑
    saveForm() {
      const { validate } = this.$refs.formRef.$refs.ruleForm;
      validate((valid) => {
        if (valid) {
          let params = {
            ...this.dialogForm,
            signId: this.dialogForm.signArr[1],
            signArr: undefined,
          };
          let api =
            this.dialogType == "add"
              ? "otrsignrelationSave"
              : "otrsignrelationUpdate";
          let tip = this.dialogType == "add" ? "新增成功" : "修改成功";

          this.api.label.labelApi[api](params).then((res) => {
            console.log(res.data);
            if (res.code == 0) {
              this.$message.success(tip);
              this.dialogVisible = false;
              this.search();
            }
          });
        }
      });
    },
    fieldsResponse(data) {
      console.log(data, "555555555555");
      if (data.code == 0) {
        this.$message.success("导入成功");
        this.batchDialogVisible = false;
        this.fileList = [];
        this.search();
      } else {
        let arr = data.msg.split(";\n");
        let str = "";
        this.fileList = [];
        for (const iterator of arr) {
          str = str + "<div>" + iterator + "</div>";
        }
        this.$notify({
          title: "提示",
          dangerouslyUseHTMLString: true,
          type: "warning",
          message: str,
          duration: 0,
        });
      }
    },
    handleClickDowloadFile() {
      this.api.label.labelApi.otrsignrelationExcelExport().then((res) => {
        let name = "打标签模板.xlsx";
        createExcel(res, name);
      });
    },
    //批量导出
    batchExport() {
      let params = { ...this.formInline };
      this.api.label.labelApi.otrsignrelationExport(params).then((res) => {
        let name = "打标签.xlsx";
        createExcel(res, name);
      });
    },
  },

  computed: {
    addFields() {
      let vm = this;
      return [
        {
          label: "员工姓名",
          component: "app-select-emp",
          prop: "emplId",
          placeholder: "请输入员工姓名",
          clearable: true,
          operateType: this.dialogType,
          dialogVisible: this.dialogVisible,
          modelFormValue: { name: this.dialogForm.emplName },
          span: 12,
          events: {
            inputName: function (val) {
              vm.dialogForm.emplName = val;
            },
            inputAll: function (item) {
              console.log(item);
              vm.dialogForm.positionDescr = item.positionDescr;
            },
          },
          rules: [
            { required: true, message: "请输入员工姓名", trigger: "blur" },
          ],
        },
        {
          label: "适用组织",
          component: "app-select-company",
          prop: "deptId",
          placeholder: "请选择适用组织",
          clearable: true,
          span: 12,
          events: {
            inputName: function (val) {
              vm.dialogForm.deptName = val;
            },
          },
          rules: [
            { required: true, message: "请选择适用组织", trigger: "blur" },
          ],
        },
        {
          label: "任职岗位",
          prop: "positionDescr",
          placeholder: "请输任职岗位",
          clearable: true,
          span: 12,
          rules: [{ required: true, message: "请输任职岗位", trigger: "blur" }],
        },
        {
          label: "标签名称",
          component: "app-cascader",
          prop: "signArr",
          placeholder: "请选择标签名称",
          clearable: true,
          style: "width:100%",
          options: this.labelTypeList,
          props: {
            // label: "labelName",
            // value: "valueId",
            lazy: true,
            lazyLoad(node, resolve) {
              const { level } = node;
              vm.dialogForm.signTypeName = node.label;
              vm.dialogForm.signTypeId = node.value;
              if (!node.value) {
                resolve([]);
                return;
              }
              let params = {
                signTypeId: node.value,
              };
              vm.api.label.labelApi
                .otrsignListBySignTypeId(params)
                .then((res) => {
                  if (res.code == 0) {
                    let nodes = res.data;
                    for (const key in nodes) {
                      nodes[key].label = nodes[key].signName;
                      nodes[key].value = nodes[key].id;
                      nodes[key].level = level + 1;
                      nodes[key].leaf = level >= 1;
                    }
                    resolve(nodes);
                  }
                });
              // 通过调用resolve将子节点数据返回，通知组件数据加载完成
            },
          },
          events: {
            inputName: function (val) {
              vm.dialogForm.signName = val;
            },
          },
          span: 12,
          rules: [
            { required: true, message: "请选择标签类型", trigger: "change" },
          ],
        },
        {
          label: "标签说明",
          prop: "comment",
          placeholder: "请输入标签说明",
          type: "textarea",
          clearable: true,
          span: 24,
          rules: [
            { required: true, message: "请输入标签说明", trigger: "change" },
          ],
        },
        {
          label: "状态",
          component: "app-select",
          prop: "enable",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "生效", value: "YES" },
            { label: "失效", value: "NO" },
          ],
          span: 12,
          rules: [{ required: true, message: "请选择", trigger: "change" }],
          change: (e) => {},
        },
      ].map((item) => {
        item.labelWidth = "calc(6em + 12px)";
        return item;
      });
    },
    serchFields() {
      return [
        {
          label: "员工姓名",
          prop: "emplName",
          placeholder: "请输入标签类型名称",
          clearable: true,
          span: 6,
        },
        {
          label: "适用组织",
          component: "app-select-company",
          prop: "deptId",
          placeholder: "请选择适用组织",
          clearable: true,
          span: 6,
        },
        {
          label: "标签类型",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "signTypeId",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: this.labelTypeList,
          change: (e) => {},
          span: 6,
        },
        {
          label: "标签名称",
          prop: "signName",
          placeholder: "请输入标签名称",
          clearable: true,
          span: 6,
        },
        {
          label: "标签状态",
          component: "app-select",
          prop: "enable",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "全部", value: "" },
            { label: "生效", value: "YES" },
            { label: "失效", value: "NO" },
          ],
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 24,
          list: [
            {
              component: "app-button",
              btnLabel: "新建",
              size: "small",
              type: "primary",
              click: () => {
                this.dialogTitle = "新建打标签";
                this.dialogType = "add";
                this.dialogVisible = true;
              },
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "批量导入",
              size: "small",
              type: "primary",
              click: () => {
                this.batchDialogVisible = true;
              },
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "批量导出",
              size: "small",
              type: "primary",
              click: () => {
                this.batchExport();
              },
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "primary",
              click: () => {
                this.search();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(6em + 12px)";
        return item;
      });
    },

    tableFields() {
      return [
        //
        { slot: "index" },
        { prop: "emplId", label: "员工工号" },
        { prop: "emplName", label: "员工姓名" },
        { prop: "deptName", label: "所属机构" },
        { prop: "signTypeName", label: "标签类型" },
        { prop: "signId", label: "标签ID" },
        { prop: "signName", label: "标签名称" },
        { prop: "comment", label: "具体表述" },
        { slot: "enable", label: "标签状态" },
        { slot: "options" },
      ];
    },
  },
};
</script>
<style lang="scss" scoped>
.dowload-modules {
  margin-bottom: 10px;
  text-align: left;
}
</style>
