<template>
	<div>
		<el-table
			v-if="isTable"
			style="width: 100%"
			ref="table"
			:data="data"
			:show-header="showHeader"
			:border="border"
			:stripe="stripe"
			:empty-text="emptyText"
			:height="height"
			:max-height="maxHeight"
			:row-class-name="rowClassName"
			:v-loading="loading"
			:class="className"
			:cell-style="cellStyle"
			:row-style="rowStyle"
			:header-cell-style="headerStyle"
			:row-key="rowKey"
			:tree-props="treeProps"
			:expand-row-keys="expands"
			highlight-current-row
			@sort-change="handleSortChange"
			@selection-change="handleSelectionChange"
			@expand-change="expendDetail"
			@row-click="rowClick"
		>
			<!-- 展开行 -->
			<el-table-column v-if="expand" type="expand" width="40" show-overflow-tooltip>
				<template slot-scope="scope">
					<el-form label-position="left" inline class="demo-table-expand" label-width="80px">
						<el-form-item v-for="(item, index) in detilOptions" :label="item.label + ': '" :key="index">
							<span v-if="!item.html && !item.formatter">{{ scope.row[item.prop] }}</span>
							<span v-if="!item.html && item.formatter">{{ item.formatter(scope.row[item.prop]) }}</span>
							<span v-html="scope.row[item.prop]" v-if="item.html"></span>
						</el-form-item>
					</el-form>
				</template>
			</el-table-column>
			<!-- 多选 -->
			<el-table-column show-overflow-tooltip v-if="selection && !radioShow" type="selection" :reserve-selection="true" width="55" align="center" label="全选"></el-table-column>
			<!-- 单选 -->
			<el-table-column show-overflow-tooltip v-if="radioShow && !selection">
				<template slot-scope="scope">
					<el-radio class="radio" v-model="selectedRadio" :label="scope.row[radioLabel]" @change.native="getCurrentRow(scope.row)">&nbsp;</el-radio>
				</template>
			</el-table-column>
			<template v-for="(colConfig, index) in colConfigs">
				<slot v-if="colConfig.slot" :name="colConfig.slot"></slot>
				<component :key="index" v-else-if="colConfig.component" :is="config.component" :col-config="colConfig"></component>
				<el-table-column v-else show-overflow-tooltip v-bind="colConfig"></el-table-column>
			</template>
		</el-table>

		<div v-if="!isTable">
			<slot name="list" />
			<el-empty v-if="pageObj.total === 0" :description="emptyText" />
		</div>
		<div v-if="pageObj && pageObj.total > 0" class="pageObj">
			<el-pagination
				v-if="isTable"
				:layout="isTable ? '->,total,sizes,prev, pager,next,jumper' : '->,total,sizes,prev, pager,next'"
				:page-size="pageObj.size"
				:page-sizes="pageObj.sizes || [10, 15, 20, 25, 30, 35, 40, 45, 50]"
				:total="pageObj.total"
				:current-page="pageObj.currentPage"
				@size-change="pageObj.sizeFunc"
				@current-change="pageObj.currentFunc"
			/>

			<div class="custom-pagination" v-else>
				<el-pagination 
				  :total="pageObj.total" 
					@current-change="pageObj.currentFunc" 
					:current-page="pageObj.currentPage" 
					prev-text="上一页" 
					next-text="下一页" 
					layout="->,prev,next" 
				/>
				<div class="custom-text">第 {{ pageObj.currentPage }} 页/共 {{ pageTotal(pageObj.total, pageObj.size) }} 页</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'appTable',
	props: {
		pageObj: { type: [Object], default: () => {} },
		colConfigs: {
			type: Array,
			default: function () {
				return [];
			},
		},
		rowClassName: [Function],
		cellStyle: Object,
		rowStyle: Object,
		isTable: { type: Boolean, default: true },
		data: {
			type: Array,
			default: function () {
				return [];
			},
		},
		showHeader: {
			type: Boolean,
			default: true,
		},
		border: {
			type: Boolean,
			default: false,
		},
		maxHeight: {
			type: [String, Number],
			default: null,
		},
		height: {
			type: [String, Number],
			default: null,
		},
		loading: {
			type: Boolean,
			default: false,
		},
		className: {
			type: String,
			default: '',
		},
		rowKey: [String, Function],
		treeProps: {
			type: Object,
			default: () => {},
		},
		select: Function,
		selection: {
			type: Boolean,
			default: false,
		},
		radioShow: {
			type: Boolean,
			default: false,
		},
		radioLabel: {
			type: String,
			default: 'id',
		},
		expand: {
			type: Boolean,
			default: false,
		},
		uniqueOpened: {
			type: Boolean,
			default: true,
		},
		emptyText: { type: String, default: '暂无数据' },
		detilOptions: [Array],
		headerStyle: { type: Object, default: () => {} },
		stripe: { type: Boolean, default: false}
	},
	data() {
		return {
			selectedRadio: '',
			expands: [],
		};
	},
	methods: {
		// 设置选中状态
		toggleRowSelection(data) {
			data.map(row => {
				this.data.map(p => {
				if(row.feedbackFreq == p.feedbackFreq)
				this.$refs.table.toggleRowSelection(p, true)
				})
			})

			
		},
		handleSelectionChange(val) {
			this.$emit('handleSelectionChange', val);
		},
		getCurrentRow(row) {
			this.$emit('radioChange', row);
		},
		expendDetail(row, expandedRows) {
			// 是否只展开一行
			if (this.uniqueOpened) {
				if (expandedRows.length > 1) {
					this.data.forEach((item) => {
						if (item.id !== row.id) {
							this.$refs['table'].toggleRowExpansion(item, false);
						}
					});
				}
			}
			this.$emit('detailClick', row);
		},
		handleSortChange(column) {
			this.$emit('handleSortChange', column);
		},

		rowClick(row) {
			this.$emit('rowClick', row);
		},
		pageTotal(rowCount, pageSize) {
			if (rowCount == null || rowCount == '') {
				return 0;
			} else {
				if (pageSize != 0 && rowCount % pageSize == 0) {
					return parseInt(rowCount / pageSize);
				}
				if (pageSize != 0 && rowCount % pageSize != 0) {
					return parseInt(rowCount / pageSize) + 1;
				}
			}
		},
	},
};
</script>

<style>
.demo-table-expand .el-form-item {
	margin-right: 0;
	margin-bottom: 0;
	width: 50%;
}
</style>

<style lang="scss" scoped>
.pagination {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

::v-deep .el-pagination {
	white-space: nowrap;
	padding: 2px 5px;
	color: #303133;
	font-weight: bold;
	height: 30px;
	width: 100%;
}

::v-deep .el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color: #41475a;
	color: #fff;
}

::v-deep .el-pager li.active {
	background-color: #409eff;
	color: white;
	border-radius: 2px;
}

.pageObj {
	margin-top: 20px;
	text-align: right;

	.custom-pagination {
		position: relative;

		.custom-text {
			position: absolute;
			height: 28px;
			line-height: 28px;
			top: 2px;
			right: 134px;
			color: #c0c4cc;
			font-size: 13px;
			font-weight: 400;
		}
	}
}
.el-table {
	::v-deep .cell {
		white-space: pre-line;
	}
}
</style>
