<!-- 类别 -->
<template>
    <el-select v-model="currentValue" @change="changeObj($event)" v-bind="{ ...$attrs }" reserve-keyword>
        <el-option v-for="(item, index) in options" :key="index" :label="item.shortVal" :value="item.typeVal">
        </el-option>
    </el-select>
</template>
 <script>
 
 export default {
     //配置类型 1.课程/课程类别 2.培训-需求依据 3.培训-考核方法 4.讲师-等级
 
     //  "C_EDCT_BAKG": "教育学历",
     //  "C_EDCT_SCHL_TYPE": "院校类型",
     //  "C_BELONG_TO": "用工形式",
     //  "C_EMPL_CLASS": "员工类别",
     //  "C_EDCT_LRNG_STYLE": "受教育形式"
     props: {
         value: [String, Number, Array],
     },
     computed: {
         currentValue: {
             get() {
                 return this.value;
             },
             set(value) {
                 this.$emit('input', value);
             },
         },
     },
     data() {
         return {
             options: [],
             typeMap: {
                 1: 'C_EDCT_BAKG',
                 2: 'C_EDCT_SCHL_TYPE',
                 3: 'C_BELONG_TO',
                 4: 'C_EMPL_CLASS',
                 5: 'C_EDCT_LRNG_STYLE',
             }
         };
     },
     mounted() {
         this.getList()
     },
     methods: {
         changeObj(e) {
             if (Object.prototype.toString.call(e) == '[object Array]') {
                 let arr = []
                 e.map(code => {
                     arr.push(this.options.find(item => item.typeVal === code))
                 })
                 this.$attrs.change(arr)
             } else {
                 this.$attrs.change(this.options.find(item => item.typeVal === e))
             }
         },
 
         getList() {
             this.api.baseInfo.baseInfoApi.getListDict({ type_name: this.typeMap[this.$attrs.typeId], limit: 1000, page: 1, }).then(res => {
                 this.options = [...res.data.list];
             })
         },
     },
 
 };
 </script>