<!-- 可以使用自定义 -->
<template>
	<!-- <el-input v-on="$attrs.clear ? { clear: $attrs.clear } : ''" v-bind="{ ...$attrs }" v-model="currentValue"> -->
	<el-input v-on="{ focus: $attrs.focus ? $attrs.focus : '', clear: $attrs.clear ? $attrs.clear : '' }"
		v-bind="{ ...$attrs }" v-model="currentValue">
		<i v-if="$attrs.icon" :slot="$attrs.suffix" :class="['el-input__icon icon', $attrs.icon]"
			v-on="$attrs.serch ? { click: $attrs.serch } : ''"></i>
	</el-input>
</template>
<script>
//suffix | prefix
export default {
	name: 'appInput',
	props: {
		options: [Array, Function],
		value: [String, Number],
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
};
</script>

<style lang="scss" scoped>
.icon {
	cursor: pointer;
}
</style>
