<template>
	<el-time-select :disabled="disabled" v-model="currentValue" v-bind="{ ...$attrs }" />
</template>
<script>
export default {
	name: 'appTimeSelect',
	props: {
		value: [String, Array],
		disabled: Boolean,
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
};
</script>
<style lang="scss" scoped>
::v-deep .el-range-separator {
	display: flex;
	align-items: center;
}
</style>
