<template>
  <div class="search_person">
    <div class="search_fields">
      <div class="search_top">
        <div class="header_search">
          <div class="search_button">
            <select-person
              v-model="empId"
              placeholder="可按照 姓名/姓名拼音/工号 搜索员工"
              prefix="el-icon-search"
              style="width: 450px"
              :clearable="true"
              class="search_button_person"
            >
            </select-person>
            <el-button @click="getStaffInfoPage(1)">查询</el-button>
            <span class="clear_button" @click="clear">清空搜索</span>
          </div>
        </div>
      </div>
      <search-form
        :formFields="formFields"
        :formValue="formValue"
        class="search_form"
        style="text-align: left"
      >
      </search-form>
    </div>

    <div class="search_result">
      <div class="result_text">
        <span
          >共有<span class="result_num"> {{ count }} </span>位员工满足条件</span
        >
      </div>
      <div class="result_button">
        <el-button @click="alreadyAdd">已添加({{ dialogCount }})</el-button>
        <el-button
          type="primary"
          @click="goContrast(1)"
          :disabled="alreadyAddList.length > 3 || alreadyAddList.length < 2"
          title="人才对比一次最多三人"
          >人才对比</el-button
        >
      </div>
    </div>

    <div
      class="search_card"
      v-loading="tableData_loading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <search-card
        v-for="row in tableData"
        :key="row.id"
        :infoValue="row"
        class="result_card"
        :class="alreadyAddList.find((f) => f.emplid === row.emplid) ? 'added_card' : ''"
        @click.native="selected(row)"
        @tick="tickClick(row)"
        @shopp="shoppClick(row)"
      ></search-card>
      <div class="noData" v-if="tableData.length == 0">
        <img :src="noData" alt="" />
      </div>
    </div>

    <div class="search_footer">
      <div></div>
      <!-- <el-button type="primary" :loading="export_loading" @click="batchExport">
        <div class="export" style="display: inline-block">
          <img
            src="@/assets/ic_daochu.png"
            v-if="!export_loading"
            style="vertical-align: sub"
          />
          <span>导出列表</span>
        </div>
      </el-button> -->
      <div class="footer_pagination">
        {{ `共 ${count} 条记录` }}
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page.currentPage"
          :page-sizes="[8, 16, 32, 64]"
          :page-size="page.pageSize"
          layout="sizes, prev, pager, next, jumper"
          :total="count"
        >
        </el-pagination>
      </div>
    </div>
    <dialog-form
      width="20%"
      title="命名查询条件"
      @confirm="confirm"
      :form-fields="dialogFormFields"
      :form-value="dialogFormValue"
      :form-rules="dialogFormRules"
      :dialog-visible.sync="dialogVisible"
      :form-label-width="'calc(7em + 12px)'"
      :destroy-on-close="true"
    ></dialog-form>
    <app-dialog
      width="60%"
      :title="`已添加(全部${dialogCount})`"
      :dialog-visible.sync="addDialogVisible"
      :destroy-on-close="true"
      :class="'shopping_cart_dialog'"
    >
      <template>
        <div
          class="dialog_top"
          v-loading="shoppingCart_loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <div v-for="row in shoppingCart" :key="row.id" class="dialog_card">
            <div class="selected_card" @click.stop="checked(row)">
              <img :src="isSelected(row.id)" alt="" />
            </div>
            <add-card :infoValue="row" class="add_card"></add-card>
            <div class="remove_card" @click.stop="remove(row.id)">
              <i class="el-icon-delete"></i><span>移除</span>
            </div>
          </div>
        </div>

        <el-pagination
          background
          @size-change="handleSizeChangeDialog"
          @current-change="handleCurrentChangeDialog"
          :current-page="dialogPage.currentPage"
          :page-size="dialogPage.pageSize"
          :page-sizes="[10, 20, 30, 40]"
          layout="total, sizes, prev, pager, next, jumper"
          :total="dialogCount || 0"
          style="text-align: right; margin-top: 10px"
        >
        </el-pagination>
        <div class="dialog_button">
          <el-button class="cancel_button" round @click="allDelete">一键清除</el-button>
          <el-button
            round
            class="sure_button"
            @click="goContrast(0)"
            :disabled="
              selectedAlreadyAddList.length > 3 || selectedAlreadyAddList.length < 2
            "
            >马上对比({{ selectedAlreadyAddList.length }})</el-button
          >
        </div>
      </template>
    </app-dialog>
  </div>
</template>
<script>
import { mapState } from "vuex";
import selectPerson from "../components/selectPerson.vue";
import radioCheckbox from "../components/radioCheckbox.vue";
import searchCard from "./components/card.vue";
import searchForm from "./components/form.vue";
import dialogForm from "../components/dialogForm.vue";
import appDialog from "../components/dialog.vue";
import addCard from "./components/addCard.vue";

export default {
  components: {
    selectPerson,
    radioCheckbox,
    searchCard,
    searchForm,
    dialogForm,
    appDialog,
    addCard,
  },
  data() {
    return {
      weixuan: require("@/assets/weixuan.png"),
      gouxuan: require("@/assets/gouxuan.png"),
      noData: require("@/assets/svg/noData.svg"),
      roleList: [], //角色权限按钮判断
      empId: "",
      formValue: {}, // 当前搜索条件
      customQueryName: "",
      dialogFormValue: {
        customQueryName: "",
      },

      tableData: [], // 人员卡片数据
      alreadyAddList: [], // 已添加对比人员
      shoppingCart: [], //已添加人员卡片
      shoppingCart_loading: false,
      tableData_loading: false,
      export_loading: false,
      selectedAlreadyAddList: [], // 已添加人员卡片中被选中的卡片
      dialogVisible: false,
      addDialogVisible: false,
      count: 0,
      page: {
        currentPage: 1,
        pageSize: 8,
      },
      dialogCount: 0,
      dialogPage: {
        currentPage: 1,
        pageSize: 10,
      },
      nation_options: [],
      postList: [],
      workLocationList: [],
      politicalOutlookList: [],
      marriageList: [
        { value: "未婚", label: "未婚" },
        { value: "已婚", label: "已婚" },
      ],
      nativePlaceList: [],
      continuousAgeList: [
        { value: "1年以下", label: "1年以下" },
        { value: "1-3年", label: "1-3年" },
        { value: "3-5年", label: "3-5年" },
        { value: "5-10年", label: "5-10年" },
        { value: "10年以上", label: "10年以上" },
      ],
      sexList: [
        { value: "女", label: "女" },
        { value: "男", label: "男" },
      ],
      ageList: [
        { value: "25岁以下", label: "25岁以下" },
        { value: "25-35岁", label: "25-35岁" },
        { value: "35-40岁", label: "35-40岁" },
        { value: "40-45岁", label: "40-45岁" },
        { value: "45-50岁", label: "45-50岁" },
        { value: "50-55岁", label: "50-55岁" },
        { value: "55岁以上", label: "55岁以上" },
      ],
    };
  },
  created() {
    let vm = this;
    document.addEventListener("keydown", vm.handleEvent);
  },
  computed: {
    ...mapState({}),
    formFields() {
      let vm = this;
      return [
        {
          title: "基础信息",
          type: "basics",
          fields: [
            {
              label: "所属组织",
              prop: "deptId",
              components: "select-tree",
            },
            {
              label: "岗位",
              prop: "postId",
              components: "select-search-can",
            //  multiple: true,
              dataProps: {
                label: "stdPosnDescr",
                value: "stdPosnId",
              },
              // options: vm.postList,
            },
            {
              label: "入职年月",
              prop: "hiredate",
              components: "date",
              type: "month",
              placeholder: "请选择年月",
              format: "yyyy-MM",
              valueFormat: "yyyy-MM",
            },
            {
              label: "连续司龄",
              prop: "groupDay",
              components: "select",
              options: vm.continuousAgeList,
            },
            {
              label: "性别",
              prop: "sex",
              components: "select",
              options: vm.sexList,
            },
            {
              label: "年龄",
              prop: "age",
              components: "select",
              options: vm.ageList,
            },
            {
              label: "最高学历",
              prop: "edctBakg",
              components: "select",
              filterable:true,
              options: vm.highestEducationList,
            },
            {
              label: "政治面貌",
              prop: "politicalStaChn",
              components: "select",
              filterable:true,
              options: vm.politicalOutlookList,
            },
            {
              label: "民族",
              prop: "ethnicGrpCdDescr",
              components: "select",
              filterable:true,
              options: vm.nation_options,
            },
            {
              label: "婚姻状况",
              prop: "maritalStatusDescr",
              components: "select",
              options: vm.marriageList,
            },
            {
              label: "籍贯",
              prop: "nativePlace",
            },
          ],
        },
      ];
    },
    dialogFormFields() {
      return [
        {
          label: "查询条件名称",
          prop: "customQueryName",
        },
      ];
    },
    dialogFormRules() {
      return {
        customQueryName: [
          {
            required: true,
            message: "请输入查询条件名称",
            trigger: "blur",
          },
        ],
      };
    },
  },
  watch: {
    addDialogVisible(val) {
      if (!val) {
        this.selectedAlreadyAddList = [];
      }
    },
  },

  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  mounted() {
    this.getStaffInfoPage();
    this.getShoppingCart(); //购物车list
    this.getNationType(); //查询民族分类
    this.getHighestEducation(); //最高学历
    this.getPoliticalOutlook(); //政治面貌

    // console.log(this.selectedAlreadyAddList, "购物车历史");
  },
  methods: {
    //一键清除
    allDelete() {
      let vm = this;
      let ids = [];
      ids = vm.shoppingCart.map((p) => {
        return p.id;
      });
      vm.api.personContrast.personContrastApi
        .otrcomparelistDeleteMore(ids)
        .then((res) => {
          if (res.code == 0) {
            vm.dialogPage.currentPage = 1;
            vm.getShoppingCart();
            vm.getStaffInfoPage(1);
          }
        });
    },
    handleEvent(e) {
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.getStaffInfoPage(1);
      }
    },
    batchExport() {
      let vm = this;
      vm.export_loading = true;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmempcustomquery/exportEmpInfo",
        responseType: "blob",
        params: {
          ...vm.formValue,
          empId: vm.empId,
        },
      })
        .then((res) => {
          console.log(res);
          if (res.data && !res.data.code) {
            const downURL = window.URL.createObjectURL(new Blob([res.data]));
            // data 为获取到的二进制数据
            const listNode = document.createElement("a");
            // 这里注意 ： 非同源a标签的download去命名没有用
            listNode.download = "人员信息.xlsx";
            listNode.style.display = "none";
            listNode.href = downURL;
            document.body.appendChild(listNode);
            listNode.click();
            document.body.removeChild(listNode);
          } else {
            vm.$message({
              type: "warning",
              message: res.data.msg,
            });
          }
          vm.export_loading = false;
        })
        .catch((err) => {
          vm.export_loading = false;
        });
    },
    getShoppingCart() {
      let vm = this;
      vm.shoppingCart_loading = true;
      vm.api.personContrast.personContrastApi
        .otrcomparelistPage({
          limit: vm.dialogPage.pageSize,
          page: vm.dialogPage.currentPage,
        })
        .then((res) => {
          if (res.code == 0) {
            vm.shoppingCart = res.data.list;
            vm.dialogCount = res.data.total;
          }
          vm.shoppingCart_loading = false;
        })
        .catch((err) => {
          vm.shoppingCart_loading = false;
        });
    },

    getNativePlace() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmcomboxquery/queryNativeV",
        params: {},
      }).then((res) => {
        if (res && res.data) {
          vm.nativePlaceList = res.data.map((item) => {
            return {
              value: item.nativePlaceChn,
              label: item.descr,
            };
          });
        }
      });
    },

    getNationType() {
      let vm = this;
      vm.api.searchPerson.searchPersonApi.otrempqueryGetEthnicGrpCd().then((res) => {
        if (res && res.data) {
          vm.nation_options = res.data.map((item) => {
            return {
              value: item,
              label: item,
            };
          });
        }
      });
    },
    getPoliticalOutlook() {
      let vm = this;
      vm.api.searchPerson.searchPersonApi
        .xitemListAll({ fieldName: "POLITICAL_STA_CHN" })
        .then((res) => {
          if (res && res.data) {
            vm.politicalOutlookList = res.data.map((item) => {
              return {
                value: item.descr,
                label: item.descr,
                keyIdentification: 3422133434532,
              };
            });
          }
        });
    },
    getHighestEducation() {
      let vm = this;
      vm.api.searchPerson.searchPersonApi
        .xitemListAll({ fieldName: "C_EDCT_BAKG" })
        .then((res) => {
          if (res.code == 0) {
            vm.highestEducationList = res.data.map((item) => {
              return {
                value: item.descrshort,
                label: item.descrshort,
              };
            });
          }
        });
    },
    getWorkLocation() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmcomboxquery/queryLocationV",
        params: {},
      }).then((res) => {
        if (res && res.data) {
          vm.workLocationList = res.data.map((item) => {
            return {
              value: item.location,
              label: item.descr,
            };
          });
        }
      });
    },
    getPost() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmcomboxquery/queryPosnV",
        params: {},
      }).then((res) => {
        if (res && res.data) {
          vm.postList = res.data.map((item) => {
            return {
              value: item.positionNbr,
              label: item.descr,
            };
          });
        }
      });
    },
    getStaffInfoPage(currentPage = null) {
      let vm = this;
      if (currentPage) {
        vm.page.currentPage = currentPage;
      }
      vm.tableData_loading = true;

      let params = {
        limit: vm.page.pageSize,
        page: vm.page.currentPage,
        ...vm.formValue,
        emplId: vm.empId,
      };
      vm.api.searchPerson.searchPersonApi
        .otrempqueryPageQuery(params)
        .then((res) => {
          if (res.code == 0) {
            vm.tableData = res.data.list.map((item) => {
              return {
                id: item.id,
                name: item.name,
                sex: item.sex,
                deptName: item.companyName + "-" + item.deptName,
                position: item.positionDescr,
                emplid: item.emplid,
                age: item.age,
                national: item.ethnicGrpCdDescr,
                politicsStatus: item.politicCtc,
                nativePlace: item.nativePlace,
                siLing: item.groupAge,
                workPlace: item.workLoc,
                url: item.photoData ? "data:image/png;base64," + item.photoData : null,
                isAddCompare: item.isAddCompare,
              };
            });
            vm.count = res.data.total;
          }
          vm.tableData_loading = false;
        })
        .catch((err) => {
          vm.tableData_loading = false;
        });
    },
    getSearchCondition() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmempcustomquery",
      }).then((res) => {
        if (res && res.data) {
          vm.searchFormList = [...res.data];
        }
      });
    },
    goContrast(type) {
      //type 0 =>马上去对比，对比数据取购物车中的数据；1=》人才对比，取得是人才搜索列表对应打勾的数据
      let vm = this;
      let res = type == 1 ? true : false;
      let arr = res
        ? vm.alreadyAddList.map((p) => window.btoa(p.emplid))
        : vm.selectedAlreadyAddList.map((p) => window.btoa(p.emplId));
      let pathInfo = this.$router.resolve({
        path: "/personContrast",
        query: {
          data: JSON.stringify(arr),
        },
      });
      window.open(pathInfo.href, "_blank");
    },
    tickClick(row) {
      // 存在则删除，不在则添加
      let index = this.alreadyAddList.findIndex((f) => f.emplid === row.emplid);
      if (index >= 0) {
        this.alreadyAddList.splice(index, 1);
      } else {
        this.alreadyAddList.push(row);
      }
    },
    shoppClick(row) {
      let vm = this;
      console.log(row);
      vm.api.personContrast.personContrastApi
        .otrcomparelistAdd({ compareId: row.emplid })
        .then((res) => {
          if (res.code == 0) {
            if (res.data != 0) {
              vm.$message({
                message: "成功添加人才对比",
                type: "success",
              });
              vm.getShoppingCart();
              vm.getStaffInfoPage();
            }
          }
        });
    },
    selected(row) {
      let routeUrl = this.$router.resolve({
        path: "/talentPortrait",
        query: {
          empId: window.btoa(row.emplid),
        },
      });
      window.open(routeUrl.href, "_blank");
    },
    search() {
      if (this.customQueryName) {
        this.formValue =
          {
            ...this.searchFormList.find((f) => f.customQueryName === this.customQueryName)
              ?.formfields,
          } || {};
      }
    },
    clear() {
      this.empId = "";
      this.customQueryName = "";
      this.formValue = {};
    },
    handleCurrentChangeDialog(currentPage) {
      this.$set(this.dialogPage, "currentPage", currentPage);
      this.getShoppingCart();
    },
    handleSizeChangeDialog(pageSize) {
      this.$set(this.dialogPage, "pageSize", pageSize);
      this.$set(this.dialogPage, "currentPage", 1);
      this.getShoppingCart();
    },
    handleCurrentChange(currentPage) {
      this.$set(this.page, "currentPage", currentPage);
      this.getStaffInfoPage();
    },
    handleSizeChange(pageSize) {
      this.$set(this.page, "pageSize", pageSize);
      this.$set(this.page, "currentPage", 1);
      this.getStaffInfoPage();
    },

    confirm() {
      let vm = this;
      if (vm.searchFormList.length == 5) {
        vm.$message({
          message: "不能超过5个，请删除后再保存！",
          type: "warning",
        });
        vm.dialogVisible = false;
        return;
      }

      let nationId = "";
      let lv1IndexId3 = "";
      let countryId = "";
      console.log(vm.dialogFormValue, vm.formValue, "000000000");
      if (vm.formValue.labelId && vm.formValue.labelId.length > 0) {
        labelId = JSON.stringify(vm.formValue.labelId);
      }
      if (vm.formValue.nationId && vm.formValue.nationId.length > 0) {
        nationId = JSON.stringify(vm.formValue.nationId);
      }
      if (vm.formValue.countryId && vm.formValue.countryId.length > 0) {
        countryId = JSON.stringify(vm.formValue.countryId);
      }
      if (vm.formValue.lv1IndexId3 && vm.formValue.lv1IndexId3.length > 0) {
        lv1IndexId3 = JSON.stringify(vm.formValue.lv1IndexId3);
      }

      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmempcustomquery/add",
        data: {
          ...vm.formValue,
          ...vm.dialogFormValue,
          labelId: labelId || undefined,
          nationId: nationId || undefined,
          countryId: countryId || undefined,
          lv1IndexId3: lv1IndexId3 || undefined,
        },
      }).then((res) => {
        if (res.data.code == 0) {
          vm.$message({
            message: "创建成功",
            type: "success",
          });
          vm.getSearchCondition();
        }
        vm.dialogVisible = false;
      });
    },
    delSearchTerms(key) {
      let vm = this;
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmempcustomquery/delete",
        data: {
          id: key,
        },
      }).then((res) => {
        if (res.data.code == 0) {
          vm.$message({
            message: "删除成功",
            type: "success",
          });
          vm.getSearchCondition();
        }
      });
    },
    getLabelId(id) {
      let vm = this;
      let arr = [...vm.label_options];
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmcomboxquery/queryLabel",
        params: {
          labelTypeId: id,
        },
      }).then((res) => {
        if (res && res.data) {
          let nodes = res.data;
          for (const key in nodes) {
            nodes[key].labelName = nodes[key].labelName;
            nodes[key].valueId = nodes[key].labelId;
            nodes[key].level = 2;
            nodes[key].leaf = true;
          }
          for (const key2 in arr) {
            if (arr[key2].valueId == id) {
              arr[key2].children = nodes;
            }
          }
          vm.$nextTick(() => {
            vm.label_options = [...arr];
          });
        }
      });
    },
    alreadyAdd() {
      if (this.shoppingCart.length > 0) {
        this.addDialogVisible = true;
      } else {
        this.$message.warning("请先添加人员卡片");
      }
    },
    checked(row) {
      // 存在则删除，不在则添加
      let vm = this;
      let index = this.selectedAlreadyAddList.findIndex((f) => f.id === row.id);
      if (index >= 0) {
        this.selectedAlreadyAddList.splice(index, 1);
      } else {
        this.selectedAlreadyAddList.push(row);
        console.log(this.selectedAlreadyAddList);
      }
    },
    remove(id) {
      let vm = this;
      vm.api.personContrast.personContrastApi.otrcomparelistDelete(id).then((res) => {
        if (res.code == 0) {
          let index = this.selectedAlreadyAddList.findIndex((f) => f.id === id);
          if (index >= 0) {
            vm.selectedAlreadyAddList.splice(index, 1);
          }
          vm.$message({
            message: "移除成功",
            type: "success",
          });
          vm.getShoppingCart();
          vm.getStaffInfoPage();
        }
      });
    },
    isSelected(id) {
      if (this.selectedAlreadyAddList.find((f) => f.id === id)) {
        return this.gouxuan;
      }
      return this.weixuan;
    },
  },
};
</script>
<style lang="scss" scoped>
.noData {
  margin: 25px 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 300px;
  }
}

.search_person {
  padding: 20px 20px 10px 20px;
}

.search_fields {
  background: #fff;
  border-radius: 20px 20px 15px 15px;
}

.search_top {
  padding: 30px 30px 0 30px;
  // height: 160px;
  background: url("@/assets/bg_sousuo.png") no-repeat;
  overflow: hidden;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 142, 237, 0.61);
}

.header_search {
  text-align: center;

  .search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 25px;

    .el-select {
      position: absolute;
      font-size: 14px;
      display: flex;
    }

    .clear_button {
      padding: 0 10px;
      color: #fff;
      position: relative;
      left: 240px;
      cursor: pointer;
    }
  }

  ::v-deep {
    .el-input:not(.el-input--mini) .el-input__inner {
      border-radius: 15px;
    }

    .el-radio__inner {
      border-radius: 0;
      top: 1px;
    }

    .el-radio__input.is-checked .el-radio__inner::after {
      content: "";
      width: 10px;
      height: 6px;
      border: 2px solid white;
      border-top: transparent;
      border-right: transparent;
      text-align: center;
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      transform: rotate(-45deg);
      border-radius: 2px;
      background: none;
    }
  }

  .el-button {
    color: #fff;
    background-color: #008eed;
    border-radius: 15px;
    border: 0;
    position: relative;
    left: 220px;
    padding: 10px 20px;
  }

  .el-button--small {
    font-size: 14px;
    padding: 10px 30px 9px 30px;
  }

  .checkbox_group {
    padding-top: 20px;

    ::v-deep .el-checkbox__label {
      font-size: 16px;
      color: #fff;
    }
  }
}

.header_unfold {
  // text-align: right;
  position: relative;
  top: -20px;
  display: inline-block;
  left: calc(50% - 150px);

  .el-icon-d-arrow-left {
    transform: rotate(270deg);
    padding: 0 5px;
  }

  .icon_unfold {
    transform: rotate(90deg);
  }

  span {
    padding: 5px 20px;
    color: #008eed;
    background: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    border: 1px solid #008eed;
  }
}

.search_form {
  padding: 20px 0;
}

.save_search {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .el-button--primary {
    border-radius: 25px;
  }
}

.search_result {
  //height: 60px;
  margin: 10px 0;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  .result_text {
    font-size: 16px;
    font-weight: 600;

    .result_num {
      font-size: 18px;
      color: #008eed;
    }
  }

  .result_button {
    cursor: pointer;

    .el-button {
      padding: 10px 25px;
      border-radius: 20px;
    }

    .el-button--default {
      color: #008eed;
      background: #fff;
      border: 1px solid #008eed;
    }
  }
}

.search_card {
  display: flex;
  flex-wrap: wrap;
  min-height: 40vh;
}

.result_card {
  background: url("@/assets/weixuanzhong.png") top right no-repeat, #fff;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
  width: calc((100% - 227px) / 4);

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

.added_card {
  background: url("@/assets/xuanzhong.png") top right no-repeat, #fff;
}

.search_footer {
  display: flex;
  justify-content: space-between;
  // background-color: #fff;
  padding: 10px 0;

  .el-button {
    padding: 6px 20px;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    border: 1px solid #bdbdbd;
  }

  .export {
    display: flex;
    align-items: center;
  }

  .footer_pagination {
    display: inline-flex;
    align-items: center;
  }

  ::v-deep {
    .el-pagination {
      margin: 0 !important;
    }

    .el-pager li.active {
      color: #fff !important;
    }

    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
      background-color: #fff;
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #008eed;
    }
  }
}

.dialog_top {
  height: 42vh;
  overflow-y: auto;
}

.dialog_card {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin: 10px;
  background: #eef1f8;
  border-radius: 16px;
  //height: 102px;
  padding: 10px 24px;
  padding-right: 32px;
  box-sizing: border-box;

  .selected_card {
    padding: 0 10px;
  }

  .add_card {
    width: calc(100% - 120px);
  }

  .remove_card {
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    position: relative;
    right: 0;
    cursor: pointer;
    padding: 6px 20px;

    span {
      //margin-left: 2px;
    }
  }
}

.dialog_button {
  height: 90px;
  line-height: 112px;
  text-align: right;
  border-top: 1px solid #f0f0f0;
  margin-top: 24px;

  .cancel_button {
    border: 1px solid #008eed;
    color: #008eed;
    width: 118px;
    vertical-align: middle;
    margin-right: 22px;
  }

  .sure_button {
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
    box-shadow: 0px 6px 11px 0px rgba(166, 208, 255, 0.33);
    color: #fff;
    border: 0;
  }
}
</style>

<style lang="scss">
.header_search {
  .search_button_person {
    .el-input__suffix {
      right: 78px !important;
    }
  }
}

.shopping_cart_dialog {
  .el-dialog__header {
    border-bottom: 1px solid #f0f0f0;
  }

  .el-dialog__body {
    padding: 20px 40px !important;
  }

  .el-button.is-disabled,
  .el-button.is-disabled:focus,
  .el-button.is-disabled:hover {
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
    box-shadow: 0px 6px 11px 0px rgba(166, 208, 255, 0.33);
    color: #fff;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #fff !important;
  }
}
</style>
