<template>
  <div class="check-work-board">
    <el-row :gutter="20">
      <el-col :span="7"
        ><div class="model line1">
          <model-title title="个人信息"></model-title>
          <div class="base-info-main">
            <div class="left">
              <img :src="require('@/assets/forum/person.jpg')" alt="" />
            </div>
            <div class="right">
              <div class="title">
                <div class="name">张晓华</div>
                (13444)
              </div>
              <div>CHINASIE</div>
              <div>XX处室 XX科室</div>
              <div>薪酬专员</div>
            </div>
          </div>
        </div></el-col
      >
      <el-col :span="17"
        ><div class="model line1">
          <model-title title="考勤看板"></model-title>
          <segmentation-model
            :modelList="segmentationList"
            @eventClick="checkWork"
          ></segmentation-model></div
      ></el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="7"
        ><div class="model line2">
          <model-title title="排班日历"></model-title>
          <div class="calendar">
            <el-calendar v-model="monthlyTime"> </el-calendar>
          </div>
        </div>
      </el-col>
      <el-col :span="17"
        ><el-row :gutter="20">
          <el-col :span="12"
            ><div class="model line3 pointer" @click="goDetailed('/leaveDetailed')">
              <model-title title="请假数据总览"></model-title>
              <app-charts class="chartsHeight220" v-model="leaveDataCharts" />
            </div>
          </el-col>
          <el-col :span="12"
            ><div class="model line3">
              <model-title title="假期余额" style="margin-bottom: 0"></model-title></div
          ></el-col>
        </el-row>
        <el-row style="margin-top: 20px">
          <el-col :span="24"
            ><div class="model line3 pointer" @click="goDetailed('/timeoutClockDetailed')">
              <model-title title="超时打卡数据统计"></model-title>
              <app-charts class="chartsHeight220" v-model="timeoutClockDataCharts" />
            </div>
          </el-col>
        </el-row>
        <el-row style="margin-top: 20px">
          <el-col :span="24"
            ><div class="model line3 pointer" @click="goDetailed('/yearWorkDetailed')">
              <model-title title="年度工时统计对比"></model-title>
              <app-charts class="chartsHeight220" v-model="yearWorkCharts" />
            </div>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <app-dialog
      title="打卡异常"
      v-model="clockAbnormalDialogVisible"
      width="45%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="clockAbnormalColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
  </div>
</template>
<script>
import modelTitle from "@/pages/components/modelTitle.vue";
import appDatePicker from "@/components/base/appDatePicker/index.vue";
import appTable from "@/components/base/appTable";
import appDialog from "@/components/base/appDialog";
import appCharts from "@/components/base/appCharts";
import segmentationModel from "@/pages/components/segmentationModel.vue";
export default {
  data() {
    return {
      paySlipMonth: "",
      tableData: [],
      monthlyTime: "",
      empowerTableData: [], //授权状态
      segmentationList: [
        { index1: "出勤总工时（天）", index2: "120", id: "1" },
        { index1: "请假总时数（天）", index2: "100", id: "2" },
        { index1: "上班晚打卡（次）", index2: "80%", id: "3" },
        { index1: "下班早打卡（次）", index2: "20", id: "4" },
        { index1: "缺卡（次）", index2: "20", id: "5" },
        { index1: "未打卡（次）", index2: "20", id: "6" },
      ],
      clockAbnormalDialogVisible: false,
    };
  },
  components: {
    modelTitle,
    appDatePicker,
    appTable,
    segmentationModel,
    appDialog,
    appCharts,
  },
  computed: {
    leaveDataCharts() {
      return {
        title: {
          text: "总人数", // 主标题
          x: "35%",
          y: "center",
          textStyle: {
            // 主标题样式
            fontSize: "16",
            // color: "#06A17E",
            fontweight: "normal",
          },
          subtext: " 262", // 副标题
          subtextStyle: {
            // 副标题样式
            // color: 'red',
            fontSize: 16,
            fontWeight: "normal",
          },
        },
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: "center",
          right: "right",
        },
        series: [
          {
            type: "pie",
            radius: ["46%", "60%"],
            center: ["40%", "50%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: "outside",
              formatter: "{d}%",
            },

            labelLine: {
              // show: false,
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
          },
        ],
      };
    },
    //超时打卡数据统计
    timeoutClockDataCharts() {
      return {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        grid: { top: "7%", bottom: "14%", left: "8%", right: "3%" },
        xAxis: [
          {
            type: "category",
            data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            axisPointer: {
              type: "shadow",
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            name: "Precipitation",
            min: 0,
            max: 250,
            axisPointer: {
              type: "shadow",
            },
            interval: 50,
            axisLabel: {
              formatter: "{value} ml",
            },
          },
          {
            type: "value",
            name: "Temperature",
            show: false,
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
              formatter: "{value} °C",
            },
          },
        ],
        series: [
          {
            name: "Evaporation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
          },
          {
            name: "Precipitation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
          },
          {
            name: "Temperature",
            type: "line",
            yAxisIndex: 1,
            tooltip: {
              valueFormatter: function (value) {
                return value + " °C";
              },
            },
            data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2],
          },
        ],
      };
    },
    //年度工时统计对比
    yearWorkCharts() {
      return {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        grid: { top: "7%", bottom: "14%", left: "8%", right: "3%" },
        xAxis: [
          {
            type: "category",
            data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            axisPointer: {
              type: "shadow",
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            name: "Precipitation",
            min: 0,
            max: 250,
            axisPointer: {
              type: "shadow",
            },
            interval: 50,
            axisLabel: {
              formatter: "{value} ml",
            },
          },
          {
            type: "value",
            name: "Temperature",
            show: false,
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
              formatter: "{value} °C",
            },
          },
        ],
        series: [
          {
            name: "Evaporation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
          },
          {
            name: "Precipitation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
          },
          {
            name: "Temperature",
            type: "line",
            yAxisIndex: 1,
            tooltip: {
              valueFormatter: function (value) {
                return value + " °C";
              },
            },
            data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2],
          },
        ],
      };
    },
    tableFields() {
      return [
        { prop: "emplId", label: "月份" },
        { prop: "emplName", label: "工资类型" },
        { prop: "age", label: "发放时间" },
      ];
    },
    clockAbnormalColConfigs() {
      return [
        { prop: "emplId", label: "姓名" },
        { prop: "emplName", label: "班次日期" },
        { prop: "age", label: "上班卡" },
        { prop: "companyName", label: "下班卡" },
        { prop: "companyName", label: "异常说明" },
      ];
    },
    empowerTableFields() {
      return [
        { prop: "emplId", label: "部门" },
        { prop: "emplName", label: "授权岗位" },
        { prop: "age", label: "授权状态" },
        { prop: "age", label: "到期时间" },
      ];
    },
  },
  mounted() {
    this.getUserInfo();
  },
  methods: {
    handleSelectionChange(row) {},
    getUserInfo() {
      // this.api.publicInfo.publicInfoApi.userInfo().then((res) => {
      //   if (res.data.list) {
      //     this.options = [...this.options, ...res.data.list];
      //   }
      // });
    },
    goDetailed(path) {
      this.$router.push(path);
    },
    checkWork(data) {
      console.log(data);
      if (data.id == "5" || data.id == "6") {
        this.clockAbnormalDialogVisible = true;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.check-work-board {
  .model {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    &.line1 {
      height: 200px;
    }
    &.line2 {
      height: 894px;
    }
    &.line3 {
      height: 285px;
    }
    .base-info-main {
      display: flex;
      .left {
        width: 220px;
        img {
          width: 108px;
          height: 118px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .right {
        flex: 1;
        text-align: left;
        padding-top: 6px;
        font-size: 16px;
        > div {
          line-height: 26px;
        }
        .title {
          margin-bottom: 10px;
          .name {
            font-size: 24px;
            margin-right: 6px;
            display: inline-block;
          }
        }
      }
    }
    .calendar {
    }
    .chartsHeight220 {
      width: 100%;
      height: 220px;
    }
  }
  .pointer{
     cursor: pointer;
  }
}
</style>
<style lang="scss">
.check-work-board {
  .model {
    .holiday-quota {
      .el-divider--vertical {
        height: 5em;
      }
    }
    .calendar {
      .el-calendar {
        font-size: 16px;
      }
      .el-calendar__header {
        padding-top: 0;
        .el-calendar__button-group {
          .el-button {
            font-size: 16px;
          }
        }
      }
      .el-calendar-table .el-calendar-day {
        height: 86px;
      }
      .el-calendar__body {
        padding-bottom: 0;
      }
    }
  }
}
</style>
