<template>
  <div class="data-import">
    <el-tabs v-model="activeName">
      <el-tab-pane
        :label="item.label"
        :name="item.name"
        v-for="(item, i) in tabList"
        :key="i"
      >
        <keep-alive>
          <component :is="activeName" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import staffLabel from "./components/staffLabel";
import cadreInvestigate from "./components/cadreInvestigate";
export default {
  components: { staffLabel, cadreInvestigate },
  data() {
    return {
      tabList: [
        {
          name: "staffLabel",
          label: "员工标签",
        },
        {
          name: "cadreInvestigate",
          label: "干部考察情况",
        },
        {
          name: "cadreJobInfo",
          label: "干部兼职信息",
        },
        {
          name: "competency",
          label: "胜任力",
        },
      ],
      activeName: "staffLabel",
    };
  },
};
</script>
