@import './transition.scss';    //过度动画css
@import './element-variables.scss'; //自定义element主题

body, html, h1, p, span{
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0 !important;
    padding: 0;
    background-color: #f8f8f8;

}
$dt_a:#41b883;
$dt_b:#41b8838a;
$dt_c:#41b88300;
$vt_a:#35495e;
$vt_b:#35495e83;
$vt_c:#35495e00;


.mb14{
    margin-bottom: 14px;
}

.mb20{
    margin-bottom: 20px;
   
}

.red{
    color: red;
    font-weight: 500;
}

.el-card__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.el-dialog__header{
    text-align: left;
}

.el-dialog--center .el-dialog__body{
    padding-top: 10px;
}