<template>
	<div ref="chartDom"></div>
</template>

<script>
import debounce from 'lodash/debounce';
import { addListener, removeListener } from 'resize-detector';
export default {
	name: 'appCharts',
	props: {
		value: Object,
	},

	computed: {
		option: {
			get() {
				return this.value;
			},
		},
	},
	watch: {
		option: {
			handler(val, oldVal) {
				try {
					this.chart.setOption(val);
				} catch (error) {}
			},
			deep: true,
		},
	},
	created() {
		this.resize = debounce(this.resize, 300); // 将resize附加一个去抖算法
	},
	mounted() {
		this.renderChart();
		addListener(this.$refs.chartDom, this.resize);
	},
	beforeDestroy() {
		removeListener(this.$refs.chartDom, this.resize);
		this.chart.dispose();
		this.chart = null;
	},
	methods: {
		resize() {
			console.log('resize');
			this.chart.resize();
		},
		renderChart() {
			this.chart = this.echarts.init(this.$refs.chartDom);
			try {
				this.chart.setOption(this.option);
			} catch (error) {}
		},
	},
};
</script>
