<template>
  <div>
    <div class="whole_card">
      <div class="left_card">
        <el-image
          style="width: 64px; height: 64px; border-radius: 50%"
          :src="sex == '男' ? nanPersonImg : personImg"
          fit="fill"
        >
          <!-- :src="'data:image/png;base64,'+photoData" -->
        </el-image>
      </div>
      <div class="right_card">
        <div
          style="width: 220px; margin-right: 18px; text-align: left; margin-left: 20px"
        >
          <div class="row1 lheight">
            <span class="name">{{ name }}</span>
            <span class="empId">{{ emplId }}</span>
            <span class="sex" v-if="sexImg"><img :src="sexImg" alt="" /></span
            ><span class="member" v-if="memberImg"><img :src="memberImg" alt="" /></span>
            <!-- <span class="emp_id" title="点击跳转至该员工简历页" @click="resume"
              >{{ empId }}<i class="el-icon-view"></i
            ></span> -->
          </div>
          <div class="lheight">
            <span v-if="age">{{ age + "岁" }}</span
            ><span>{{ sex }}</span
            ><span v-if="ethnicGrpCdDescr">{{ ethnicGrpCdDescr }}</span
            ><span v-if="nativePlace">{{ nativePlace }}</span>
          </div>
        </div>
        <div class="row23">
          <div v-if="orgDesc" class="lheight">
            {{ orgDesc }}
          </div>
          <div v-if="seniorityTips" class="lheight">司龄：{{ seniorityTips }}</div>
          <div v-if="workLoc" class="lheight">{{ workLoc }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    infoValue: Object,
  },
  data() {
    return {
      nan: require("@/assets/ic_nan.png"),
      nv: require("@/assets/ic_nv.png"),
      member: require("@/assets/ic_dang.png"),
      name: "", //员工姓名
      empId: "", // 员工工号
      age: "", // 年龄
      sex: "", // 性别
      ethnicGrpCdDescra: "", //民族
      politicsStatus: "", //政治面貌
      nativePlace: "", //籍贯
      orgDesc: "",
      deptName: "", // 部门
      position: "", // 岗位
      seniorityTips: "", // 司龄
      workLoc: "", // 工作地点
      personImg: require("@/assets/forum/person.jpg"),
      nanPersonImg: require("@/assets/forum/nan-person.webp"),
    };
  },
  created() {
    Object.assign(this, this.infoValue);
    console.log(this.infoValue, "----", this);
  },
  computed: {
    sexImg() {
      if (this.infoValue.sex === "男") {
        return this.nan;
      } else if (this.infoValue.sex === "女") {
        return this.nv;
      }
      return "";
    },
    memberImg() {
      if (this.politicCtc === "中国共产党党员") {
        return this.member;
      }
      return "";
    },
  },
  methods: {
    resume() {
      console.log("跳转简历", this.infoValue.id);
      // 简历跳转，以新窗口打开
      let routeUrl = this.$router.resolve({
        path: "/dashboard",
        query: { emplid: this.infoValue.id },
      });
      window.open(routeUrl.href, "_blank");
    },
  },
};
</script>

<style lang="scss" scoped>
.whole_card {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  .left_card {
    width: 120px;
    text-align: center;
  }
  .right_card {
    width: calc(100% - 120px);
    display: flex;
    color: #666;
    font-size: 14px;
    //justify-content: space-between;
    .lheight {
      line-height: 26px;
    }
    .member {
      display: inline-block;
      width: 24px;
      height: 24px;
      img {
        width: 100%;
      }
    }
    .name {
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }
    .empId {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }

    .sex {
      display: inline-block;
    }
    .emp_id {
      padding: 2px 10px;
      font-size: 16px;
      border-radius: 25px;
      color: #fff;
      background-color: #008eed;
      cursor: pointer;
    }
    div {
      //line-height: 24px;
      span {
        margin-right: 12px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.row1 {
  display: flex;
  padding-top: 10px;
  //justify-content: space-between;
}
.el-icon-view {
  margin-left: 10px;
}

.row23 {
  flex: 1;
}
</style>
