<template>
  <div v-bind="{ ...$attrs }" class="person_card">
    <div class="person_card_tick" @click.stop="$emit('tick', { emplid: emplid })"></div>
    <div class="whole_card">
      <div class="card_top">
        <div class="top_left">
          <div class="left_photo">
            <img
              style="width: 80px; height: 80px; border-radius: 100%"
              :src="sex == '男' ? nanPersonImg : personImg"
              fit="fill"
            />
          </div>
        </div>
        <div class="top_right">
          <div class="right_row row1">
            <span class="name">{{ name }}</span
            ><span class="emp_id"> {{ emplid }}</span
            ><span class="sex" v-if="sexImg"><img :src="sexImg" alt="" /></span
            ><span class="member" v-if="memberImg"><img :src="memberImg" alt="" /></span>
          </div>
          <div class="right_row row2">
            <span v-if="age"> {{ age + "岁" }}</span
            ><span>{{ sex }}</span
            ><span>{{ national }}</span
            ><span>{{ nativePlace }}</span>
            <span>司龄：{{ siLing }} </span>
          </div>
        </div>
      </div>
      <div class="card_bottom">
        <div style="width: 90%; margin-top: 6px">
          <span>{{
            deptName
              ? deptName + (position ? "-" + position : "")
              : position
              ? position
              : ""
          }}</span>
        </div>
        <div></div>
        <div>
          <div class="shopp_div" @click.stop="$emit('shopp')" v-if="!isAddCompare">
            <img :src="ic_nor_tianjiaren" class="shopp" alt="" />
          </div>
          <div class="shopp_div" v-else>
            <img :src="ic_sele_tianjiaren" class="shopp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    infoValue: Object,
  },
  data() {
    return {
      nan: require("@/assets/ic_nan.png"),
      nv: require("@/assets/ic_nv.png"),
      member: require("@/assets/ic_dang.png"),
      ic_nor_tianjiaren: require("@/assets/ic_nor_tianjiaren.png"),
      ic_sele_tianjiaren: require("@/assets/ic_sele_tianjiaren.png"),
      name: "", //员工姓名
      emplid: "", // 员工工号
      age: "", // 年龄
      sex: "", // 性别
      national: "", //民族
      politicsStatus: "", //政治面貌
      nativePlace: "", //籍贯
      deptName: "", // 部门
      position: "", // 岗位
      siLing: "", // 司龄
      workPlace: "", // 工作地点
      personImg: require("@/assets/forum/person.jpg"),
      nanPersonImg: require("@/assets/forum/nan-person.webp"),
    };
  },
  computed: {
    sexImg() {
      if (this.infoValue.sex === "男") {
        return this.nan;
      } else if (this.infoValue.sex === "女") {
        return this.nv;
      }
      return "";
    },
    memberImg() {
      if (
        this.politicsStatus === "中国共产党党员" ||
        this.politicsStatus === "中国共产党预备党员"
      ) {
        return this.member;
      }
      return "";
    },
  },
  created() {
    Object.assign(this, this.infoValue);
  },
  watch: {
    infoValue() {
      Object.assign(this, this.infoValue);
      console.log(this.infoValue, "----", this);
    },
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.person_card {
  padding: 20px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  .person_card_tick {
    position: absolute;
    background: transparent;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 33px;
    height: 33px;
  }
}
.whole_card {
  width: 100%;
  // 强制字符换行
  table-layout: fixed;
  word-wrap: break-all;
  word-break: normal;
  overflow: hidden;
  .card_top {
    display: flex;
    justify-content: flex-start;
    .top_left {
      margin-right: 20px;
    }
    .top_right {
      width: calc(100% - 100px);
      text-align: left;
    }

    .right_row {
      width: 100%;
      margin-top: 5px;
      span {
        padding-right: 10px;
        &:last-of-type {
          padding-right: 0;
        }
      }
      .member {
        display: inline-block;
        width: 24px;
        height: 24px;
        img {
          width: 100%;
        }
      }

      .name {
        font-size: 18px;
        font-weight: 700;
      }
      .emp_id {
        font-size: 16px;
        font-weight: 600;
      }
      img {
        position: relative;
        top: 5px;
      }
      .row2 {
        span {
          line-height: 24px;
        }
      }
      .sex {
        img {
          top: -2px;
        }
      }
    }
  }
  .card_bottom {
    padding: 5px 0 0 5px;
    text-align: left;
  }
  .shopp_div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 20px;
  }
  .shopp {
    width: 24px;
    height: 24px;
    object-fit: fill;
  }
}
</style>
