<template>
  <div>
    <el-input placeholder="请输入内容" v-model="input" @keyup.enter.native="search()" class="input-with-select">
    <el-button
      type="primary"
      slot="prepend"
      class="primary_currency"
      @click="search"
      >查询</el-button
    >
    </el-input>
  </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    methods:{
        search(){
            this.$emit('search');
        }
    }
};
</script>