<!--级联组件-->
<template>
  <el-cascader
    v-model="currentValue"
    v-bind="$attrs"
    :props="props"
    :options="options"
    :show-all-levels="false"
    clearable
  ></el-cascader>
</template>
<script>
export default {
  props: {
    value: [String, Array],
    props: Object,
    options: {
      type: Array,
      default: [],
    },
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>