<!--自定义带删除的单选框-->
<template>
  <el-radio-group v-model="currentValue">
    <el-radio
      v-for="item in options"
      :label="item.customQueryName"
      :key="item.id"
      @click.native.prevent="handleChangeitem(item)"
      ><div class="radio">
        {{ item.customQueryName }}
        <i
          v-if="power.length != 0"
          class="el-icon-close"
          @click.stop.prevent="$emit('del', item.id)"
        ></i></div
    ></el-radio>
  </el-radio-group>
</template>
<script>
export default {
  props: {
    options: [Array, Function],
    value: [String, Array],
    power: [String, Array],
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    handleChangeitem(data) {
      let type = 0;
      if (data.customQueryName == this.currentValue) {
        this.currentValue = "";
        type = 1;
      } else {
        this.currentValue = data.customQueryName;
        type = 0;
      }
      this.$emit("click", { id: data.id, type: type });
    },
  },
};
</script>
<style lang="scss" scoped>
.el-radio-group {
  display: flex;
  justify-content: center;
  .el-radio {
    display: flex;
  }
  .radio {
    color: #fff;
    font-size: 16px;
  }
  .el-icon-close {
    font-size: 14px;
    position: relative;
    top: -6px;
    // border: 1px solid #999;
    border-radius: 100%;
    color: #fff;
  }
}
</style>