<!--表格组件-->
<template>
  <div class="button_table_model">
    <div class="table_operation" v-if="$slots['tableOperation']">
      <slot name="tableOperation"></slot>
    </div>
    <div>
      <slot>
        <el-table
          :data="data"
          v-bind="$attrs"
          v-on="$attrs.events"
          v-loading="tableLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.6)"
          @sort-change="sortChange"
        >
          <template v-for="field in fields">
            <el-table-column
              v-if="field.columnAttr && field.columnAttr.type === 'selection'"
              v-bind="columnAttr(field)"
              :key="field.prop"
              :label="field.label"
              :prop="field.prop"
            ></el-table-column>
            <el-table-column
              v-else
              v-bind="columnAttr(field)"
              :key="field.prop"
              :label="field.label"
              :prop="field.prop"
              show-overflow-tooltip
            >
              <template slot-scope="scope">
                <slot
                  v-if="field.slot && !field.prop"
                  :name="field.slot"
                  :row="scope.row"
                  :index="scope.$index"
                  :column="scope.column"
                ></slot
                ><template v-else-if="field.type === 'index'">{{
                  scope.$index + 1
                }}</template>

                <template v-else>{{ scope.row[field.prop]===0?0:(scope.row[field.prop]|| "") }}</template>
              </template>
            </el-table-column>
          </template>
        </el-table>
      </slot>
    </div>
    <slot name="pagination"></slot>
  </div>
</template>
<script>
export default {
  props: {
    tableEvents: Object, //表格的事件
    data: Array,
    fields: [Array, Function],
    tableLoading: {
      type: Boolean,
      default: false,
    },
    search: Function,
  },
  watch: {
    data: {
      immediate: true,
      handler(val) {},
    },
  },
  methods: {
    sortChange(column) {
      if (column.order == null) {
        this.$set(this.$parent.searchForm, "sortKey", undefined);
        this.$set(this.$parent.searchForm, "isDescending", undefined);
      } else {
        this.$set(this.$parent.searchForm, "sortKey", column.prop);
        this.$set(
          this.$parent.searchForm,
          "isDescending",
          column.order == "ascending" ? false : true
        );
      }
      if (typeof this.$parent.search === "function") {
        this.$parent.search();
      }
    },
    columnAttr(field) {
      return {
        ...field.columnAttr,
        minWidth: field.width,
        align: field.align ? field.align : "center",
        headerAlign: field.headerAlign ? field.headerAlign : "center",
        fixed: field.label === "操作" ? "right" : false,
      };
    },
  },
};
</script>