<!-- 选择公司业务组件 -->
<template>
  <el-select
    ref="select"
    :value="value"
    placeholder="请选择"
    @visible-change="visibleChange"
    v-bind="{ ...$attrs }"
    style="width: 100%"
    @clear="clear"
  >
    <el-option
      ref="option"
      class="option"
      :value="optionData.deptId"
      :label="optionData.deptName"
    >
      <el-tree
        ref="tree"
        class="tree"
        :node-key="nodeKey"
        :data="data2"
        :props="props"
        :default-expanded-keys="[value]"
        highlight-current
        :expand-on-click-node="false"
        @node-click="handleNodeClick"
      ></el-tree>
    </el-option>
  </el-select>
</template>

<script>
export default {
  name: "",
  props: {
    // v-model绑定
    value: {
      type: [String, Number],
      default: "",
    },
    // 每个树节点用来作为唯一标识的属性
    nodeKey: {
      type: [String, Number],
      default: "deptId",
    },
    // tree的props配置
    props: {
      type: Object,
      default: function () {
        return {
          label: "deptName",
          children: "childrenList",
        };
      },
    },
  },
  data() {
    return {
      data2: [],
      optionData: {
        deptId: "",
        deptName: "",
      },
    };
  },
  mounted() {
    this.getList();
  },
  watch: {
    value: {
      handler(val) {
        if (!this.isEmpty(this.data2)) {
          this.init(val);
        }
      },
      immediate: true,
    },
    data2: function (val) {
      if (!this.isEmpty(val)) {
        this.init(this.value);
      }
    },
  },
  methods: {
    getList() {
      let vm = this;
      vm.api.baseInfo.baseInfoApi.getDeptTreeAll().then((res) => {
        if (res.code == 0) {
          vm.data2 = [res.data];
        }
      });
    },

    // 是否为空
    isEmpty(val) {
      for (let key in val) {
        return false;
      }
      return true;
    },
    handleNodeClick(data) {
      this.$emit("input", data[this.nodeKey]);
      this.$emit("inputName", data.deptName);
      this.$refs.select.visible = false;
    },
    init(val) {
      if (val) {
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(val);
          let node = this.$refs.tree.getNode(val);
          this.optionData.deptId = val;
          this.optionData.deptName = node.label;
        });
      } else {
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(null);
        });
      }
    },
    visibleChange(e) {
      if (e) {
        let selectDom = this.$refs.tree.$el.querySelector(".is-current");
        setTimeout(() => {
          this.$refs.select.scrollToOption({ $el: selectDom });
        }, 0);
      }
    },
    clear() {
      this.$emit("input", "");
    },
  },
};
</script>
<style lang="scss" scoped>
.option {
  height: auto;
  line-height: 1;
  padding: 0;
  background-color: #fff;
}

.tree {
  padding: 4px 20px;
  font-weight: 400;
}
</style>
 