<!--可远程搜索组件-->
<template>
  <el-select
    v-model="currentValue"
    filterable
    remote
    reserve-keyword
    :multiple="multiple"
    collapseTags
    :placeholder="placeholder"
    :remote-method="getStaffInfo"
    :loading="staffLoading"
    style="width: 100%"
    v-bind="$attrs"
    clearable
    class="selectSearchCan"
  >
    <i v-if="prefix" slot="prefix" class="el-input__icon" :class="prefix"></i>
    <el-option
      v-for="item in staffList"
      :key="item.value + item.label"
      :label="item.label"
      :value="item.value"
    >
    </el-option>
  </el-select>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: [String, Array],
    prefix: String,
    placeholder: {
      type: String,
      default: "请输入",
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    dataProps: {
      type: Object,
      default: { label: "label", value: "value" },
    },
    modelFormValue: Object,
  },
  data() {
    return {
      staffList: [],
      staffLoading: false,
    };
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      },
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (newVal) {
            console.log(newVal, "ddfjkshf777777777");
            const selected = this.staffList.find((opt) => opt.stdPosnId === newVal);
            this.$emit("change", selected);
          }
        }
      },
    },
  },
  mounted() {
   this.getStaffInfo('');
  },
  methods: {
    //获取信息
    getStaffInfo(queryString) {
      let vm = this;
      let timeout = null;
      if (timeout !== null) {
        clearTimeout(timeout);
      }
      if (queryString !== "") {
        vm.staffLoading = true;
        timeout = setTimeout(() => {
          vm.api.baseInfo.baseInfoApi
            .getDmposnsysListAll({ postName: queryString })
            .then((res) => {
              vm.staffLoading = false;
              if (res && res.data) {
                vm.staffList = res.data.map((item) => {
                  return {
                    value: item[vm.dataProps.value],
                    label: item[vm.dataProps.label],
                  };
                });
              } else {
              }
            });
        }, 500);
      } else {
        vm.staffList = [];
      }
    },
  },
};
</script>
<style lang="scss">
.selectSearchCan {
  .el-select__tags {
    display: flex;
    flex-wrap: nowrap;
  }
  .el-select__tags-text {
    max-width: 85px; //设置最大宽度 超出显示...
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
  }
}
</style>
