<template>
  <div class="square_grid">
    <div class="left_body">
      <div class="left_label">
        <div>高</div>
        <div>中</div>
        <div>低</div>
      </div>
      <div class="left_bottom">
        <div>能力/</div>
        <div>绩效</div>
      </div>
    </div>
    <div class="right_body">
      <div class="right_grid">
        <div class="grid_body">
          <div v-for="(item, i) in list" :key="i" class="square_self">
            <div
              class="self_content"
              :style="{ background: getColor(i, item) }"
            >
              <el-popover
                :disabled="item.children.length == 0"
                placement="top"
                trigger="hover"
              >
                <div
                  class="square_grid_popover"
                  v-for="(item2,i) in item.children"
                  :key="i"
                  :class="i==item.children.length-1?'border0':''"
                >
                  <p>
                    盘点计划名称: <span>{{ item2.inventoryPlan }}</span>
                  </p>
                  <p>
                    盘点时间:
                    <span>{{ item2.inventoryTime.substring(0, 10) }}</span>
                  </p>
                  <!-- <p>
                    盘点人: <span>{{ item2.empName }}</span>
                  </p> -->
                </div>
                <div class="main" slot="reference">
                  <!-- <div
                    class="alone"
                    v-for="item2 in item.children"
                    :key="item2.empId"
                  >
                    <div>
                      <i class="el-icon-user-solid"></i>
                      {{
                        item2.inventoryTime &&
                        item2.inventoryTime.substring(0, 4) + "年"
                      }}
                    </div>
                  </div> -->
                </div>
              </el-popover>
            </div>
          </div>
        </div>
      </div>
      <div class="right_label">
        <div>D</div>
        <div>C</div>
        <div>B-</div>
        <div>B</div>
        <div>B+</div>
        <div>A</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    list: {
      type: Array,
    },
    info: {
      type: Object,
    },
  },
  data() {
    return {
      empId: "",
    };
  },
  mounted() {
    console.log(this.list);
  },
  computed: {},
  methods: {
    handlerClick(item) {
      console.log(item);
    },
    getColor(index, item) {
      // 从左上到右下，18个色值依次渐变
      if (item.children.length != 0) {
        return "#D8E5F4";
      } else {
        return "#F4F9FB";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.noData {
  // margin: 25px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 180px;
  }
}
.square_grid {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: inline-flex;
  .left_body {
    width: 24px;
    height: 100%;
    .left_bottom {
      display: inline-flex;
      position: relative;
      top: -10px;
      left: 10px;
      font-size: 12px;
      color: #a19898;
      div:last-of-type {
        position: relative;
        top: 20px;
      }
    }
  }

  .left_label {
    width: 100%;
    height: 90%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    div {
      width: 100%;
      writing-mode: vertical-lr;
    }
  }

  .right_body {
    width: calc(100% - 44px);
    height: 100%;
    .right_label {
      width: 100%;
      line-height: 20px;
      margin: 10px 0 0 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      div {
        width: 80px;
      }
    }
  }
  .right_grid {
    width: 100%;
    height: 90%;
    padding-top: 13px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-left: 10px;

    .grid_body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }

    .square_self {
      width: calc((100% - 60px) / 6);
     // height: 44px;
      margin: 0 0 10px 10px;

      .self_content {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 12px;

        .header {
          border-bottom: 1px solid #f0f0f0;
          display: flex;
          justify-content: space-between;
          padding: 0 5px;
          line-height: 24px;
          .font_14_600 {
            font-size: 14px;
            font-weight: 600;
          }
        }
        .main {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          overflow-y: auto;
          div {
            //  width: calc(100% / 3);
            padding: 0 5px;
            line-height: 20px;
            color: #008eed;
            // -webkit-text-size-adjust: none; // Chrome 29 版本之前
            // -webkit-transform: scale(0.833333333333); // Chrome 29 版本之后
            // font-size: 10px;
          }
        }
      }
    }
  }

  .app_dialog {
    ::v-deep {
      .el-dialog__header {
        display: none !important;
      }
      .el-dialog__body {
        padding: 0 !important;
      }
      .el-input__inner,
      .el-input__icon {
        height: 32px;
        font-size: 12px;
      }
      .el-icon-search:before {
        position: relative;
        top: -4px;
      }
    }
  }
  .dialog_content {
    .content_header {
      display: flex;
      justify-content: space-between;
      // background-color: #eef1f8;
      align-items: center;
      height: 60px;
      font-size: 16px;
      border-bottom: 1px solid #f0f0f0;
      padding: 5px 15px;
      div {
        display: inline-block;
        div {
          padding: 5px;
        }
      }
    }
    .content_search {
      margin-top: 10px;
      padding: 5px 20px;
    }

    .content_body {
      height: 56vh;
      overflow-y: auto;
      margin: 10px 25px 0 25px;

      .person_card {
        padding: 14px 30px;
        //border: 1px solid #f0f0f0;
        background: #eef1f8;
        border-radius: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        div {
          width: calc(100% / 3);
          line-height: 24px;
        }
      }
    }
  }
  .square_grid_pagination {
    padding: 20px 10px;
    text-align: right;
  }
}
.square_grid_popover {
  line-height: 24px;
  border-bottom: 1px solid #dedbdb80;
  padding: 10px 8px;
}
.square_grid_popover.border0 {
  border-bottom: 0;
}
.square_grid_popover span {
  margin-left: 8px;
}
</style>