<template>
  <div class="cadre-portrait">
    <el-row :gutter="20">
      <el-col :span="9">
        <div class="model">
          <model-title title="基本信息" class="model-title"></model-title>
          <div class="base-info-main">
            <div class="left">
              <img :src="require('@/assets/forum/person.jpg')" alt="" />
            </div>
            <div class="right">
              <div class="title">
                <div class="name">张晓华</div>
                13444 女 | 28岁 | 湖北武汉 |党员
              </div>
              <div class="line">13782900888 工龄：4年</div>
              <div class="line">xxx公司 xxx部门 XX科室 xx岗位 xx职务</div>
              <div class="line">职级：管理序列 任本职级日期：2011-01-01</div>
            </div>
          </div>
          <div class="base-info-bottom">
            <span class="labelName">干部标签：</span>
            <div class="labelValue">高潜人才</div>
            <div class="labelValue">高潜人才</div>
            <div class="labelValue">高潜人才</div>
          </div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="model">
          <model-title title="学位/学历" class="model-title"></model-title></div
      ></el-col>
      <el-col :span="10"
        ><div class="model">
          <model-title title="工作经历" class="model-title"></model-title></div
      ></el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="12">
        <div class="model">
          <model-title title="干部任职情况" class="model-title">
            <div class="right">
              <div
                :class="cadreAtiveName == 'investigate' ? 'ative' : ''"
                @click="cadreTab('investigate')"
              >
                干部考察
              </div>
              <div
                :class="cadreAtiveName == 'supervise' ? 'ative' : ''"
                @click="cadreTab('supervise')"
              >
                干部监督
              </div>
            </div>
          </model-title>
          <div class="cadre-model">
            <ul>
              <li>
                <div class="label">考察岗位</div>
                <div class="value">xx岗位</div>
              </li>
              <li>
                <div class="label">考察时间</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">特点</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">不足</div>
                <div class="value">2022-01-01</div>
              </li>
            </ul>
          </div>
          <div class="cadre-model"></div>
          <div class="cadre-model">
            <app-charts class="cadreCharts" v-model="cadreCharts" />
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="model">
          <model-title title="绩效分布" class="model-title"></model-title>
          <div class="performance-model">
            <ul>
              <li>
                <div class="label">考察岗位</div>
                <div class="value">xx岗位</div>
              </li>
              <li>
                <div class="label">考察时间</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">特点</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">不足</div>
                <div class="value">2022-01-01</div>
              </li>
            </ul>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="model">
          <model-title title="荣誉情况" class="model-title"></model-title>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="5">
        <div class="model">
          <model-title title="培训情况" class="model-title">
            <div class="more">更多 <i class="el-icon-d-arrow-right icon-more"></i></div
          ></model-title>
          <div class="train-model">
            <ul>
              <li>
                <div>2013\9-2017\7</div>
                <div>中层干部领导能力培训</div>
                <div class="state">通过</div>
              </li>
              <li>
                <div>2013\9-2017\7</div>
                <div>中层干部领导能力培训</div>
                <div class="state">通过</div>
              </li>
              <li>
                <div>2013\9-2017\7</div>
                <div>中层干部领导能力培训</div>
                <div class="state">通过</div>
              </li>
            </ul>
          </div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="model">
          <model-title title="技术/职能/职业资格" class="model-title"></model-title>
          <div class="performance-model">
            <ul>
              <li>
                <div class="label">考察岗位</div>
                <div class="value">xx岗位</div>
              </li>
              <li>
                <div class="label">考察时间</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">特点</div>
                <div class="value">2022-01-01</div>
              </li>
              <li>
                <div class="label">不足</div>
                <div class="value">2022-01-01</div>
              </li>
            </ul>
          </div>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="model">
          <model-title title="岗位胜任力" class="model-title"></model-title>
          <div class="post-competency"></div>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="model">
          <model-title title="管理能力" class="model-title"> </model-title>
          <div class="manage-capacity">
            <app-charts class="cadreCharts" v-model="cadreCharts" />
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import modelTitle from "@/pages/components/modelTitle.vue";
import appCharts from "@/components/base/appCharts";
export default {
  components: { modelTitle, appCharts },
  data() {
    return {
      cadreAtiveName: "investigate",
    };
  },
  computed: {
    cadreCharts() {
      return {
        radar: {
          // shape: 'circle',
          indicator: [
            { name: "Sales", max: 6500 },
            { name: "Administration", max: 16000 },
            { name: "Information Technology", max: 30000 },
            { name: "Customer Support", max: 38000 },
            { name: "Development", max: 52000 },
            { name: "Marketing", max: 25000 },
          ],
        },
        series: [
          {
            name: "Budget vs spending",
            type: "radar",
            data: [
              {
                value: [4200, 3000, 20000, 35000, 50000, 18000],
                name: "Allocated Budget",
              },
              {
                value: [5000, 14000, 28000, 26000, 42000, 21000],
                name: "Actual Spending",
              },
            ],
          },
        ],
      };
    },
  },
  methods: {
    cadreTab(str) {
      this.cadreAtiveName = str;
    },
  },
};
</script>
<style lang="scss" scoped>
.cadre-portrait {
  .model {
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    .model-title {
      border-bottom: 1px solid #f0f0f0;
      .right {
        float: right;
        > div {
          padding: 4px;
          display: inline-block;
          cursor: pointer;
        }
        .ative {
          background: #3f86f4;
          color: #fff;
        }
      }
    }
    .more {
      font-size: 16px;
      color: #409eff;
      cursor: pointer;
    }
    .base-info-main {
      display: flex;
      .left {
        margin: 0 20px;
        margin-right: 30px;
        img {
          width: 108px;
          height: 138px;
          object-fit: cover;
        }
      }
      .right {
        flex: 1;
        text-align: left;
        padding-top: 6px;
        font-size: 18px;
        > div {
          line-height: 32px;
        }
        .title {
          margin-bottom: 10px;
          .name {
            font-size: 18px;
            margin-right: 6px;
            display: inline-block;
          }
        }
      }
    }
    .base-info-bottom {
      margin: 16px 0;
      font-size: 16px;
      margin-left: 20px;
      text-align: left;
      .labelValue {
        display: inline-block;
        padding: 10px 30px;
        background: #dfebfd;
        border-radius: 20px;
        color: #47a7ee;
        margin-left: 12px;
      }
      .labelName {
        display: inline-block;
      }
    }
    .cadre-model {
      width: 33%;
      height: 240px;
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid #f0f0f0;
      ul {
        font-size: 16px;
        margin-top: 20px;
        li {
          display: flex;
          line-height: 50px;
          .label {
            width: 90px;
            text-align: right;
            margin-right: 20px;
          }
          .value {
            flex: 1;
            text-align: left;
          }
        }
      }
      .cadreCharts {
        height: 100%;
        width: 100%;
      }
    }
    .performance-model {
      height: 240px;
      ul {
        font-size: 16px;
        margin-top: 20px;
        li {
          display: flex;
          line-height: 50px;
          .label {
            width: 90px;
            text-align: right;
            margin-right: 20px;
          }
          .value {
            flex: 1;
            text-align: left;
          }
        }
      }
    }
    .train-model {
      height: 240px;
      ul {
        li {
          line-height: 40px;
          width: 100%;
          display: flex;
          font-size: 14px;
          > div {
            flex: 1;
          }
          .state {
            flex: none;
            width: 50px;
          }
        }
      }
    }
    .manage-capacity {
      .cadreCharts {
        width: 100%;
        height: 240px;
      }
    }
    .post-competency {
      height: 240px;
    }
  }
}
</style>
