<!--  -->
<template>
  <div class="nine-grid_waper">
    <el-row :gutter="20">
      <el-col :span="14">
        <div class="nine-box">
          <div class="left">
            <div class="box">
              <div class="label">绩效</div>
              <div class="level">高</div>
              <div class="value">90</div>
            </div>
            <div class="box">
              <div class="level">中</div>
              <div class="value">70</div>
            </div>
            <div class="box">
              <div class="level">低</div>
            </div>
          </div>

          <div class="bottom">
            <div class="box">
              <div class="level">低</div>
            </div>
            <div class="box">
              <div class="level">中</div>
              <div class="value">70</div>
            </div>
            <div class="box">
              <div class="label">绩效</div>
              <div class="level">高</div>
              <div class="value">90</div>
            </div>
          </div>

          <div class="grid">
            <el-row
              :gutter="14"
              class="mb14"
              v-for="(item, index) in guidList"
              :key="index"
            >
              <el-col
                :span="8"
                v-for="(listItem, listIndex) in item.list"
                :key="listIndex"
                @click.native="changeCard(listItem, index, listIndex)"
              >
                <el-card
                  class="card_h"
                  :class="{ red: listItem.isChecked ? true : false }"
                  :style="{ 'background-color': listItem.blockColor || '#fff' }"
                  ><div>
                    {{ listItem.blockName || "" }}
                    <div class="grid_img">
                      <img :src="photoUrl" alt="" v-if="listItem.isShow" />
                    </div>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </div>
      </el-col>
      <el-col :span="10">
        <div class="text-total">
          <p>盘点总结：</p>
          <div class="content">
            该员工在本次盘点中位于{{ blockName }}(宫格名称)，综合绩效表现为{{
              info.performance
            }}，综合潜力表现为{{ info.potential }}。
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
    },
    photoUrl: {
      type: String,
      default: "",
    },
  },
  watch: {
    info: {
      handler: function (newValue, oldValue) {
        let vm = this;
        for (let [o, item] of this.guidList.entries()) {
          for (let [t, key1] of item.list.entries()) {
            for (let iterator of newValue.blockList) {
              if (key1.area == iterator.area) {
                this.$set(vm.guidList[o].list, t, { ...iterator });
              }
              if (newValue.curBlockId == iterator.id) {
                vm.blockName = iterator.blockName;
                iterator.isShow = true;
              }
            }
          }
        }
      },
      deep: true,
      immediate: true,
    },
  },
  data() {
    return {
      //photoUrl: require("@/assets/forum/person.jpg"),
      //nanPersonImg: require("@/assets/forum/nan-person.webp"),
      guidList: [
        {
          list: [
            {
              area: 4,
            },
            {
              area: 7,
            },
            {
              area: 9,
            },
          ],
        },
        {
          list: [
            {
              area: 2,
            },
            {
              area: 5,
            },
            {
              area: 8,
            },
          ],
        },
        {
          list: [
            {
              area: 1,
            },
            {
              area: 3,
            },
            {
              area: 6,
            },
          ],
        },
      ],
      blockName: "xxx",
    };
  },
};
</script>
<style lang="scss" scoped>
.nine-grid_waper {
  width: 100%;
  margin-top: 20px;

  .nine-box {
    position: relative;
    width: 80%;
    height: 500px;
    margin-top: 30px;

    .left {
      position: absolute;
      left: 0;
      top: -16px;
      bottom: 0;
      width: 20%;
      height: 80%;
      // border: 1px solid;

      display: flex;
      flex-direction: column;

      .box {
        margin-left: 80%;
        position: relative;
        flex: 1;
        border-bottom: 2px dashed #7f7f7f;

        &:last-child {
          border-bottom: 0;
        }

        .label {
          position: absolute;
          top: 0;
          left: -80px;
          color: #7a93d3;
          font-size: 18px;
          font-weight: bold;
        }

        .level {
          position: absolute;
          top: 50%;
          left: -40px;
          color: #333;
          font-size: 18px;
          font-weight: bold;
        }
        .value {
          position: absolute;
          top: calc(100% - 8px);
          left: -26px;
          color: #7f7f7f;
          font-size: 18px;
        }
      }
    }

    .bottom {
      position: absolute;
      left: 20%;
      bottom: 0;
      right: -25px;
      height: 20%;
      // border: 1px solid;

      display: flex;
      flex-direction: row;

      .box {
        flex: 1;
        border-right: 2px dashed #7f7f7f;
        margin-bottom: 80px;
        position: relative;

        &:last-child {
          border-right: 0;
        }

        .label {
          position: absolute;
          right: 0;
          top: 30px;
          color: #7a93d3;
          font-size: 18px;
          font-weight: bold;
        }
        .level {
          color: #333;
          font-size: 18px;
          font-weight: bold;
          padding-top: 30px;
        }

        .value {
          position: absolute;
          top: calc(100% - 8px);
          left: -12px;
          color: #7f7f7f;
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }

    .grid {
      position: absolute;
      left: 20%;
      bottom: 100px;
      width: 80%;
      height: 400px;

      border-left: 4px solid #409eff;
      border-bottom: 4px solid #409eff;
      padding: 10px;

      .card_h {
        height: 120px;
      }
      .grid_img {
        text-align: center;
        margin-top: 15px;
        height: 25px;
        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }
    }
  }

  .text-total {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // margin-top: 30px;
    p {
      font-size: 24px;
      color: #000;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
    }

    .content {
      font-size: 24px;
      color: #000;
      font-weight: 400;
      line-height: 44px;
      text-align: left;
    }
  }
}
</style>

<style lang="scss">
.nine-grid_waper {
  .grid {
    .card_h {
      .el-card__body {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
</style>
