<template>
  <div class="portrait">
    <el-row :gutter="20">
      <el-col :span="14"
        ><div class="base_info bottom_border">
          <div class="bottom_border">
            <search-title title="基本信息"> </search-title>
          </div>
          <div class="info">
            <div class="info_content">
              <div class="info_item heard_img">
                <div class="info_pohto">
                  <img :src="photoUrl" alt="" style="object-fit: cover" />
                </div>
                <div class="context">
                  <div class="line">
                    <span class="name">{{ baseInfo.ENAME }}</span>
                    <span class="name_id">{{ baseInfo.PERNR }}</span>
                    <!-- <span class="sex">
                  <img :src="baseInfo.sex == '女' ? nv : nan" alt="" />
                </span>
                <span v-if="baseInfo.isDy">
                  <img :src="member" alt="" />
                </span> -->
                  </div>
                  <!-- <div class="phone">{{ baseInfo.telNumber }}</div> -->
                  <div class="line2" style="margin-top: 10px">
                    {{ baseInfo.GESCH }} / {{ baseInfo.ZAGE }}岁（{{
                      baseInfo.GBDAT || "无"
                    }}）/ {{ baseInfo.FAMST }} / {{ baseInfo.LTEXT }} /
                    {{ baseInfo.PTEXT }}
                    <!-- {{ baseInfo.age }}岁 &nbsp;&nbsp; {{ baseInfo.sex }} &nbsp;
                {{ baseInfo.nation }} &nbsp; {{ baseInfo.nativePlace }} -->
                  </div>
                  <div class="line2">
                    公司：{{ baseInfo.BUTXT }} 处室：{{ baseInfo.ZZDEPARTTXT }} 科室：{{
                      baseInfo.ZZSECTIONTXT
                    }}
                    职位： {{ baseInfo.PLANSTXT }} 序列:{{ baseInfo.ZEHR_GWORD }} 职级：{{
                      baseInfo.TRFGR
                    }}
                    职务级别：{{ baseInfo.POSLT }}
                  </div>
                  <div class="line2">
                    籍贯：{{ baseInfo.ZZREGIO_TXT }} | {{ baseInfo.ZZCITY_TXT }} |
                    {{ baseInfo.ZZDISTRICT_TXT }} 出生地：{{ baseInfo.GBDEP_TXT }} |
                    {{ baseInfo.ZBCITY_TXT }} | {{ baseInfo.ZBDISTRICT_TXT }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="showTrend" class="trend_chart">
              <square-grid
                :list="staffHandleimgData(trendData) || staffHandleimgData([])"
              ></square-grid>
              <!-- <div id="trend_chart" style="width: 100%; height: 160px"></div> -->
            </div>
          </div>
          <div v-if="gridData.length" class="personnel_label">
            <span class="label"
              >人才标签
              <!-- <el-tooltip effect="light" placement="right" popper-class="max-tips">
                <div slot="content" class="tips-container">
                  <show-table
                    :tableColumns="gridColumns"
                    :tableData="gridData"
                    hasIndex
                    max-height="250"
                  ></show-table>
                </div>
                <i class="el-icon-warning-outline flex-top"></i>
              </el-tooltip> -->
            </span>
            <ul id="talentLabel" :class="{ show: showLabel }">
              <li
                v-for="(item, index) in gridData"
                :class="{ top: item.isSpecificKw === '是' }"
                :key="index"
              >
                {{ item.ZBQMC }}
              </li>
            </ul>
            <div v-if="hasBtn" class="show_more" @click="showMore">
              {{ !showLabel ? "展开更多" : "收起展示" }}
              <i class="el-icon-d-arrow-left" :class="showLabel ? 'icon_unfold' : ''"></i>
            </div>
          </div></div
      ></el-col>
      <el-col :span="10">
        <div class="familyMembers" style="padding: 20px 0">
          <div class="bottom_border">
            <search-title title="家庭成员" class="search-title" :hasRight="true">
              <template #right>
                <div class="right" @click="openFamilyMembers">
                  更多 <i class="el-icon-d-arrow-right icon-more"></i>
                </div>
              </template>
            </search-title>
          </div>
          <app-table
            row-key="id"
            :data="emplFamlData"
            :col-configs="familyMembersTableFields"
            :empty-text="'暂无数据'"
          >
          </app-table>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col :span="14">
        <div class="career up_down_padding bottom_border">
          <search-title title="工作经历" class="search-title" :hasRight="true">
            <template #right>
              <div class="right">
                <div
                  :class="careerName == 'chart' ? 'ative' : ''"
                  @click="careerTab('chart')"
                >
                  图
                </div>
                <div
                  :class="careerName == 'table' ? 'ative' : ''"
                  @click="careerTab('table')"
                >
                  表
                </div>
              </div>
            </template>
          </search-title>
          <div id="career" v-show="careerName == 'chart'"></div>
          <div v-show="careerName == 'table'" class="careerTable">
            <app-table
              row-key="id"
              :data="careerTableData"
              :col-configs="careerTableFields"
              :empty-text="'暂无数据'"
              max-height="160px"
            >
            </app-table>
          </div></div
      ></el-col>
      <el-col :span="10">
        <div class="performance_distribution" style="padding: 20px 0">
          <search-title title="绩效分布"> </search-title>
          <app-charts class="charts" v-model="performance" />
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <div class="edu_experience up_down_padding bottom_border">
          <search-title title="教育经历" class="search-title"> </search-title>
          <div class="edu_experience_table table_padding">
            <app-table
              row-key="id"
              :data="eduExperienceData"
              :col-configs="eduExperienceColumns"
              :empty-text="'暂无数据'"
            >
            </app-table>
          </div></div
      ></el-col>
      <el-col :span="12">
        <div class="technology_seniority" style="padding: 20px 0">
          <search-title title="技术/职能/职业资格" class="search-title"> </search-title>
          <div class="technology_seniority_table table_padding">
            <app-table row-key="id" :data="[]" :col-configs="{}" :empty-text="'暂无数据'">
            </app-table>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <div class="train_record up_down_padding bottom_border">
          <search-title title="培训记录" class="search-title" :hasRight="true">
            <template #right>
              <div class="right" @click="openTrainRecord">
                更多 <i class="el-icon-d-arrow-right icon-more"></i>
              </div>
            </template>
          </search-title>
          <div class="train_record_table table_padding">
            <app-table
              row-key="id"
              :data="trainInfoTableData"
              :col-configs="trainInfoTableFields"
              :empty-text="'暂无数据'"
            >
            </app-table>
          </div></div
      ></el-col>
      <el-col :span="12">
        <div class="" style="padding: 20px 0" @click="honorInfoDialogVisible = true">
          <search-title title="荣誉情况" class="search-title"> </search-title>
        </div>
      </el-col>
    </el-row>
    <!-- 弹框 -->
    <app-dialog
      title="家庭成员"
      v-model="familyMembersDialogVisible"
      width="55%"
      :isBtn="false"
    >
      <app-table
        row-key="id"
        class="familyMembersTable"
        :data="familyMembersTableData"
        :col-configs="familyMembersDetailsFields"
        :empty-text="'暂无数据'"
      >
      </app-table>
    </app-dialog>
    <app-dialog
      title="培训情况"
      v-model="trainRecordDialogVisible"
      width="45%"
      :isBtn="false"
    >
      <app-table
        row-key="id"
        class="trainRecordTable"
        :data="trainRecordTableData"
        :col-configs="trainRecordTableFields"
        :empty-text="'暂无数据'"
      >
      </app-table>
    </app-dialog>
    <app-dialog
      title="荣誉信息"
      v-model="honorInfoDialogVisible"
      width="55%"
      :isBtn="false"
    >
      <app-table
        row-key="id"
        class="honorInfoTable"
        :data="honorInfoTableData"
        :col-configs="honorInfoTableFields"
        :empty-text="'暂无数据'"
      >
      </app-table>
    </app-dialog>
  </div>
</template>
<script>
import appCharts from "@/components/base/appCharts";
import SearchTitle from "./searchTitle.vue";
import appDialog from "@/components/base/appDialog";
import ShowTable from "./showTable.vue";
import TalentTags from "./talentTags.vue";
import ShowTooltip from "./showTooltip.vue";
import appTable from "@/components/base/appTable";
import * as echarts from "echarts";
import { dateFormat, downloadUrl } from "@/utils/index";
import squareGrid from "../../components/squareGrid.vue";
import { staffHandleimgData } from "@/utils/business.js";
import { gridColumns } from "./config";

export default {
  props: {
    baseInfo: {
      type: Object,
      default: () => ({}),
    },
    photoUrl: {
      type: String,
      default: "",
    },
    empId: {
      type: [Number, String],
      default: "",
    },
  },
  components: {
    SearchTitle,
    ShowTable,
    TalentTags,
    ShowTooltip,
    squareGrid,
    appTable,
    appDialog,
    appCharts,
  },
  data() {
    return {
      ic_tishi: require("@/assets/svg/ic_tishi.svg"),
      notes: require("@/assets/svg/notes.svg"),
      evaluation_icon: require("@/assets/svg/evaluation.svg"),
      advantage_icon: require("@/assets/svg/advantage.svg"),
      ic_lueshi: require("@/assets/svg/ic_lueshi.svg"),
      ic_fazhan: require("@/assets/svg/ic_fazhan.svg"),
      oneself: require("@/assets/oneself.png"),
      ic_average: require("@/assets/ic_average.png"),
      nan: require("@/assets/ic_nan.png"),
      nv: require("@/assets/ic_nv.png"),
      member: require("@/assets/ic_dh.png"),
      // bg_ditu: require("@/assets/bg_ditu"),
      gridData: [],
      hasBtn: false,
      showLabel: false,
      personalReports: {
        blockList: null,
      },
      careerType: "cross",
      careerChart: null,

      trendData: [],
      trendChart: "",
      empPerformacecache: {},
      assessmentType: "Y",
      empPerformaceData: [],
      performaceChart: "",

      abilityTypeOption: [
        {
          label: "雷达图",
          value: "L",
        },
        {
          label: "柱状图",
          value: "Z",
        },
      ],
      abilityType: "L",
      currentAbilityData: [],
      currentAbilityTime: "",
      abilityActiveName: "",
      abilityLChart: "",
      abilityZChart: "",

      trainData: [],
      pluralismWorkObj: {},
      inventoryPlanOptions: [],
      inventoryPlan: "",
      inventoryPlanData: {},

      inHonorData: [],
      exHonorData: [],
      faultData: [],
      enclosureData: [],
      dataZoomDiff: null, //dataZoom 缩放比例对应的总数下的时间戳

      //
      familyMembersDialogVisible: false,
      familyMembersTableData: [],
      careerName: "chart",
      careerTableData: [],
      trainRecordDialogVisible: false,
      trainRecordTableData: [],
      trainInfoTableData: [],
      honorInfoDialogVisible: false,
      honorInfoTableData: [],

      //
      emplFamlData: [], //家庭成员
      examineInfoData: [], //绩效分布
      eduExperienceData: [],
      mainWork: [],
    };
  },
  computed: {
    gridColumns,
    familyMembersTableFields() {
      return [
        { prop: "ZZYJDCY", label: "关系类型" },
        { prop: "FAMSA", label: "姓名" },
        { prop: "FGBDT", label: "出生日期" },
        { prop: "ZZGZDW", label: "工作单位" },
        { prop: "ZZZW", label: "岗位" },
      ];
    },
    familyMembersDetailsFields() {
      return [
        { prop: "ZZYJDCY", label: "关系类型" },
        { prop: "FAMSA", label: "姓名" },
        { prop: "FGBDT", label: "出生日期" },
        { prop: "ZZGZDW", label: "工作单位" },
        { prop: "ZZZW", label: "岗位" },
      ];
    },
    careerTableFields() {
      return [
        { prop: "BEGDA", label: "开始日期" },
        { prop: "ENDDA", label: "结束日期" },
        { prop: "ZZARBGB", label: "公司" },
        { prop: "ZZDEPTN", label: "部门" },
        { prop: "ZZJOB", label: "岗位" },
      ];
    },
    eduExperienceColumns() {
      return [
        { prop: "BEGDA", label: "开始日期" },
        { prop: "ENDDA", label: "结束日期" },
        { prop: "ZEHR_SCNAM", label: "学校名称" },
        { prop: "XLSTEXT", label: "学历" },
        { prop: "ZEHR_XWTXT", label: "学位" },
        { prop: "ZEHR_FACH", label: "专业" },
      ];
    },
    trainInfoTableFields() {
      return [
        { prop: "BEGDA", label: "培训开始日期" },
        { prop: "ENDDA", label: "培训结束日期" },
        { prop: "ZKMMC", label: "培训名称" },
        { prop: "ZRZJG", label: "成绩" },
      ];
    },
    trainRecordTableFields() {
      return [
        { prop: "BEGDA", label: "培训开始日期" },
        { prop: "ENDDA", label: "培训结束日期" },
        { prop: "ZKMMC", label: "培训名称" },
        { prop: "ZRZJG", label: "成绩" },
      ];
    },
    honorInfoTableFields() {
      return [
        { prop: "emplId", label: "荣誉证书名称" },
        { prop: "emplName", label: "荣誉类型" },
        { prop: "age", label: "获奖日期" },
        { prop: "companyName", label: "等级" },
        { prop: "companyName", label: "档级" },
        { prop: "companyName", label: "发证机构" },
        { prop: "companyName", label: "积分" },
      ];
    },
    isSelf() {
      const pageType = this.$route.query.type;
      return pageType === "self";
    },
    showTrend() {
      if (this.isSelf) {
        return false;
      } else {
        return this.trendData.length;
      }
    },
    showFault() {
      if (this.isSelf) {
        return false;
      } else {
        return this.faultData.length;
      }
    },
    showInventoryPlan() {
      if (this.isSelf) {
        return false;
      } else {
        return this.inventoryPlanOptions.length;
      }
    },
    showRewdPunh() {
      return this.inHonorData.length || this.exHonorData.length || this.showFault;
    },
    showEnclosure() {
      if (this.isSelf) {
        return false;
      } else {
        return this.enclosureData.length;
      }
    },
    performance() {
      return {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        // legend: {
        //   data: ["Evaporation", "Precipitation", "Temperature"],
        // },
        grid: {
          left: "3%",
          right: "4%",
          top: "8%",
          bottom: "5%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            data: this.examineInfoData.map((p) => {
              return p.BEGDA.substring(0, 4);
            }),
          },
        ],
        yAxis: [
          {
            type: "category",
            data: ["不称职", "基本称职", "称职", "良好", "优秀"],
            boundaryGap: false,
            axisPointer: {
              type: "shadow",
            },
          },
        ],
        series: [
          {
            name: "",
            type: "bar",
            barWidth: 30,
            data: this.examineInfoData.map((p) => {
              return p.ZZRESULT;
            }),
          },
        ],
      };
    },
  },
  watch: {
    empId: {
      immediate: true,
      async handler(val) {
        if (val) {
          this.getAllData();
        }
      },
    },
    inventoryPlan(val) {
      if (val) {
        this.getEvaluationApi();
      }
    },
  },
  mounted() {
    const vm = this;
    window.addEventListener("resize", vm.resizeHandle);
  },
  destroyed() {
    const vm = this;
    this.clearChart();
    window.removeEventListener("resize", vm.resizeHandle);
  },
  methods: {
    staffHandleimgData: staffHandleimgData,
    getAllData() {
      this.getLabelApi();
      this.getEmplFamlApi();
      this.getMainPostApi();
      this.getExamineInfoApi();
      this.getEmpPerformaceApi();
      this.getTrainInfoPortraitApi();
    },
    // 家庭关系
    getEmplFamlApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .emplFamlPortraitApi(params)
        .then((res) => {
          console.log(res, "家庭关系");
          this.familyMembersTableData = res.d.results || [];
          if (res.d.results.length > 3) {
            this.emplFamlData = res.d.results.splice(0, 4);
          } else {
            this.emplFamlData = res.d.results || [];
          }
        });
    },
    // 工作经历
    getMainPostApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .empphotoSearchWorkExpPortrait(params)
        .then((res) => {
          this.mainWork = res.d.results.map((p, i) => {
            return {
              ...p,
              empRank: i + 1,
              status: 2,
            };
          });
          this.careerTableData = res.d.results || [];
          this.setCareerChart();
        });
    },
    // 教育经历
    getEmpPerformaceApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.eduExp(params).then((res) => {
        if (res.d.results.length > 4) {
          this.eduExperienceData = res.d.results.splice(0, 4);
        } else {
          this.eduExperienceData = res.d.results || [];
        }
      });
    },
    //培训信息
    getTrainInfoPortraitApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .trainInfoPortraitApi(params)
        .then((res) => {
          this.trainRecordTableData = res.d.results || [];
          if (res.d.results.length > 4) {
            this.trainInfoTableData = res.d.results.splice(0, 4);
          } else {
            this.trainInfoTableData = res.d.results || [];
          }
        });
    },
    // 员工考核信息-绩效分布
    getExamineInfoApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.examineInfoApi(params).then((res) => {
        this.examineInfoData = res.d.results || [];
      });
    },
    openFamilyMembers() {
      this.familyMembersDialogVisible = true;
    },
    openTrainRecord() {
      this.trainRecordDialogVisible = true;
    },
    careerTab(name) {
      this.careerName = name;
    },

    // 职业生涯甘特图
    setCareerChart() {
      let vm = this;
      //status 1:外部经历，2:内部经历，3:未来经历

      vm.mainWork = [...vm.mainWork];
      console.log(vm.mainWork, "职业生涯甘特图");
      //数据处理  后续补上详细准确的业务逻辑
      let arr = []; //过滤y轴重复数据
      let seriesData = []; //数据结构
      let pdata = []; //同层级数据参数-参考echarts-折叠bar图
      let num = 0; //考虑 数据同层级出现次数对应生成属性对象数据。如不同层级则归为数据0下标，依次排放。
      let index = -1; //考虑 数据不同层级对应出现的同层级次数不同，根据下标，依次排放。最后数组下标会出现empty，替换成0.
      let beforeEmpRankObj = null; //上个数据对象
      let mouseIndex = null;
      let startTime = null;
      let start_ = null;
      let endTime = null;
      let end_ = null;
      let timeStamp = null;

      for (const main of vm.mainWork) {
        if (!arr.includes(main.empRank)) {
          let time = new Date(main.BEGDA).valueOf();
          arr.push(main.empRank);
          num = 0;
          index++;
          if (!pdata[num]) {
            pdata[num] = {
              data: [],
              data2: [],
            };
          }
          pdata[num].data.push(time);
          pdata[num].data2.push({
            ...main,
            value: new Date(main.ENDDA).valueOf() - new Date(main.BEGDA).valueOf(),
          });
        } else {
          num++;
          let time =
            new Date(main.BEGDA).valueOf() - new Date(beforeEmpRankObj.ENDDA).valueOf();
          if (!pdata[num]) {
            pdata[num] = {
              data: [],
              data2: [],
            };
          }
          pdata[num].data[index] = time;
          pdata[num].data2[index] = {
            ...main,
            value: new Date(main.ENDDA).valueOf() - new Date(main.BEGDA).valueOf(),
          };
        }
        beforeEmpRankObj = main;
        //处理找寻最开始时间和最后时间范围
        let BEGDA = main.BEGDA;
        let ENDDA = main.ENDDA;
        let itemStartTime = new Date(main.BEGDA).valueOf();
        let itemEndTime = new Date(main.ENDDA).valueOf();
        if (!startTime) {
          startTime = itemStartTime;
          start_ = BEGDA;
        } else {
          if (startTime > itemStartTime) {
            startTime = itemStartTime;
            start_ = BEGDA;
          }
        }
        if (!endTime) {
          endTime = itemEndTime;
          end_ = ENDDA;
        } else {
          if (endTime < itemEndTime) {
            endTime = itemEndTime;
            end_ = ENDDA;
          }
        }
      }
      timeStamp = endTime - startTime;
      vm.dataZoomDiff = timeStamp;
      for (const ini of pdata) {
        let obj = {
          name: "Placeholder",
          type: "bar",
          stack: "1",
          itemStyle: {
            borderColor: "transparent",
            color: "transparent",
          },
          data: [],
        };
        let obj2 = {
          name: "周期",
          type: "bar",
          stack: "1",
          emphasis: {
            focus: "series",
          },
          itemStyle: {
            borderColor: "transparent",
            barBorderRadius: [20],
            color: function (params) {
              // console.log(params, "---------");
              let color = "";
              // var colorList = ['#3E84E9','#c23531','#d4cece']; //
              var status = params.data.status;
              color =
                status === 1 ? "#D4F0E4" : status === 2 ? "#D6EEFF" : "rgb(200,220,255)";
              return color;
            },
          },
          data: [],
          label: {
            show: true,
            position: "inside", //insideLeft
            x: "100%",
            verticalAlign: "middle",
            // width: width,
            // overflow: "truncate",
            // ellipsis: "...",
            //  padding: [0, 0, 0, 8],
            formatter: function (params) {
              console.log(params.data, "0000");
              //展示省略号
              let pre = null;
              let num = null;
              let prePosition = params.data.ZZJOB;
              pre = (params.data.value / vm.dataZoomDiff) * 100;

              if (pre < 6) {
                num = 999;
                prePosition = "";
              } else if (pre > 6 && 13 > pre) {
                if (prePosition.length > 3) {
                  prePosition = prePosition.substring(0, 3) + "...";
                }
              } else if (pre > 13 && 18 > pre) {
                if (prePosition.length > 6) {
                  prePosition = prePosition.substring(0, 6) + "...";
                }
              }
              console.log(params.data.value, vm.dataZoomDiff, pre, prePosition);

              let str = "";

              str = "{c|" + prePosition + "}";

              return str; //返回type名
            },

            rich: {
              a: {
                color: "#fff",
                backgroundColor: "#008EED",
                padding: [2, 2],
                with: "100%",
                fontSize: 12,
                borderRadius: 50,
              },
              b: {
                fontSize: 14,
                color: "#00A73C",
              },
              c: {
                fontSize: 14,
                padding: [0, 8, 0, 8],
                color: "#008EED",
              },
              d: {
                fontSize: 14,
                color: "#fff",
              },
              e: {
                color: "#FF9325",
                backgroundColor: "transparent",
                padding: [2, 2],
                with: "100%",
                fontSize: 12,
                borderRadius: 50,
                borderWidth: 0.5,
                borderColor: "#FF9325",
              },
            },
            textStyle: {
              //fontSize: 1,
              // shadowBlur: false,
            },
          },
        };
        for (const i of ini.data) {
          let j = null;
          if (i) {
            j = i;
          } else {
            j = 0;
          }

          obj.data.push(j);
        }
        for (const p of ini.data2) {
          let j = null;
          if (p) {
            j = p;
          } else {
            j = 0;
          }
          obj2.data.push(j);
        }

        seriesData.push(obj);

        seriesData.push(obj2);
      }
      console.log(vm.dataZoomDiff, "==2333====");
      //y轴数据小于4，填充到5，维持页面美感。
      if (arr.length < 4) {
        let supplementData = [55, 54, 53, 52, 51, 50];
        let num = 5 - arr.length;
        let obj = {
          name: "Placeholder",
          type: "bar",
          stack: "1",
          itemStyle: {
            borderColor: "transparent",
            color: "transparent",
          },
          data: [],
        };
        arr = [...arr, ...supplementData.splice(0, num)];
        do {
          seriesData.push(obj);
          num--;
        } while (num > 0);

        console.log(seriesData, arr);
      }
      // 基于准备好的dom，初始化echarts实例
      vm.careerChart = echarts.init(document.getElementById("career"));
      // 指定图表的配置项和数据
      var option = {
        title: {
          // text: "甘特图",
          // subtext: "瀑布图转为甘特图",
        },
        tooltip: {
          trigger: "axis",
          enterable: true,
          showDelay: 0, //浮层显示的延迟，单位为 ms
          hideDelay: 100,
          backgroundColor: "#fff",
          borderWidth: "1", //边框宽度设置1
          borderColor: "gray", //设置边框颜色
          transitionDuration: 0.2,
          position: function (point, params, dom, rect, size) {
            // 鼠标坐标和提示框位置的参考坐标系是：以外层div的左上角那一点为原点，x轴向右，y轴向下
            // 提示框位置
            var x = 0; // x坐标位置
            var y = 0; // y坐标位置

            // 当前鼠标位置
            var pointX = point[0];
            var pointY = point[1];

            // 外层div大小
            // var viewWidth = size.viewSize[0];
            // var viewHeight = size.viewSize[1];

            // 提示框大小
            var boxWidth = size.contentSize[0];
            var boxHeight = size.contentSize[1];

            // boxWidth > pointX 说明鼠标左边放不下提示框
            if (boxWidth > pointX) {
              x = 5;
            } else {
              // 左边放的下
              x = pointX - boxWidth;
            }

            // boxHeight > pointY 说明鼠标上边放不下提示框
            if (boxHeight > pointY) {
              y = 5;
            } else {
              // 上边放得下
              y = pointY - boxHeight;
            }

            return [x, y];
          },
          axisPointer: {
            //坐标轴指示器，坐标轴触发有效，
            type: vm.careerType, //默认为line，line直线，cross十字准星，shadow阴影
            label: { show: false },
            crossStyle: {
              color: "#008eed",

              width: 2,
              type: "solid",
            },
          },
          formatter: function (params) {
            if (
              mouseIndex > 0 &&
              params[mouseIndex] &&
              params[mouseIndex]?.data.status != 3
            ) {
              if (
                Object.prototype.toString.call(params[mouseIndex].data) !==
                "[object Object]"
              ) {
                return false;
              }
              console.log(params[mouseIndex], "=========");
              let html = "";

              html =
                '<div style="width:470px;max-height:400px; overflow-y: auto;padding:0 10px;text-align: left;">' +
                '<div style="font-size: 14px;color: #000000;font-weight: bold;margin-bottom:8px">' +
                params[mouseIndex]?.data.ZZARBGB +
                "</div>" +
                '<div style="margin-bottom:8px">' +
                '<div style="display: inline-block;color: #000000;font-size: 12px;font-weight: bold;">' +
                params[mouseIndex]?.data.ZZJOB +
                "</div>" +
                '<span style="float: right;color: #000000;font-size: 12px;font-weight: bold;">' +
                params[mouseIndex]?.data.ZZDEPTN +
                "</span>" +
                "</div>" +
                '<div style="font-size: 12px;color: #666666;font-weight: 400;line-height:24px">' +
                "任职开始时间：" +
                (params[mouseIndex]?.data.BEGDA.substring(0, 10) || "") +
                '<span style="font-size: 12px;float: right;color: #666666;font-weight: 400;">' +
                "任职结束时间：" +
                (params[mouseIndex]?.data.ENDDA.substring(0, 10) || "") +
                "</span>" +
                "</div>" +
                "</div>";

              return html;
            }
          },
        },
        grid: {
          top: "6%",
          left: "4%",
          right: "4%",
          bottom: "10%",
          containLabel: true,
        },
        legend: {
          x: "right",
          y: "bottom",
          padding: [0, 60, 0, 0],
          itemWidth: 30,
          itemHeight: 20,
          show: false,
          data: [{ name: "月度" }, { name: "平均业绩", icon: "image://" }],
        },
        dataZoom: [
          {
            show: true,
            type: "slider",
            filterMode: "none",
            realtime: false,
            //zoomLock: true,
            height: 10,
            top: 370,
            start: 0,
            end: 100,
            // minValueSpan: 3600 * 24 * 1000 * 7,
            handleIcon:
              "path://path://M100, 100m -75, 0a75,75 0 1,0 150,0a75,75 0 1,0 -150,0",
            handleSize: "150%",
            handleStyle: {
              color: "#008EED",
              borderWidth: 0,
              shadowColor: "rgba(0,142,237,0.51)",
              shadowBlur: 2,
            },
            textStyle: {
              color: "transparent",
            },
            borderColor: "transparent",
            backgroundColor: "#EBEEF5",
            dataBackground: {
              lineStyle: {
                width: 0,
              },
              areaStyle: {
                color: "transparent",
              },
            },
            fillerColor: "#D6EEFF",
            labelFormatter: "",
          },
          {
            type: "inside",
            show: true,
            disabled: true,
            zoomOnMouseWheel: false,
            moveOnMouseWheel: true,
            moveOnMouseMove: true,
            preventDefaultMouseMove: true,
          },
        ],
        yAxis: {
          type: "category",
          splitLine: {
            show: true,
            lineStyle: {
              type: "dashed", //y轴分割线类型
            },
          },
          axisTick: {
            show: false, //坐标轴刻度线
          },
          axisLabel: {
            color: "#666",
            show: false,
          },
          axisLine: {
            show: true,
            lineStyle: {
              type: "solid",
              color: "#DDDDDD",
            },
          },
          axisPointer: {
            type: "none",
          },
          data: arr,
        },
        xAxis: {
          type: "value",
          min: new Date(start_).getTime(),
          max: new Date(end_).getTime(),
          boundaryGap: false,
          splitLine: {
            show: false,
          },
          axisLine: {
            show: true,
            lineStyle: {
              type: "solid",
              color: "#DDDDDD",
            },
          },

          axisTick: {
            show: false, //坐标轴刻度线
          },
          axisLabel: {
            color: "#666", // 坐标轴文字颜色
            formatter: function (param) {
              let date = new Date(param);
              let dateLabel =
                date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
              return dateLabel;
            },
          },
        },
        series: seriesData,
      };
      // 使用刚指定的配置项和数据显示图表。
      this.careerChart.setOption(option);
      this.careerChart.on("mouseover", function (params) {
        mouseIndex = params.componentIndex;
      });
      this.careerChart.on("mouseout", function (params) {
        if (mouseIndex != 0) {
          console.log(params, "44444");
          mouseIndex = 0;
        }
      });
      this.careerChart.on("dataZoom", function (params) {
        let pre = ((params.end.toFixed(2) - params.start.toFixed(2)) / 100).toFixed(2);
        let num =
          vm.careerChart.getModel().option.xAxis[0].max -
          vm.careerChart.getModel().option.xAxis[0].min;
        vm.dataZoomDiff = num * pre;
        vm.careerChart.dispatchAction({
          // 默认启动 toolbox 中 dataZoom 的刷选状态
          type: "takeGlobalCursor",
          key: "dataZoomSelect",
          dataZoomSelectActive: true,
        });
      });
    },

    // 设置人才标签是否显示展开更多
    setHasBtn() {
      const talentEle = document.getElementById("talentLabel");
      if (talentEle) {
        const lastChild = talentEle.lastChild;
        if (lastChild) {
          const offsetTop = lastChild.offsetTop;
          this.hasBtn = offsetTop > 0;
        } else {
          this.hasBtn = false;
        }
      } else {
        this.hasBtn = false;
      }
    },
    // 展开更多控制
    showMore() {
      this.showLabel = !this.showLabel;
    },
    // 时间格式化
    dateFormat(date, fmt = "yyyy年M月d日") {
      return dateFormat(date, fmt);
    },

    // 个人信息基础信息 (与个人简历接口一致,不调用)
    getBasicInfoApi() {
      const url = this.$environmentApi + "empinfophoto/searchBaseInfo";
      const params = {
        emplId: this.empId,
      };
      this.$axios({ method: "get", url, params }).then((res) => {
        const data = res.data || {};
        data.isDy = ["A", "B"].includes(data.politicCtcId);
        this.baseInfo = data;
      });
    },
    // 照片 (与个人简历接口一致,不调用)
    getPhotoApi() {
      const url = this.$environmentApi + "/empinfophoto/searchPhoto";
      const params = {
        emplId: this.empId,
      };
      this.$axios({ method: "get", url, params }).then((res) => {
        const url = "data:image/png;base64," + res.data.employeePhoto;
        this.photoUrl = url;
      });
    },

    // 人才标签
    getLabelApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .empphotoSearchLabel(params)
        .then((res) => {
          this.gridData = res.d.results || [];
          this.$nextTick(() => {
            this.setHasBtn();
          });
        });
    },
    // 下载文件
    getFileViewApi(data) {
      let vm = this;
      //  const url = this.$environmentApi + `file/download/${data.fileId}`;
      const url = this.$environmentApi + `tmempfilemapping/getFileKdy`;
      const params = {
        fileId: data.fileId,
      };
      this.$axios({ method: "get", url, params }).then((res) => {
        const data = res.data || [];
        console.log("datall", data);
        window.open(vm.$environmentApi + "file/download/" + data);
      });
    },

    // 重置图表
    resizeHandle() {
      this.setHasBtn();
      this.careerChartResize();
    },

    // 重置职业生涯甘特图
    careerChartResize() {
      if (this.careerChart && this.careerChart.hasOwnProperty("id")) {
        const chartEle = document.getElementById("career");
        if (chartEle) {
          const chartWidth = chartEle.offsetWidth;
          this.careerChart.resize({
            height: "400px",
            width: chartWidth,
          });
        }
      }
    },
    // 销毁图表
    clearChart() {
      if (this.careerChart.hasOwnProperty("id")) {
        this.careerChart.clear();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.portrait {
  background: #fff;
  padding-bottom: 30px;
  border-radius: 0 10px 10px;

  .base_info {
    padding: 20px 0;

    .info {
      padding: 0 32px;
      display: flex;

      .info_content {
        padding-top: 20px;
        flex: 1;
        display: flex;

        .info_item {
          padding-right: 28px;
          box-sizing: border-box;

          .info_pohto {
            width: 92px;
            height: 92px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 92px;
              height: 92px;
              object-position: top;
            }
          }
        }

        .heard_img {
          min-width: 40%;
          display: flex;
          align-items: center;

          .context {
            margin-left: 40px;
            text-align: left;

            img {
              width: 18px;
              height: 18px;
            }

            .name {
              font-size: 20px;
              color: #000;
              font-weight: 500;
            }

            .name_id {
              font-size: 18px;
              margin-left: 12px;
            }

            .sex {
              margin: 0 16px;
              margin-right: 10px;
            }

            .phone {
              color: #333;
              margin: 16px 0;
            }
            .line2 {
              line-height: 25px;
              font-size: 16px;
            }
          }
        }

        .work_info {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;

          .lh34 {
            line-height: 34px;
          }
        }
      }

      .trend_chart {
        width: 30%;
        height: 160px;
        padding-top: 10px;
        margin: 20px 0;
        margin-right: 30px;
        font-size: 12px;
      }
    }

    .personnel_label {
      padding: 0 32px;
      margin-top: 20px;
      display: flex;

      .label {
        font-size: 16px;
        font-weight: 500;
        margin-right: 8px;
        line-height: 26px;
      }

      ul {
        display: inline-block;
        margin-left: 16px;
        flex: 1;
        height: 26px;
        overflow: hidden;
        position: relative;
        text-align: left;

        li {
          display: inline-block;
          height: 24px;
          padding: 0 12px;
          text-align: center;
          line-height: 24px;
          margin-right: 12px;
          margin-bottom: 10px;
          background: #ffffff;
          border-radius: 12px;
          border: 1px solid #008eed;
          color: #008eed;

          &.top {
            border: 1px solid #d6eeff;
            background: #d6eeff;
          }
        }
      }

      .show {
        overflow: initial !important;
        height: auto !important;
      }

      .show_more {
        display: inline-block;
        height: 24px;
        padding: 0 12px;
        text-align: center;
        line-height: 24px;
        background: #eaedf3;
        border-radius: 12px;
        cursor: pointer;

        i {
          transform: rotate(270deg);
        }

        .icon_unfold {
          transform: rotate(90deg);
        }
      }
    }
  }
  .familyMembers {
    .search-title {
      .right {
        font-size: 16px;
        color: #409eff;
        cursor: pointer;
      }
    }
  }
  .train_record {
    .search-title {
      .right {
        font-size: 16px;
        color: #409eff;
        cursor: pointer;
      }
    }
  }
  .performance_distribution {
    .charts {
      width: 100%;
      height: 260px;
      margin-top: 10px;
    }
  }
  .career {
    .career_top {
      display: flex;
      padding: 0 30px;
      margin-top: 20px;

      .career_top_model {
        flex: 1;
        color: #666;

        span {
          color: #000;
        }

        .value {
          display: inline-block;
          padding: 2px 12px;
          font-size: 12px;
          background: #eaedf3;
          border-radius: 12px;
          color: #666;
          margin-left: 10px;
        }
      }
    }
    .search-title {
      .right {
        float: right;
        > div {
          padding: 4px 14px;
          font-size: 16px;
          font-weight: 500;
          display: inline-block;
          cursor: pointer;
        }
        .ative {
          background: #3f86f4;
          color: #fff;
        }
      }
    }
    #career {
      width: 100%;
      height: 280px;
    }
    .careerTable {
      padding: 6px 24px;
      box-sizing: border-box;
    }
    .career_bottom {
      text-align: right;
      margin: 8px;

      .career_bottom_model {
        font-size: 14px;
        color: #666;
        display: inline-block;
        margin-right: 24px;

        span {
          display: inline-block;
          font-size: 12px;
          margin-right: 6px;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
        }

        .outside {
          background: #d4f0e4;
          color: #00a73c;
        }

        .within {
          background: #d6eeff;
          color: #008eed;
        }

        .circular {
          border-radius: 50%;
          background: #008eed;
          color: #fff;
        }
      }
    }
  }

  .line_title {
    line-height: 40px;
  }

  .up_down_padding {
    padding: 20px 0;
  }
  .table_padding {
    padding: 6px 24px;
  }
  .bottom_border {
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border: 0;
    }
  }
}

.search_title {
  img {
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-left: 12px;
    cursor: pointer;
  }
}

.table_box {
  /deep/.content_table {
    tr:not(:last-child) {
      td {
        border-bottom: 1px solid #ccc !important;
      }
    }
  }
}

.tips-container {
  line-height: 28px;
}
</style>
<style lang="scss">
.portrait {
  .familyMembers {
    .el-table {
      margin-top: 14px;
    }
  }
}
</style>
