<template>
  <div class="search_title">
    <div>
      {{ title }}
      <span class="translate">{{ subTitle }}</span>
      <slot name="tips"></slot>
    </div>
    <div v-if="hasRight">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    subTitle: {
      type: String,
      default: "",
    },
    hasRight: {
      type: Boolean,
      default: false
    }
  },
};
</script>

<style lang="scss" scoped>
.search_title {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 36px;

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-color: #008eed;
    border-radius: 3px;
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 2px 0px 7px 0px rgba(0, 142, 237, 0.61);
  }

  .translate {
    color: #999999;
    margin-left: 14px;
    font-weight: 400;
  }

  &.border {
    border-bottom: 1px solid #f0f0f0;
  }

  .right_part {
    float: right;
  }
}
</style>
