<template>
  <el-tooltip :content="content" placement="top" effect="dark" :disabled="!isShowTooltip">
    <span class="text-hidden" @mouseenter="visibilityChange($event)">
      {{ content }}
    </span>
  </el-tooltip>
</template>
  
<script>
export default {
  props: {
    content: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isShowTooltip: true
    }
  },
  methods: {
    visibilityChange(event) {
      const ev = event.target;
      const ev_weight = ev.scrollWidth;
      const content_weight = ev.clientWidth;
      if (ev_weight > content_weight) {
        this.isShowTooltip = true;
      } else {
        this.isShowTooltip = false;
      }
    },
  }
};
</script>
<style scoped lang="scss">
.text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>