<template>
  <div
    class="login"
    v-loading="loading"
    :style="development ? 'background-color:#545c64' : ''"
  >
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
      v-if="development"
    >
      <div class="title-container">
        <h3 class="title">sie管理模拟登陆</h3>
      </div>

      <el-form-item prop="username">
        <i class="el-icon-user-solid"></i>
        <el-input
          ref="username"
          v-model="loginForm.username"
          placeholder="请输入用户名"
          name="username"
          type="text"
          tabindex="1"
          auto-complete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <i class="el-icon-attract"></i>
        <el-input
          :key="passwordType"
          ref="password"
          v-model="loginForm.password"
          :type="passwordType"
          placeholder="请输入密码"
          name="password"
          tabindex="2"
          auto-complete="on"
          @keyup.enter.native="handleLogin(loginForm.username)"
        />
        <span class="show-pwd" @click="showPwd">
          <i :class="passwordType === 'password' ? 'el-icon-thumb' : 'el-icon-view'"></i>
        </span>
      </el-form-item>

      <el-button
        size="medium"
        type="primary"
        :loading="loading"
        :style="'width: 100%; margin-bottom: 30px;border:' + $store.state.app.$dt_a"
        @click="handleLogin(loginForm.username)"
        >Login</el-button
      >

      <div class="tips">
        <span style="margin-right: 20px">username: admin</span>
        <span> password: any</span>
      </div>
    </el-form>
  </div>
</template>

<script>
import { setLocalStorage, getLocalStorage } from "@/utils/cache";

export default {
  name: "Login",
  data() {
    return {
      loginForm: {
        username: "187116", // 模拟登录：056183 测试登录：05946
        password: "111111",
      },
      loginRules: {
        username: [{ required: true, message: "请输入用户名", trigger: "blur" }],
      },
      loading: false,
      development: false,
      passwordType: "password",
      redirect: undefined,
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true,
    },
  },
  mounted() {
    let vm = this;
    let res = null;
    if (process.env.NODE_ENV == "development") {
      vm.development = true;
      return false;
    }
    res = vm.$route.query.empno;
    if (res) {
      vm.handleLogin(res);
    } else {
      vm.handleLogin();
    }
  },
  methods: {
    showPwd() {
      if (this.passwordType === "password") {
        this.passwordType = "";
      } else {
        this.passwordType = "password";
      }
      this.$nextTick(() => {
        this.$refs.password.focus();
      });
    },
    handleLogin(userName = "30HCM") {
      this.loading = true;
      // setLocalStorage(
      //   "X-Token",
      //   "1e8e397fedd2fbd9173c7084fb7cba59" || res.data.token
      // );
      // this.$router.replace({ path: this.$route.query.redirect || "/" });
      console.log(userName, "-------");
      this.api.baseInfo.baseInfoApi
        .fetchLogin({ userName: userName })
        .then((res) => {
          this.loading = false;
          setLocalStorage("X-Token", res.data.token);

          this.$router.replace({ path: "/" }).catch((err) => {});
          this.$notify({
            title: "登录成功",
            message: `欢迎回来`,
            type: "success",
            duration: 3000,
          });
        })
        .catch((err) => {
          this.$router.replace({ path: "/" }).catch((err) => {});
        });
    },
  },
};
</script>
<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg: #545c64;
$light_gray: #fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login .el-input input {
    color: $cursor;
  }
}

/* 重置element-ui css */
.login {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;

    .el-form-item__content {
      display: flex;
      align-items: center;

      i {
        margin-left: 15px;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
$bg: #545c64;
$dark_gray: #889aa4;
$light_gray: #eee;

.login {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  i {
    color: $light_gray;
    font-size: 20px;
    line-height: 20px;
  }
}
</style>
