<template>
  <el-tooltip
    :content="content"
    placement="top"
    effect="dark"
    :disabled="!isShowTooltip"
  >
    <div class="tips-container" slot="content">{{ content }}</div>
    <span
      class="personContrast-text-hidden"
      :style="`-webkit-line-clamp: ${line};width:${widthv}px`"
      @mouseenter="visibilityChange($event)"
    >
      {{ content }}
    </span>
  </el-tooltip>
</template>
  
<script>
export default {
  props: {
    content: {
      type: String,
      default: "",
    },
    line: {
      type: Number,
      default: 1,
    },
    widthv: {
      type: [Number, String],
      default: "auto",
    },
  },
  data() {
    return {
      isShowTooltip: true,
    };
  },
  methods: {
    visibilityChange(event) {
      const ev = event.target;
      const ev_height = ev.offsetHeight;
      const content_height = ev.scrollHeight;
      if (content_height > ev_height) {
        this.isShowTooltip = true;
      } else {
        this.isShowTooltip = false;
      }
    },
  },
};
</script>
<style scoped lang="scss">
.personContrast-text-hidden {
  display: -webkit-box;
  overflow: hidden;
  /*! autoprefixer: off; */
  -webkit-box-orient: vertical;
 // -webkit-line-clamp: 2;
}

.tips-container {
  max-width: 400px !important;
}
</style>