<style scoped>
@media screen and (min-width: 460px) {
	.wh_item_date:hover {
		background: #71c7a5;
		cursor: pointer;
	}
}
* {
	margin: 0;
	padding: 0;
}

.wh_container {
	max-width: 410px;
	margin: auto;
}

li {
	list-style-type: none;
}
.wh_top_changge {
	display: flex;
	position: relative;
}

.wh_top_changge .self-link {
	position: absolute;
	height: 47px;
	line-height: 47px;
	top: 0;
	right: 10px;
	font-size: 12px;
}

.wh_top_changge li {
	cursor: pointer;
	display: flex;
	color: #fff;
	font-size: 18px;
	flex: 1;
	justify-content: center;
	align-items: center;
	height: 47px;
	font-size: 14px;
	font-weight: 500;
	color: #1e1e1e;
}

.wh_top_changge .wh_content_li {
	cursor: auto;
	flex: 1;
}
.wh_content_all {
	font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif;
	background-color: #ffffff;
	width: 100%;
	overflow: hidden;
	padding-bottom: 8px;
}

.wh_content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 3% 0 3%;
	width: 100%;
}

.wh_content:first-child .wh_content_item_tag,
.wh_content:first-child .wh_content_item {
	color: #ddd;
	font-size: 16px;
}

.wh_content_item,
wh_content_item_tag {
	font-size: 12px;
	width: 13.4%;
	text-align: center;
	color: #252636;
	position: relative;
}
.wh_content_item {
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wh_top_tag {
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wh_item_date {
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-arow {
	display: flex !important;
	justify-content: flex-end !important;
}
.right-arow {
	display: flex !important;
	justify-content: flex-start !important;
}
.wh_jiantou1 {
	border-top: 2px solid #252636;
	border-left: 2px solid #252636;
	width: 6px;
	height: 6px;
	transform: rotate(-45deg);
}

.wh_jiantou1:active,
.wh_jiantou2:active {
	border-color: #ddd;
}

.wh_jiantou2 {
	border-top: 2px solid #252636;
	border-right: 2px solid #252636;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
}
.wh_content_item > .wh_isMark {
	margin: auto;
	border-radius: 100px;
	background: blue;
	z-index: 2;
}
.wh_content_item .wh_other_dayhide {
	color: #bfbfbf;
}
.wh_content_item .wh_want_dayhide {
	color: #bfbfbf;
}
.wh_content_item .wh_isToday {
	/* background: #fff; */
	border-radius: 100px;
}
.wh_content_item .wh_chose_day {
	/* background: green; */
	border-radius: 100px;
}

.tag-waper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.days-lable {
	height: 32px;
}
.panl-waper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tag-item {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: red;
	margin-right: 3px;
}

.c1 {
	background-color: #e04f35;
}
.c2 {
	background-color: #7c62d7;
}
.c3 {
	background-color: #1e1e1e;
}
.c4 {
	background-color: #f7c86c;
}
</style>
<style lang="scss">
.calendar {
	height: 100% !important;
}
.wh_container {
	.el-calendar-table .el-calendar-day {
		height: 40px;
	}
	.el-calendar__body {
		padding: 0 12px;
	}
}
</style>
<template>
	<section class="wh_container">
		<div class="wh_content_all">
			<!-- <div class="wh_top_changge">
        <li class="left-arow" @click="PreMonth(myDate, false)">
          <div class="wh_jiantou1"></div>
        </li>
        <li class="wh_content_li">{{ dateTop }}</li>
        <li class="right-arow" @click="NextMonth(myDate, false)">
          <div class="wh_jiantou2"></div>
        </li>
      </div> -->
			<el-calendar v-model="value"> </el-calendar>
			<div class="wh_content">
				<div class="wh_content_item" v-for="(tag, index) in textTop" :key="index">
					<div class="wh_top_tag">{{ tag }}</div>
				</div>
			</div>
			<div class="wh_content">
				<div class="wh_content_item" v-for="(item, index) in list" :key="index" @click="clickDay(item, index)">
					<div class="wh_item_date" v-bind:class="[{ wh_isMark: item.isMark }, { wh_other_dayhide: item.otherMonth !== 'nowMonth' }, { wh_want_dayhide: item.dayHide }, { wh_isToday: item.isToday }, { wh_chose_day: item.chooseDay }, setClass(item)]">
						<div class="panl-waper">
							<span class="days-lable"> {{ item.id }}</span>
							<div class="tag-waper">
								<div class="tag-item c1" v-if="item.tag1"></div>
								<div class="tag-item c2" v-if="item.tag2"></div>
								<div class="tag-item c3" v-if="item.tag3"></div>
								<div class="tag-item c4" v-if="item.tag4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import timeUtil from './calendar';
export default {
	data() {
		return {
			myDate: {},
			list: [],
			historyChose: [],
			dateTop: '',
			value: new Date(),
		};
	},
	name: 'appCalendar',
	props: {
		markDate: {
			type: Array,
			default: () => [],
		},
		markDateMore: {
			type: Array,
			default: () => [],
		},
		textTop: {
			type: Array,
			default: () => ['一', '二', '三', '四', '五', '六', '日'],
		},
		sundayStart: {
			type: Boolean,
			default: () => false,
		},
		agoDayHide: {
			type: String,
			default: `0`,
		},
		futureDayHide: {
			type: String,
			default: `2554387200`,
		},
	},
	created() {
		this.intStart();
		this.myDate = new Date();
	},
	methods: {
		intStart() {
			timeUtil.sundayStart = this.sundayStart;
		},
		setClass(data) {
			let obj = {};
			obj[data.markClassName] = data.markClassName;
			return obj;
		},
		clickDay: function (item, index) {
			if (item.otherMonth === 'nowMonth' && !item.dayHide) {
				this.getList(this.myDate, item.date);
			}
			if (item.otherMonth !== 'nowMonth') {
				item.otherMonth === 'preMonth' ? this.PreMonth(item.date) : this.NextMonth(item.date);
			}
		},
		ChoseMonth: function (date, isChosedDay = true) {
			date = timeUtil.dateFormat(date);
			this.myDate = new Date(date);
			this.$emit('changeMonth', timeUtil.dateFormat(this.myDate));
			if (isChosedDay) {
				this.getList(this.myDate, date, isChosedDay);
			} else {
				this.getList(this.myDate);
			}
		},
		PreMonth: function (date, isChosedDay = true) {
			date = timeUtil.dateFormat(date);
			this.myDate = timeUtil.getOtherMonth(this.myDate, 'preMonth');
			this.$emit('changeMonth', timeUtil.dateFormat(this.myDate));
			if (isChosedDay) {
				this.getList(this.myDate, date, isChosedDay);
			} else {
				this.getList(this.myDate);
			}
		},
		NextMonth: function (date, isChosedDay = true) {
			date = timeUtil.dateFormat(date);
			this.myDate = timeUtil.getOtherMonth(this.myDate, 'nextMonth');
			this.$emit('changeMonth', timeUtil.dateFormat(this.myDate));
			if (isChosedDay) {
				this.getList(this.myDate, date, isChosedDay);
			} else {
				this.getList(this.myDate);
			}
		},
		forMatArgs: function () {
			let markDate = this.markDate;
			let markDateMore = this.markDateMore;
			markDate = markDate.map((k) => {
				return timeUtil.dateFormat(k);
			});
			markDateMore = markDateMore.map((k) => {
				k.date = timeUtil.dateFormat(k.date);
				return k;
			});
			return [markDate, markDateMore];
		},
		getList: function (date, chooseDay, isChosedDay = true) {
			const [markDate, markDateMore] = this.forMatArgs();
			this.dateTop = `${date.getFullYear()}年${date.getMonth() + 1}月`;
			let arr = timeUtil.getMonthList(this.myDate);
			for (let i = 0; i < arr.length; i++) {
				let markClassName = '';
				let tag1 = false;
				let tag2 = false;
				let tag3 = false;
				let tag4 = false;

				let k = arr[i];
				k.chooseDay = false;
				const nowTime = k.date;
				const t = new Date(nowTime).getTime() / 1000;
				//看每一天的class
				for (const c of markDateMore) {
					if (c.date === nowTime) {
						markClassName = c.className || '';
						tag1 = c.tag1 || false;
						tag2 = c.tag2 || false;
						tag3 = c.tag3 || false;
						tag4 = c.tag4 || false;
					}
				}

				//标记选中某些天 设置class
				k.tag1 = tag1;
				k.tag2 = tag2;
				k.tag3 = tag3;
				k.tag4 = tag4;
				k.markClassName = markClassName;
				k.isMark = markDate.indexOf(nowTime) > -1;
				//无法选中某天
				k.dayHide = t < this.agoDayHide || t > this.futureDayHide;
				if (k.isToday) {
					this.$emit('isToday', nowTime);
				}
				let flag = !k.dayHide && k.otherMonth === 'nowMonth';
				if (chooseDay && chooseDay === nowTime && flag) {
					this.$emit('choseDay', nowTime);
					this.historyChose.push(nowTime);
					k.chooseDay = true;
				} else if (this.historyChose[this.historyChose.length - 1] === nowTime && !chooseDay && flag) {
					k.chooseDay = true;
				}
			}
			this.list = arr;
		},
	},
	mounted() {
		this.getList(this.myDate);
	},
	watch: {
		markDate: {
			handler(val, oldVal) {
				this.getList(this.myDate);
			},
			deep: true,
		},
		markDateMore: {
			handler(val, oldVal) {
				this.getList(this.myDate);
			},
			deep: true,
		},
		agoDayHide: {
			handler(val, oldVal) {
				this.getList(this.myDate);
			},
			deep: true,
		},
		futureDayHide: {
			handler(val, oldVal) {
				this.getList(this.myDate);
			},
			deep: true,
		},
		sundayStart: {
			handler(val, oldVal) {
				this.intStart();
				this.getList(this.myDate);
			},
			deep: true,
		},
	},
};
</script>
