<!-- 选择公司业务组件-分页下拉懒加载 -->
<template>
  <!-- @focus 解决搜索失去焦点之后，数据不会重置的问题   @focus="remoteMethod('')" -->
  <el-select
    size="mini"
    v-model="currentValue"
    filterable
    clearable
    placeholder="请选择"
    remote
    reserve-keyword
    :loading="interesLoading"
    :remote-method="remoteMethod"
    v-select-loadmore="interestsLoadmore"
    v-on="$attrs.change ? { change: $attrs.change } : ''"
    v-bind="{ ...$attrs }"
  >
    <el-option
      v-for="(option, index) in options"
      :key="index"
      :value="option.value"
      :label="option.label"
      @click.native="handleSelectClick(option)"
    >
    </el-option>
  </el-select>
</template>

<script>
export default {
  name: "appSelectLoading",
  props: {
    options: [Array, Function],
    afterOptions: [Array, Function],
    interesLoading: {
      type: Boolean,
      default: false,
    },
    value: [String, Number, Array],
  },
  data() {
    return {};
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    handleSelectClick(item) {
      this.$emit("inputAll", item);
    },
    remoteMethod(name) {
      this.$emit("remote", name);
    },
    interestsLoadmore() {
      this.$emit("Loadmore");
    },
  },
};
</script>
<style lang="scss" scoped>
.option {
  height: auto;
  line-height: 1;
  padding: 0;
  background-color: #fff;
}

.tree {
  padding: 4px 20px;
  font-weight: 400;
}
</style>
