<!-- @format -->

<template>
	<div class="app-sub-title-badge">
		<div class="title-icon"></div>
		<div class="title-content">
			<el-badge :value="data" class="item">
				{{ title }}
			</el-badge>
		</div>
	</div>
</template>
<script>
export default {
	props: {
		data: [String, Number],
		title: String,
	},
};
</script>
<style lang="scss" scoped>
.app-sub-title-badge {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 20px 0;
	.title-icon {
		width: 6px;
		height: 15px;
		background-color: #409eff;
		margin-right: 10px;
	}
	.title-content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 16px;
	}
}
</style>
