<!-- 表单组件 -->
<template>
	<el-form :label-position="labelPosition" :model="formData" v-bind="$attrs" ref="ruleForm">
		<el-row :gutter="20" :style="$attrs.rowStyle">
			<el-col v-for="field in fieldsList" :key="field.label" :span="field.span || 8">
				<el-form-item v-if="!field.isArray" :prop="field.prop" :label="field.label">
					<component v-bind="field.attrs || {}" v-on="field.event || {}" :is="field.component || 'el-input'"
						v-model="formData[field.prop]" />
				</el-form-item>

				<!-- 按钮组件 -->
				<!-- <el-form-item v-else  prop="`${field.prop}`" :label="field.label">
						<div class="button-list" :class="field.position">
							<div v-for="(item, index) in field.list" :key="index">
								<div v-if="item.isShow" class="button-item" :style="{ marginLeft: item.ml }">
									<component 
										v-bind="{ ...item }" 
										:is="item.component || 'el-input'" 
										v-model="data[item.prop]"
									/>
								</div>
							</div>
						</div>
					</el-form-item> -->
			</el-col>
		</el-row>
	</el-form>
</template>
<script>
import appButton from './../appButton';
import appCalendar from './../appCalendar';
import appCascader from './../appCascader';
import appCheckBox from './../appCheckBox';
import appDatePicker from './../appDatePicker';
import appInput from './../appInput';
import appRadio from './../appRadio';
import appSelect from './../appSelect';
import appText from './../appText';
import appTimePicker from './../appTimePicker';
import appUpload from './../appUpload';
import appUploadFile from './../appUploadFile';
import appSelectColor from './../appSelectColor';

import appSelectPosition from '../../business/appSelectPosition';
import appSelectEmp from '../../business/appSelectEmp';
import appSelectCompany from '../../business/appSelectCompany';
import appSelectDept from '../../business/appSelectDept';
import appSelectComm from '../../business/appSelectComm';
import appSelectTeacher from '../../business/appSelectTeacher';
import appSelectPosnSec from '../../business/appSelectPosnSec';
import appSelectCourse from '../../business/appSelectCourse';
import appSelectTrainInstitution from '../../business/appSelectTrainInstitution';
import appSelectPlanSelect from '../../business/appSelectPlanSelect';
import appSelectExam from '../../business/appSelectExam';
import appSelectPlanList from '../../business/appSelectPlanList';
import appSelectAtt from '../../business/appSelectAtt';

export default {
	name: 'appForm',
	components: {
		appButton,
		appCalendar,
		appCascader,
		appCheckBox,
		appDatePicker,
		appInput,
		appRadio,
		appSelect,
		appText,
		appTimePicker,
		appUpload,
		appUploadFile,
		appSelectColor,
		appSelectPosition,
		appSelectEmp,
		appSelectCompany,
		appSelectDept,
		appSelectComm,
		appSelectTeacher,
		appSelectPosnSec,
		appSelectCourse,
		appSelectTrainInstitution,
		appSelectPlanSelect,
		appSelectExam,
		appSelectPlanList,
		appSelectAtt,
	},
	props: {
		formData: Object,
		fields: [Array, Function],
		disabled: Boolean,
		labelPosition: { type: String, default: 'right' },
	},

	computed: {
		fieldsList() {
			if (typeof this.fields === 'function') {
				return this.fields(this.data || {});
			}
			return this.fields;
		},
	},
};
</script>
<style lang="scss" scoped>
::v-deep .el-input,
::v-deep .el-input__inner,
::v-deep .el-input__icon {
	height: 30px;
	line-height: 30px;
	color: #606266;
}

::v-deep .el-form-item {
	margin-bottom: 20px;
	color: #8f8f8f;
}

::v-deep .el-textarea__inner {
	color: #8f8f8f;
}

::v-deep .el-button--small {
	// height: 28px;
	// line-height: 5px;
}

::v-deep .el-date-editor.el-input,
::v-deep .el-date-editor.el-input__inner {
	width: 100%;
}

.button-list {
	display: flex;
	flex-direction: row;
	align-items: center;

	.button-item {
		margin-left: 20px;
	}
}

.left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
</style>
