<!--模型维护页面-->
<template>
  <div class="add_model main_page_style">
    <div class="tabs_bar">
      <div
        v-for="tab in tabs"
        :key="tab.id"
        :class="{ current_bar: tab.id === currentVal }"
      >
        {{ tab.label }}
      </div>
    </div>
    <div class="main_content">
      <div v-if="currentVal === 1">
        <el-form :model="formValue" ref="form" :rules="rules" :disabled="disabled">
          <el-form-item
            v-bind="{ ...field, events: undefined }"
            :label="field.label"
            v-for="field in formFields"
            :key="field.prop"
            label-width="calc(5em + 12px)"
          >
            <select-tree
              v-if="field.type === 'select-tree'"
              v-model="formValue[field.prop]"
              style="width: 100%"
              v-on="field.events"
            ></select-tree>
            <el-select
              v-else-if="field.type === 'select'"
              style="width: 100%"
              v-model="formValue[field.prop]"
              placeholder="请选择"
              :disabled="field.disabled"
              filterable
              clearable
            >
              <el-option
                v-for="item in getOptions(field.prop)"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="categoryClick(field.prop, item.label)"
              >
              </el-option>
            </el-select>
            <el-input-number
              v-else-if="field.type === 'input-number'"
              style="width: 100%"
              v-model="formValue[field.prop]"
              :min="1"
              :max="100"
            ></el-input-number>
            <el-input
              v-else
              style="width: 100%"
              v-model="formValue[field.prop]"
              :placeholder="field.placeholder || '请输入内容'"
              clearable
              :disabled="field.disabled"
            ></el-input>
          </el-form-item>
        </el-form>
        <div class="foot_buttons">
          <el-button @click="$emit('show', false)"> 取消 </el-button>
          <el-button type="primary" @click="toStep2"> 下一步 </el-button>
        </div>
      </div>
      <div v-else-if="currentVal === 2">
        <search-table :data="modelDetailsData" :fields="firstTableFields">
          <template #operateFirst="{ row }">
            <el-button
              type="text"
              @click="editFirst(row)"
              :disabled="disabled"
              v-if="operateType == 'edit'"
              >编辑</el-button
            >
            <el-button type="text" @click="deleteLv1(row)" :disabled="disabled" v-else
              >删除</el-button
            >
          </template>
          <template #tableOperation>
            <div class="table_header">
              <div class="title">{{ formValue.modelName || "" }}</div>
              <div v-if="operateType === 'add'">
                <el-button
                  type="primary"
                  class="primary_currency"
                  @click="addFirst"
                  :disabled="disabled"
                  >新增行</el-button
                >
              </div>
            </div>
          </template>
        </search-table>
        <div class="foot_buttons">
          <el-button @click="$emit('show', false)"> 取消 </el-button>
          <el-button type="primary" @click="currentVal = 1"> 上一步 </el-button>
          <el-button type="primary" @click="toStep3"> 下一步 </el-button>
        </div>
      </div>
      <div v-else-if="currentVal === 3">
        <search-table
          :data="table.lv2IndexList"
          :fields="secondTableFields"
          v-for="(table, i) in modelDetailsData"
          :key="table.lv1IndexName"
        >
          <template #operateSecond="{ row }">
            <el-button
              type="text"
              @click="editSecond(row)"
              :disabled="disabled"
              v-if="operateType == 'edit'"
              >编辑</el-button
            >
            <el-button type="text" @click="deleteLv2(row)" :disabled="disabled" v-else
              >删除</el-button
            >
          </template>
          <template #tableOperation>
            <div class="table_header">
              <div class="title">{{ table.lv1IndexName || "" }}</div>
              <div v-if="operateType === 'add'">
                <el-button
                  type="primary"
                  class="primary_currency"
                  @click="addSecond(table, i)"
                  :disabled="disabled"
                  >新增行</el-button
                >
              </div>
            </div>
          </template>
        </search-table>
        <div class="foot_buttons">
          <el-button @click="$emit('show', false)"> 取消 </el-button>
          <el-button type="primary" @click="currentVal = 2"> 上一步 </el-button>
          <el-button type="primary" :loading="loading" @click="submit" v-if="!disabled">
            提交
          </el-button>
        </div>
      </div>
    </div>
    <dialog-form
      width="40%"
      :title="dialogTitle"
      @confirm="confirm"
      @cancel="cancel"
      :form-fields="dialogFormFields"
      :form-value="dialogFormValue"
      :form-rules="dialogFormRules"
      :dialog-visible.sync="dialogVisible"
      :form-label-width="'calc(7em + 12px)'"
      :destroy-on-close="true"
    ></dialog-form>
  </div>
</template>
<script>
import selectTree from "@/components/business/appSelectCompany";
import searchTable from "../../components/searchTable.vue";
import dialogForm from "../../components/dialogForm.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    selectTree,
    searchTable,
    dialogForm,
  },
  props: {
    operateType: String,
    modelFormValue: Object,
    sequenceList: Array,
  },
  data() {
    return {
      currentVal: 1,
      tabs: [
        {
          id: 1,
          label: "第一步. 模型维护",
        },
        {
          id: 2,
          label: "第二步. 一级指标维护",
        },
        {
          id: 3,
          label: "第三步. 二级指标维护",
        },
      ],
      modelDetails: { lv1IndexList: [] }, // 模型详情
      loading: false,
      formValue: {
        // 模型参数
        // id: null,
        modelId: "",
        modelName: "",
        orderId: 0,
        deptId: "",
        deptName: "",
        categoryId: "",
        category: "",
        status: "",
      },
      departmentProp: {
        label: "name",
        children: "children",
      },
      disabled: false,
      dialogVisible: false,
      dialogTitle: "",
      dialogFormValue: {},
      //
      statusList: [
        {
          label: "生效",
          value: "生效",
        },
        {
          label: "失效",
          value: "失效",
        },
      ],
    };
  },
  computed: {
    //...mapGetters(["departmentList", "sequenceList", "statusList"]),
    title() {
      if (this.operateType === "add") {
        return "新建模型";
      } else if (this.operateType === "edit") {
        return "修改模型";
      }
      return "查看模型";
    },
    sequenceList2() {
      let sequenceList = [];
      if (this.sequenceList.length > 0) {
        sequenceList = [{ value: "ALL", label: "全部" }, ...this.sequenceList];
      }
      return sequenceList || [];
    },
    modelDetailsData() {
      return this.modelDetails?.lv1IndexList || [];
    },
    formFields() {
      let vm = this;
      return [
        {
          label: "模型编号",
          prop: "modelId",
          show: this.operateType === "add",
          disabled: true,
        },
        {
          label: "模型名称",
          placeholder: "建议名称不超过四个汉字",
          prop: "modelName",
        },
        {
          label: "排序",
          prop: "orderId",
          type: "input-number",
        },
        {
          label: "适用组织",
          prop: "deptId",
          type: "select-tree",
          events: {
            inputName: function (val) {
              vm.$set(vm.formValue, "deptName", val || "");
            },
          },
        },
        {
          label: "适用序列",
          prop: "categoryId",
          type: "select",
          propName: "category",
        },
        {
          label: "状态",
          prop: "status",
          type: "select",
        },
      ].filter((f) => !f.show);
    },
    rules() {
      return {
        modelName: [{ required: true, message: "请输入模型名称", trigger: "blur" }],
        orderId: [{ required: true, message: "请输入排序顺序", trigger: "blur" }],
        deptId: [{ required: true, message: "请选择适用组织", trigger: "blur" }],
        categoryId: [{ required: true, message: "请选择适用序列", trigger: "blur" }],
        status: [{ required: true, message: "请选择状态", trigger: "blur" }],
      };
    },
    firstTableFields() {
      return [
        {
          label: "序号",
          width: "50px",
          type: "index",
        },
        {
          label: "一级指标编号",
          width: "150px",
          prop: "lv1IndexId",
          show: this.operateType === "add",
        },
        {
          label: "一级指标名称",
          width: "150px",
          prop: "lv1IndexName",
        },
        {
          label: "一级指标说明",
          width: "300px",
          prop: "lv1IndexComment",
        },
        // {
        //   label: "状态",
        //   width: "100px",
        //   prop: "status",
        // },
        {
          label: "操作",
          width: "200px",
          slot: "operateFirst",
        },
      ].filter((f) => !f.show);
    },
    secondTableFields() {
      return [
        {
          label: "序号",
          width: "50px",
          type: "index",
        },
        {
          label: "二级指标编号",
          width: "150px",
          prop: "lv2IndexId",
          show: this.operateType === "add",
        },
        {
          label: "二级指标名称",
          width: "150px",
          prop: "lv2IndexName",
        },
        {
          label: "二级指标说明",
          width: "300px",
          prop: "lv2IndexComment",
        },
        // {
        //   label: "状态",
        //   width: "100px",
        //   prop: "status",
        // },
        {
          label: "操作",
          width: "200px",
          slot: "operateSecond",
        },
      ].filter((f) => !f.show);
    },
    dialogFormFields() {
      if (this.dialogTitle && this.dialogTitle.includes("一级指标")) {
        return [
          {
            label: "一级指标名称",
            prop: "lv1IndexName",
          },
          {
            label: "一级指标说明",
            prop: "lv1IndexComment",
            type: "textarea",
          },
          // {
          //   label: "状态",
          //   prop: "status",
          //   type: "select",
          //   options: this.getOptions("status"),
          // },
        ];
      } else if (this.dialogTitle && this.dialogTitle.includes("二级指标")) {
        return [
          {
            label: "二级指标名称",
            prop: "lv2IndexName",
          },
          {
            label: "二级指标说明",
            prop: "lv2IndexComment",
            type: "textarea",
          },
          // {
          //   label: "状态",
          //   prop: "status",
          //   type: "select",
          //   options: this.getOptions("status"),
          // },
        ];
      }
      return [];
    },
    dialogFormRules() {
      if (this.dialogTitle && this.dialogTitle.includes("一级指标")) {
        return {
          lv1IndexName: [
            {
              required: true,
              message: "请输入一级指标名称",
              trigger: "blur",
            },
          ],
          status: [{ required: true, message: "请选择状态", trigger: "blur" }],
        };
      } else if (this.dialogTitle && this.dialogTitle.includes("二级指标")) {
        return {
          lv2IndexName: [
            {
              required: true,
              message: "请输入二级指标名称",
              trigger: "blur",
            },
          ],
          status: [{ required: true, message: "请选择状态", trigger: "blur" }],
        };
      }
      return {};
    },
  },
  watch: {
    operateType: {
      immediate: true,
      handler(val) {
        if (val === "view") {
          this.disabled = true;
        } else {
          this.disabled = false;
        }
      },
    },
    "modelDetails.lv1IndexList": {
      immediate: true,
      handler(val) {
        let vm = this;
        for (const key in vm.modelDetails.lv1IndexList) {
          vm.modelDetails.lv1IndexList[key].lv1Id = Number(key);
          if (vm.modelDetails.lv1IndexList[key].lv2IndexList) {
            for (const it in vm.modelDetails.lv1IndexList[key].lv2IndexList) {
              vm.modelDetails.lv1IndexList[key].lv2IndexList[it].lv2Id = Number(it);
              vm.modelDetails.lv1IndexList[key].lv2IndexList[it].index = Number(key);
            }
          }
        }
      },
    },
  },
  created() {
    if (this.operateType === "add") {
      this.formValue.status = "生效";
      //this.getMaxOrder();
    } else if (this.modelFormValue.id && this.modelFormValue.modelId) {
      this.searchDetails(this.modelFormValue.id);
    }
  },
  methods: {
    //排序
    getMaxOrder() {
      let vm = this;
      let url = "tmimodelbase/findMaxOrder";
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + url,
      }).then((res) => {
        if (res.data?.code == 0) {
          vm.formValue.orderId = res.data.data;
        }
      });
    },
    categoryClick(prop, val) {
      console.log(val);
      if (prop == "categoryId") {
        this.$set(this.formValue, "category", val || "");
      } else {
        this.$set(this.formValue, "status", val || "");
      }
    },
    searchDetails(modelId) {
      let vm = this;
      vm.api.personnelPortrait.personnelPortraitApi
        .otrmodelQueryDetails(modelId)
        .then((res) => {
          if (res.code == 0) {
            vm.modelDetails = {
              ...res.data,
              lv1IndexList: res.data.lv1IndexList || [],
            };
            vm.modelDetails.lv1IndexList = vm.modelDetails.lv1IndexList.map((p) => {
              return {
                ...p,
                lv2IndexList: p.lv2IndexList || [],
              };
            });
            if (Object.values(vm.modelDetails).length > 0) {
              Object.keys(vm.formValue).forEach((key) => {
                if (vm.modelDetails[key]) {
                  vm.formValue[key] = vm.modelDetails[key];
                }
              });
            }
            vm.formValue.id = res.data?.id;
          } else {
            vm.modelDetails = {};
            vm.formValue = {};
            vm.$message.error("查询模型详情失败");
          }
        });
    },
    getOptions(prop) {
      if (prop === "categoryId") {
        return this.sequenceList2 || [];
      } else if (prop === "status") {
        return this.statusList || [];
      }
      return [];
    },
    //重复校验
    checkExist() {
      let vm = this;
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmimodelbase/checkExist",
        data: {
          ...vm.formValue,
        },
      }).then((res) => {
        if (res.data?.code == 0) {
          if (res.data.data) {
            vm.$message.warning("模型已存在！");
          } else {
            vm.currentVal = 2;
          }
        }
      });
    },
    async toStep2() {
      const vm = this;
      try {
        await vm.$refs.form.validate();
        vm.currentVal = 2;
        // vm.checkExist();

        // if (vm.operateType === "add" && !vm.formValue.id) {
        //   // 直接新建模型
        //   vm.addOrUpdateModel();
        // } else if (
        //   ((vm.operateType === "add" && vm.formValue.id) ||
        //     vm.operateType === "edit") &&
        //   (vm.formValue.modelName !== vm.modelDetails.modelName ||
        //     vm.formValue.orderId !== vm.modelDetails.orderId ||
        //     (!(!vm.formValue.deptId && !vm.modelDetails.deptId) &&
        //       vm.formValue.deptId !== vm.modelDetails.deptId) ||
        //     (!(!vm.formValue.categoryId && !vm.modelDetails.categoryId) &&
        //       vm.formValue.categoryId !== vm.modelDetails.categoryId) ||
        //     vm.formValue.status !== vm.modelDetails.status)
        // ) {
        //   // (新建完成之后返回上一步 || 编辑进来) && 修改了模型参数
        //   console.log("参数改动，触发更新");
        //   vm.addOrUpdateModel();
        // } else {
        //   vm.currentVal = 2;
        // }
      } catch (error) {
        console.log(error, "error");
      }
    },
    toStep3() {
      if (this.modelDetailsData && this.modelDetailsData.length === 0) {
        return this.$message.warning("请先维护一级指标");
      }
      this.currentVal = 3;
    },
    addFirst() {
      this.dialogTitle = "新增一级指标";
      this.dialogFormValue = {
        status: "生效",
      };
      this.dialogVisible = true;
    },
    addSecond(row, i) {
      this.dialogTitle = "新增二级指标";
      this.dialogFormValue = {
        status: "生效",
        lv1IndexId: row.lv1IndexId,
        lv1IndexName: row.lv1IndexName,
        index: i,
      };
      this.dialogVisible = true;
    },
    editFirst(row) {
      this.dialogTitle = "编辑一级指标";
      this.dialogFormValue = { ...row, lv1Original: row.lv1IndexName };
      this.dialogVisible = true;
    },
    editSecond(row) {
      this.dialogTitle = "编辑二级指标";
      this.dialogFormValue = { ...row };
      this.dialogVisible = true;
    },
    confirm() {
      try {
        let formValue = {
          ...this.formValue,
          ...this.dialogFormValue,
        };
        if (this.dialogTitle === "新增一级指标") {
          this.addLv1(formValue);
        } else if (this.dialogTitle === "编辑一级指标") {
          console.log(formValue, "000000000000000000", this.modelDetails);
          this.updateLv1(formValue);
        } else if (this.dialogTitle === "新增二级指标") {
          this.addLv2(formValue);
        } else if (this.dialogTitle === "编辑二级指标") {
          this.updateLv2(formValue);
        }
        // this.searchDetails();
      } catch (err) {
        console.log(err, "err");
      }
    },
    cancel() {
      this.dialogVisible = false;
      this.dialogFormValue = {};
      this.dialogTitle = "";
    },
    submit() {
      console.log("提交");
      let vm = this;
      let obj = {
        ...vm.modelDetails,
        ...vm.formValue,
      };
      console.log(vm.formValue, vm.modelDetails, obj);
      vm.loading = true;
      vm.api.personnelPortrait.personnelPortraitApi
        .otrmodelAddOrUpdate(obj)
        .then((res) => {
          console.log(res);
          if (res.code == 0) {
            vm.$message.success("提交成功");
            vm.$emit("show", false);
          }
          vm.loading = false;
        })
        .catch((err) => {
          vm.loading = false;
        });
    },
    addOrUpdateModel() {
      let vm = this;
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmimodelbase/addOrUpdate",
        data: {
          ...vm.formValue,
        },
      }).then((res) => {
        if (res.data?.code == 0) {
          vm.$message.success(
            this.operateType === "add" && !this.formValue.id
              ? "模型创建成功"
              : "修改模型成功"
          );
          if (res.data?.data && res.data?.data.modelId) {
            vm.formValue.modelId = res.data?.data.modelId;
            vm.searchDetails(vm.formValue.id);
          }
          vm.currentVal = 2;
          // } else {
          //   vm.$message.error("模型创建失败");
        }
      });
    },
    addLv1(form) {
      let vm = this;
      let resArr = [];
      //一级指标名相同
      if (vm.modelDetails.lv1IndexList.length != 0) {
        resArr = vm.modelDetails.lv1IndexList.filter((p) => {
          return form.lv1IndexName == p.lv1IndexName;
        });
      }
      if (resArr.length != 0) {
        vm.$message.warning("一级指标名重复！");
        return false;
      }
      vm.modelDetails?.lv1IndexList.push(form);
      console.log(vm.modelDetails.lv1IndexList, "000000");
      vm.dialogVisible = false;
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/addLv1Index",
      //   data: {
      //     ...form,
      //     id: null, // 新建一级指标不用传id
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("添加一级指标成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("添加一级指标失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
    updateLv1(form) {
      let vm = this;
      let resArr = [];
      let obj = vm.modelDetails.lv1IndexList[form.lv1Id];
      //一级指标名相同
      if (vm.modelDetails.lv1IndexList.length != 0) {
        resArr = vm.modelDetails.lv1IndexList.filter((p) => {
          if (form.lv1IndexName != form.lv1Original) {
            return form.lv1IndexName == p.lv1IndexName;
          }
        });
      }
      if (resArr.length != 0) {
        vm.$message.warning("一级指标名重复！");
        return false;
      }
      obj.lv1IndexName = form.lv1IndexName;
      obj.lv1IndexComment = form.lv1IndexComment;
      vm.dialogVisible = false;
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/updateLv1Index",
      //   data: {
      //     ...form,
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("修改一级指标成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("修改一级指标失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
    deleteLv1(form) {
      let vm = this;
      console.log(form);
      vm.modelDetails?.lv1IndexList.splice(form.lv1Id, 1);
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/deleteLv1Index",
      //   data: {
      //     ...form,
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("删除成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("删除失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
    addLv2(form) {
      let vm = this;
      let list = vm.modelDetails?.lv1IndexList[form.index];
      let obj = { ...form };
      if (list.lv2IndexList) {
        obj.lv2Id = list.lv2IndexList.length;
        list.lv2IndexList.push(obj);
      } else {
        vm.$set(list, "lv2IndexList", []);
        obj.lv2Id = 0;
        list.lv2IndexList.push(obj);
      }

      console.log(form, vm.modelDetails, vm.modelDetailsData);
      vm.dialogVisible = false;
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/addLv2Index",
      //   data: {
      //     lv1IndexId: form.lv1IndexId,
      //     lv2IndexComment: form.lv2IndexComment,
      //     lv2IndexId: form.lv2IndexId,
      //     lv2IndexName: form.lv2IndexName,
      //     modelId: form.modelId,
      //     status: form.status,
      //     id: null, // 新建二级指标不用传id
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("添加成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("添加失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
    updateLv2(form) {
      let vm = this;
      let obj = vm.modelDetails?.lv1IndexList[form.index].lv2IndexList[form.lv2Id];
      obj.lv2IndexName = form.lv2IndexName;
      obj.lv2IndexComment = form.lv2IndexComment;
      console.log(form, vm.modelDetails, vm.modelDetailsData);
      vm.dialogVisible = false;
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/updateLv2Index",
      //   data: {
      //     ...form,
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("修改成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("修改失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
    deleteLv2(form) {
      let vm = this;
      let lv2IndexList = vm.modelDetails?.lv1IndexList[form.index].lv2IndexList;
      console.log(form);
      lv2IndexList.splice(form.lv2Id, 1);
      if (lv2IndexList.length != 0) {
        for (const key in lv2IndexList) {
          lv2IndexList[key].lv2Id = Number(key);
        }
      }
      // vm.$axios({
      //   method: "post",
      //   url: vm.$environmentApi + "tmimodelbase/deleteLv2Index",
      //   data: {
      //     ...form,
      //   },
      // }).then((res) => {
      //   if (res.data?.code == 0) {
      //     vm.$message.success("删除成功");
      //     vm.searchDetails();
      //     // } else {
      //     //   vm.$message.error("删除失败");
      //   }
      //   vm.dialogVisible = false;
      // });
    },
  },
};
</script>
<style lang="scss" scoped>
.add_model {
  padding: 16px 20px;
}
.tabs_bar {
  display: inline-flex;
  width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background-color: #eaedf3;
  div {
    width: 33.3%;
  }
  .current_bar {
    color: #fff;
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
  }
}
.main_content {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;

  .el-form {
    width: 30%;
    padding: 30px 20px;
    margin: 0 auto;
  }

  .foot_buttons {
    margin-top: 30px;
    .el-button {
      width: 120px;
    }
  }

  .table_header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.el-button.is-disabled {
  color: #c0c4cc !important;
}
</style>
