<!--人员模型主页-->
<template>
  <div
    class="model_library main_page_style"
    v-if="!modelVisible"
    key="personnal-model-main"
  >
    <app-breadcrumb :options="breadcrumbList"></app-breadcrumb>
    <!-- 查询表单 -->
    <el-card class="mb14">
      <div class="search_form">
        <div class="item">
          <span class="label">员工工号</span>
          <el-input
            v-model="searchForm.empId"
            placeholder="请输入内容"
            clearable
          ></el-input>
        </div>
        <div class="item">
          <span class="label">员工姓名</span>
          <el-input
            v-model="searchForm.empName"
            placeholder="请输入内容"
            clearable
          ></el-input>
        </div>
        <div class="item">
          <span class="label">模型名称</span>
          <el-select v-model="searchForm.modelId" placeholder="请选择" clearable>
            <el-option
              v-for="item in modelList2"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="item status">
          <span class="label">状态</span>
          <el-select v-model="searchForm.status" placeholder="请选择" clearable>
            <el-option
              v-for="item in statusListALL"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <el-button type="primary" class="primary_currency" @click="search(1)"
          >查询</el-button
        >
      </div>
    </el-card>
    <!-- 查询表格 -->
    <el-card class="mb14">
      <search-table :data="tableData" :fields="tableFields" :table-loading="tableLoading">
        <template #operate="{ row }">
          <el-button
            type="text"
            @click="operateRecord('edit', row)"
            :disabled="row.batchStatus == '审批中'"
            >编辑</el-button
          >
          <el-button type="text" @click="operateRecord('view', row)">查看</el-button>
          <!-- <el-button type="text" @click="see(row)">查看审批</el-button> -->
        </template>
        <template #tableOperation>
          <div style="margin-bottom: 16px; text-align: left">
            <el-button
              type="primary"
              class="primary_currency"
              style="margin-right: 18px"
              @click="operateRecord('add')"
              >新建</el-button
            >
            <!-- <el-button
              plain
              class="plain_currency"
              style="margin-right: 18px"
              @click="importFile"
              >批量导入</el-button
            > -->
            <!-- <el-button
            plain
            class="plain_currency"
            style="margin-right: 18px"
            @click="adjustFile"
            >批量调整</el-button
          > -->
            <!-- <el-button
              plain
              class="plain_currency"
              style="margin-right: 18px"
              @click="exportFile"
              >批量导出</el-button
            > -->
            <batch-import
              ref="importFile"
              :form="searchForm"
              :urlTemplate="urlTemplate"
              :nameTemplate="nameTemplate"
              :fileType="fileType"
              :urlImport="urlImport"
            ></batch-import>
          </div>
        </template>
        <template #pagination>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="page.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="count"
            style="text-align: right; margin-top: 20px"
          >
          </el-pagination>
        </template>
      </search-table>
    </el-card>
    <dialog-form
      width="30%"
      :title="dialogTitle"
      :form-fields="dialogFormFields"
      :form-disabled="dialogFormDisabled"
      :form-value="dialogFormValue"
      :form-rules="dialogFormRules"
      :dialog-visible.sync="dialogVisible"
      :form-label-width="'calc(5em + 12px)'"
      :destroy-on-close="true"
      ref="dialogForm"
    >
      <template #footButton>
        <el-button v-if="cancel" class="currency" @click="cancel()">取 消</el-button>
        <el-button
          class="primary_currency"
          v-if="confirm"
          type="primary"
          @click="confirm()"
          :loading="submitLoading"
          >{{ confirmText || "创建/修改" }}</el-button
        >
      </template></dialog-form
    >
  </div>
  <add-personal-model
    v-else
    key="personnal-model-edit"
    @show="showModel"
    :operate-type="operateType"
    :model-details="modelDetails"
    :model-disabled="dialogFormDisabled"
    :model-form-value="modelFormValue"
  ></add-personal-model>
</template>
<script>
import searchTable from "../../components/searchTable.vue";
import dialogForm from "../../components/dialogForm.vue";
import addPersonalModel from "./addPersonalModel.vue";
import batchImport from "../diag/batchImport";
import appForm from "@/components/base/appForm";
import appBreadcrumb from "@/components/base/appBreadcrumb";
import { mapGetters } from "vuex";
export default {
  components: {
    searchTable,
    dialogForm,
    addPersonalModel,
    batchImport,
    appForm,
    appBreadcrumb,
  },
  data() {
    return {
      modelVisible: false,
      operateType: "add",
      title: "模型匹配",
      modelDetails: {},
      searchForm: {
        empId: "",
        empName: "",
        modelId: "",
        status: "",
      },
      urlTemplate: this.$environmentApi + "tmiempmodel/template",
      nameTemplate: "模型匹配批量导入调整模板",
      urlImport: this.$environmentApi + "tmiempmodel/import",
      fileType: "BELONG_EMP_MODEL",
      modelList: [],
      modelList2: [],
      tableData: [],
      tableLoading: false,
      page: {
        currentPage: 1,
        size: 10,
      },
      count: 0,
      dialogVisible: false,
      dialogTitle: "",
      dialogFormValue: {},
      dialogFormDisabled: false,
      confirmText: "",
      submitLoading: false,
      breadcrumbList: [{ label: "后台配置" }, { label: "模型匹配" }],
      statusListALL: [
        {
          label: "全部",
          value: "",
        },
        {
          label: "生效",
          value: "生效",
        },
        {
          label: "失效",
          value: "失效",
        },
      ],
      statusList: [
        {
          label: "生效",
          value: "生效",
        },
        {
          label: "失效",
          value: "失效",
        },
      ],
    };
  },
  computed: {
    // ...mapGetters(["statusListALL", "statusList"]),
    tableFields() {
      return [
        {
          label: "序号",
          width: "50px",
          type: "index",
        },
        {
          label: "员工工号",
          width: "180px",
          prop: "empId",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "员工姓名",
          width: "180px",
          prop: "empName",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "模型编号",
          width: "180px",
          prop: "modelCode",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "模型名称",
          width: "220px",
          prop: "modelName",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "测评时间",
          width: "150px",
          prop: "evaluateTime",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "状态",
          width: "100px",
          prop: "status",
          columnAttr: {
            sortable: "custom",
          },
        },
        // {
        //   label: "审批状态",
        //   width: "180px",
        //   prop: "batchStatus",
        //   columnAttr: {
        //     sortable: "custom",
        //   },
        // },
        {
          label: "操作",
          width: "180px",
          slot: "operate",
        },
      ];
    },
    dialogFormFields() {
      const vm = this;
      return [
        {
          label: "员工姓名",
          prop: "empId",
          type: "select-person",
          operateType: vm.operateType,
          dialogVisible: vm.dialogVisible,
          modelFormValue: vm.modelFormValue,
          events: {
            change: function (selected) {
              if (selected) {
                vm.$set(vm.dialogFormValue, "empId", selected?.emplid || "");
                vm.$set(vm.dialogFormValue, "empName", selected?.name || "");
                vm.getModelList(selected);
              }
            },
          },
          disabled: vm.operateType === "edit",
        },
        {
          label: "模型名称",
          prop: "modelId",
          type: "select",
          options: this.modelList,
          onChange: (selected) => {
            console.log(selected);
            vm.$set(vm.dialogFormValue, "modelName", selected.label || "");
            vm.$set(vm.dialogFormValue, "id", selected.id || "");
            vm.modelDetail();
          },
          disabled: vm.operateType === "edit",
        },
        {
          label: "测评时间",
          prop: "evaluateTime",
          type: "date",
          onChange: (selected) => {
            vm.$set(vm.dialogFormValue, "evaluateTime", selected.evaluateTime || "");
          },
        },
        {
          label: "状态",
          prop: "status",
          type: "select",
          options: this.statusList,
        },
      ];
    },
    dialogFormRules() {
      if (!this.dialogFormDisabled) {
        return {
          empId: [
            {
              required: true,
              message: "请选择员工",
              trigger: "blur",
            },
          ],
          modelId: [
            {
              required: true,
              message: "请选择模型",
              trigger: "blur",
            },
          ],
          evaluateTime: [
            {
              required: true,
              message: "请选择测评时间",
              trigger: "change",
            },
          ],
          status: [{ required: true, message: "请选择状态", trigger: "blur" }],
        };
      }
      return {};
    },
  },
  watch: {
    operateType: {
      immediate: true,
      handler(val) {
        if (val === "view") {
          this.dialogFormDisabled = true;
        } else {
          this.dialogFormDisabled = false;
        }
      },
    },
  },
  created() {
    this.getModelList2();
    this.search();
    document.addEventListener("keydown", this.handleEvent);
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  methods: {
    handleEvent(e) {
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.search(1);
      }
    },
    modelDetail() {
      let vm = this;
      vm.api.personnelPortrait.personnelPortraitApi
        .otrmodelQueryDetails(vm.dialogFormValue?.id)
        .then((res) => {
          if (res.code == 0) {
            vm.modelDetails = {
              ...res.data,
              id: undefined,
              modelId: res.data.id,
              lv1IndexList: res.data.lv1IndexList,
            };
            vm.modelDetails.lv1IndexList = vm.modelDetails.lv1IndexList.map((p) => {
              return {
                actVal: 0,
                adjVal: 0,
                ...p,
                lv1IndexId: p.id,
                id: undefined,
                lv2IndexVOList: p.lv2IndexList.map((j) => {
                  return {
                    lv2IndexQty: 0,
                    ...j,
                    expComment: j.lv2IndexComment,
                    lv2IndexId: j.id,
                    id: undefined,
                  };
                }),
                lv2IndexList: undefined,
              };
            });
          } else {
            vm.modelDetails = {};
            vm.$message.error("查询模型详情失败");
          }
        });
    },
    showModel(val) {
      this.modelVisible = val;
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId, "see");
    },
    operateRecord(type, row) {
      if (type === "add") {
        this.dialogTitle = "新建模型匹配";
        this.confirmText = "创建";
        this.dialogFormValue = {
          status: "生效",
        };
        this.operateType = type;
        this.dialogVisible = true;
      } else if (type === "edit") {
        this.dialogTitle = "编辑模型匹配";
        this.confirmText = "修改";
        this.modelFormValue = { ...row };
        this.dialogFormValue = { ...row };
        this.getModelList(row);
        this.operateType = type;
        this.dialogVisible = true;
      } else if (type === "view") {
        this.operateType = type;
        this.modelFormValue = { ...row };
        this.modelVisible = true;
      }
    },
    importFile() {
      let obj = {
        res: true,
      };
      this.$refs.importFile.setDiag(obj);
    },
    exportFile() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmiempmodel/export",
        responseType: "blob",
        params: {
          ...vm.form,
        },
      }).then((res) => {
        console.log(res);
        if (res.data && !res.data.code) {
          const downURL = window.URL.createObjectURL(new Blob([res.data]));
          // data 为获取到的二进制数据
          const listNode = document.createElement("a");
          // 这里注意 ： 非同源a标签的download去命名没有用
          listNode.download = "模型匹配信息.xlsx";
          listNode.style.display = "none";
          listNode.href = downURL;
          document.body.appendChild(listNode);
          listNode.click();
          document.body.removeChild(listNode);
        } else {
          vm.$message({
            type: "warning",
            message: res.data.msg,
          });
        }
      });
    },
    adjustFile() {
      console.log("调整数据");
    },
    search(currentPage = null) {
      let vm = this;
      vm.tableLoading = true;
      if (currentPage) {
        vm.page.currentPage = currentPage;
      }
      vm.api.personnelPortrait.personnelPortraitApi
        .otrempmodelPage({
          ...vm.searchForm,
          limit: vm.page.size,
          page: vm.page.currentPage,
        })
        .then((res) => {
          vm.tableLoading = false;
          if (res.code == 0) {
            vm.tableData = res.data?.list;
            vm.count = res.data.total;
          } else {
            vm.tableData = [];
            vm.count = 0;
          }
        })
        .catch(() => {
          vm.tableLoading = false;
        });
    },
    getModelList2() {
      let vm = this;
      vm.api.personnelPortrait.personnelPortraitApi.otrmodelListAll().then((res) => {
        if (res && res?.data && res.data.length > 0) {
          let modelList = res.data.map((p) => ({
            label: p.modelName,
            value: p.id,
          }));

          vm.modelList2 = [...modelList];
          vm.modelList2.unshift({ label: "全部", value: "" });
        } else {
          vm.modelList2 = [];
        }
      });
    },
    getModelList(data) {
      console.log(data);
      let vm = this;
      vm.api.personnelPortrait.personnelPortraitApi.otrmodelListAll().then((res) => {
        if (res && res?.data && res.data.length > 0) {
          let modelList = res.data.map((p) => ({
            ...p,
            label: p.modelName,
            value: p.id,
          }));
          vm.modelList = [];
          modelList.forEach((item) => {
            if (!vm.modelList.find((f) => f.value === item.value)) {
              vm.modelList.push(item);
            }
          });
        } else {
          vm.modelList = [];
        }
      });
    },
    handleCurrentChange(currentPage) {
      this.$set(this.page, "currentPage", currentPage);
      this.search();
    },
    handleSizeChange(size) {
      this.$set(this.page, "size", size);
      this.search();
    },
    async confirm() {
      try {
        const result = await this.$refs.dialogForm.formValidate();
        if (result) {
          try {
            if (this.dialogTitle === "新建模型匹配") {
              this.edit();
            } else if (
              this.dialogTitle === "编辑模型匹配" &&
              (this.modelFormValue.empId !== this.dialogFormValue.empId ||
                this.modelFormValue.empName !== this.dialogFormValue.empName ||
                this.modelFormValue.modelId !== this.dialogFormValue.modelId ||
                this.modelFormValue.status !== this.dialogFormValue.status)
            ) {
              this.edit();
            } else {
              this.modelFormValue = { ...this.dialogFormValue };
              this.modelVisible = true;
            }
          } catch (error) {
            return;
          }
          this.cancel();
        }
      } catch (error) {
        return;
      }
    },
    cancel() {
      this.dialogVisible = false;
      this.dialogFormValue = {};
      this.dialogTitle = "";
      this.confirmText = "";
    },
    //重复校验
    checkExist() {
      let vm = this;
      vm.submitLoading = true;
      vm.modelFormValue = { ...vm.dialogFormValue };
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmiempmodel/checkExist",
        data: {
          ...vm.dialogFormValue,
        },
      })
        .then((res) => {
          vm.submitLoading = false;
          if (res.data?.code == 0) {
            if (res.data.data) {
              vm.$message.warning("员工在该测评时间已存在该模型！");
            } else {
              vm.modelVisible = true;
            }
          }
        })
        .catch(() => {
          vm.submitLoading = false;
        });
    },
    creat() {
      let vm = this;
      vm.submitLoading = true;
      vm.modelFormValue = { ...vm.dialogFormValue };
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmiempmodel/saveIndex",
        data: {
          ...vm.dialogFormValue,
        },
      })
        .then((res) => {
          vm.submitLoading = false;
          if (res.data?.code == 0) {
            vm.$message.success("关联成功");
            vm.modelFormValue = res.data.data;
            vm.search();
            vm.modelVisible = true;
          }
        })
        .catch(() => {
          vm.submitLoading = false;
        });
    },
    edit() {
      let vm = this;
      // let tip = type == "add" ? "新建成功" : "修改成功";
      vm.modelFormValue = { ...vm.dialogFormValue };
      vm.modelVisible = true;
      // vm.api.personnelPortrait.personnelPortraitApi
      //   .otrempmodelSaveIndex(vm.modelFormValue)
      //   .then((res) => {
      //     vm.submitLoading = false;
      //     if (res.data?.code == 0) {
      //       vm.$message.success(tip);
      //       vm.search();
      //       vm.modelVisible = true;
      //     }
      //   })
      //   .catch(() => {
      //     vm.submitLoading = false;
      //   });
    },
  },
};
</script>
<style lang="scss">
.model_library {
  padding: 16px 20px;
  .search_form {
    //padding: 20px;
    padding-bottom: 8px;
    background: #fff;
    border-radius: 4px;
    //margin-bottom: 20px;
    text-align: left;

    .item {
      display: inline-block;
      margin-right: 28px;
      margin-bottom: 12px;

      .label {
        display: inline-block;
        margin-right: 12px;
        color: #666666;
      }

      .el-input {
        width: auto;

        .el-input__inner {
          width: 160px;
          height: 32px;
          line-height: 32px;
        }
      }

      .el-select {
        .el-input__icon {
          line-height: 32px;
        }
      }

      .el-input__prefix {
        .el-input__icon {
          line-height: 32px;
        }
      }

      &.dept {
        .el-input__inner {
          width: 220px !important;
        }
      }

      &.status {
        .el-input__inner {
          width: 110px !important;
        }
      }
    }
  }
}
</style>
