<template>
  <!-- :style="'background-color:#545c64'" -->
  <div class="Aside">
    <div style="text-align: center">
      <img :src="require('@/assets/base/logoSie.png')" alt="" class="logo_img" />
    </div>

    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        class="el-menu-vertical-demo"
        :collapse="isCollapse"
        :background-color="$store.state.app.$vt_a"
        text-color="#fff"
        :unique-opened="false"
        :active-text-color="$store.state.app.$dt_a"
        :collapse-transition="false"
        :router="true"
        mode="vertical"
      >
        <el-submenu index="8-0">
          <span slot="title">胜任力模型</span>
          <el-menu-item index="/competencyModel-post">
            <span slot="title">岗位胜任力</span>
          </el-menu-item>
          <el-menu-item index="/competencyModel-dimensionManage">
            <span slot="title">维度管理</span>
          </el-menu-item>
          <el-menu-item index="/competencyModel-abilityType">
            <span slot="title">能力类型</span>
          </el-menu-item>
          <el-menu-item index="/competencyModel-abilityManage">
            <span slot="title">能力管理</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="8-1">
          <span slot="title">人才盘点</span>
          <el-menu-item index="/inventoryPlan">
            <span slot="title">盘点计划</span>
          </el-menu-item>
          <el-menu-item index="/inventory-result" v-if="show">
            <span slot="title">盘点结果</span>
          </el-menu-item>
          <el-menu-item index="/inventory-report">
            <span slot="title">盘点报告</span>
          </el-menu-item>
          <el-menu-item index="/org-inventory" v-if="show">
            <span slot="title">组织盘点</span>
          </el-menu-item>
          <el-menu-item index="/agency">
            <span slot="title">待办通知</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="8-2">
          <span slot="title">标签库</span>
          <el-menu-item index="/labelLibrary-labelType">
            <span slot="title">标签类型</span>
          </el-menu-item>
          <el-menu-item index="/labelLibrary-labelManage">
            <span slot="title">标签管理</span>
          </el-menu-item>
          <el-menu-item index="/labelLibrary-labelPlay">
            <span slot="title">打标签</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="8-3">
          <span slot="title">调研&测评</span>
          <!-- <el-menu-item index="/research-evaluation/project">
            <span slot="title">测评问卷</span>
          </el-menu-item> -->
          <el-menu-item index="/research-evaluation/research">
            <span slot="title">人才发展调研</span>
          </el-menu-item>
          <el-menu-item index="/research-evaluation/needDealt">
            <span slot="title">调研待办</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="8-4">
          <span slot="title">个人发展计划</span>
          <el-menu-item index="/development-plan/home">
            <span slot="title">首页</span>
          </el-menu-item>
          <el-menu-item index="/development-plan/planManage">
            <span slot="title">计划管理</span>
          </el-menu-item>
          <el-menu-item index="/development-plan/process-monitor">
            <span slot="title">过程监控</span>
          </el-menu-item>
          <el-menu-item index="/development-plan/selfPlan">
            <span slot="title">我的计划</span>
          </el-menu-item>
          <el-menu-item index="/development-plan/selfStudent">
            <span slot="title">我的学员</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="8-5">
          <span slot="title">后台配置</span>
          <el-menu-item index="/personnelPortrait-modelLibrary">
            <span slot="title">建模型库</span>
          </el-menu-item>
          <el-menu-item index="/personnelPortrait-modelMaintain">
            <span slot="title">模型匹配</span>
          </el-menu-item>
          <!-- <el-menu-item index="/inventoryInfo">
            <span slot="title">业绩能力盘点</span>
          </el-menu-item> -->
        </el-submenu>
        <el-menu-item index="/searchPerson">
          <span slot="title">人才搜索</span>
        </el-menu-item>
        <!-- <sidebar-item v-for="route in permission_routes" :key="route.path" :item="route" :base-path="route.path" /> -->
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapState } from "vuex";
import { roleList } from "@/utils/common";
import SidebarItem from "./SidebarItem";

export default {
  name: "Aside",
  components: { SidebarItem },
  data() {
    return {
      show: false,
    };
  },
  watch: {
    userInfo: {
      handler(newName, oldName) {
        console.log(newName, "9999999");
        if (newName.roles) {
          for (const iterator of newName.roles) {
            console.log(iterator, "9999999");
            let index = ["SCHOOLS_HR", "GROUP_HRBP"].indexOf(iterator);
            if (index != -1) {
              this.show = true;
            }
          }
        }
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    ...mapGetters(["permission_routes", "userInfo"]),
    // routes() {
    //   console.log('hhhh', this.$router.options.routes.filter((item) => item.path === "/")[0]
    //     .children);
    //   return this.$router.options.routes.filter((item) => item.path === "/")[0]
    //     .children;
    // },
    activeMenu() {
      const route = this.$route;
      const { meta, path } = route;
      if (meta.activeMenu) {
        return meta.activeMenu;
      }
      return path;
    },
    ...mapState({
      isCollapse: (state) => state.app.isCollapse, //左边导航栏是否收起
    }),
  },
};
</script>
<style lang="scss" scoped>
.Aside {
  height: 100%;
  width: 200px;
  overflow: hidden;
  text-align: left;
  .logo_img {
    width: 75%;
    margin-top: 14px;
  }
}
</style>
<style lang="scss">
.Aside .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 100%;
  min-height: 400px;
}

// .Aside .el-menu {
//   border-right: 0px;
// }

// .Aside .el-menu.el-menu--inline {
//   padding-top: 10px;
//   background-color: #00000040 !important;

//   .el-menu-item,
//   .el-submenu__title {
//     background-color: unset !important;
//   }

//   .el-menu-item:hover,
//   .el-submenu__title:hover {
//     outline: 0;
//     background-color: #00000060 !important;
//   }
// }

// .Aside .el-menu-item-group__title {
//   padding: 0 !important;
// }

.Aside .el-scrollbar {
  height: 100%;
}

.Aside .scrollbar-wrapper {
  height: 100%;
  overflow-x: hidden !important;
}

.el-menu-item i {
  // color: #ffffff;
  margin-right: 10px;
}

.el-submenu__title i {
  color: #ffffff;
  margin-right: 10px;
}
</style>
