<!-- @format -->

<template>
	<div class="app-radio-group" :style="$attrs.style">
		<div class="el-radio" v-for="option in options" :key="option.prop">
			<el-radio v-on="$attrs.change ? { change: $attrs.change } : ''" v-if="!disabled" :disabled="disabled" class="app-radio" v-model="currentValue" :label="option.value">{{ option.label }}</el-radio>
		</div>
	</div>
</template>
<script>
export default {
	name: 'appRadio',
	props: {
		prop: String,
		value: [String, Number],
		options: Array,
		formValue: Object,
		disabled: Boolean,
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(val) {
				this.$emit('input', val);
			},
		},
	},
};
</script>
<style lang="scss" scoped>
.app-radio-group {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
</style>
