<template>
  <div class="label_type main_page_style">
    <div class="title">标签类型</div>
    <!-- 查询表单 -->
    <div class="search_form">
      <div class="item">
        <span class="label">标签类型名称</span>
        <el-input
          v-model="form.labelTypeName"
          placeholder="请输入内容"
        ></el-input>
      </div>
      <div class="item dept">
        <span class="label">适用组织</span>
        <select-tree
          v-model="form.deptId"
          :props="departmentProp"
          :data="departmentList"
          style="width: auto"
        ></select-tree>
      </div>
      <div class="item">
        <span class="label">适用序列</span>
        <el-select v-model="form.categoryId" placeholder="请选择" clearable>
          <el-option
            v-for="item in sequenceList"
            :key="item.hpsPosnType"
            :label="item.descr"
            :value="item.hpsPosnType"
          >
          </el-option>
        </el-select>
      </div>
      <div class="item status">
        <span class="label">状态</span>
        <el-select v-model="form.status" placeholder="请选择" clearable>
          <el-option
            v-for="item in statusList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
      <el-button
        type="primary"
        class="primary_currency"
        @click="search"
        @keyup.enter.native="search()"
        >查询</el-button
      >
    </div>
    <!-- 表格 -->
    <div class="button_table_model">
      <div style="margin-bottom: 16px">
        <el-button type="primary" class="primary_currency" @click="addLabel"
          >新建</el-button
        >
      </div>
      <el-table
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.6)"
        :data="tableData"
        style="width: 100%"
        @sort-change="sortChange"
      >
        <el-table-column label="序号" type="index" width="50" align="center">
          <template slot-scope="scope">
            {{ (page.currentPage4 - 1) * page.size + scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column
          prop="labelTypeId"
          label="类型编号"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="labelTypeName"
          label="标签类型名称"
          width="180"
          align="center"
          show-overflow-tooltip
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="deptName"
          label="适用组织"
          width=""
          align="center"
          sortable
          show-overflow-tooltip
        >
        </el-table-column>
        <el-table-column
          prop="category"
          label="适用序列"
          width=""
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="status"
          label="状态"
          width="120"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="batchStatus"
          label="审批状态"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column label="操作" width="180" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              @click="edit(scope.row)"
              :disabled="scope.row.batchStatus == '审批中'"
              >编辑</el-button
            >
            <el-button type="text" @click="see(scope.row)">查看审批</el-button>
            <!-- <el-button type="text" @click="statusChange(scope.row)">{{
              statusObj[scope.row.status]
            }}</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage4"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="10"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.count"
      >
      </el-pagination>
    </div>
    <add-label
      ref="addLabel"
      :departmentList="departmentList"
      :departmentProp="departmentProp"
      :sequenceList="sequenceList2"
    ></add-label>
  </div>
</template>
<script>
import addLabel from "./diag/addLabel.vue";
import selectTree from "../components/selectTree.vue";
export default {
  data() {
    return {
      tableData: [],
      page: {
        currentPage4: 1,
        count: 0,
        size: 10,
      },
      form: {
        status: "",
        categoryId: "",
      },
      tableLoading: false,
      //组织
      departmentList: [],
      departmentProp: {
        label: "name",
        children: "children",
      },
      //序列
      sequenceList: [],
      sequenceList2: [],
      //状态
      statusList: [
        {
          value: "",
          label: "全部",
        },
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
      //用于状态改变使用
      statusObj: {
        失效: "生效",
        生效: "失效",
      },
    };
  },
  created() {
    this.getList();
    this.getSequence();
    this.getDepartment();
    let vm = this;
    document.addEventListener("keydown", vm.handleEvent);
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  components: {
    addLabel,
    selectTree,
  },
  methods: {
    handleEvent(e) {
      console.log(e);
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.search();
      }
    },
    getList() {
      let vm = this;
      vm.tableLoading = true;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping",
        params: {
          ...vm.form,
          pageSize: vm.page.size,
          pageNum: vm.page.currentPage4 - 1,
        },
      })
        .then((res) => {
          vm.tableLoading = false;
          if (res.data.code == 0) {
            vm.tableData = res.data.data;
            vm.page.count = res.data.count;
          } else {
          }
        })
        .catch((err) => {
          vm.tableLoading = false;
        });
    },
    search() {
      this.page.currentPage4 = 1;
      this.getList();
    },
    sortChange(column) {
      console.log(column);
      let vm = this;
      vm.page.currentPage4 = 1;
      if (column.order == null) {
        vm.form.sortKey = undefined;
        vm.form.isDescending = undefined;
      } else {
        vm.form.sortKey = column.prop;
        //排序的方式是根据上下选择来确定
        vm.form.isDescending = column.order == "ascending" ? false : true;
      }

      vm.getList();
    },
    //获取适用组织
    getDepartment() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "department/treeAuth",
      }).then((res) => {
        if (res.data.code == 0) {
          vm.departmentList = [];
          vm.departmentList.push(...res.data.data);
        } else {
        }
      });
    },
    //获取适用序列
    getSequence() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "dimtmpsposntpv",
      }).then((res) => {
        if (res && res.data) {
          vm.sequenceList = [...res.data];
          vm.sequenceList2 = [...res.data];
          vm.sequenceList.unshift({ hpsPosnType: "", descr: "全部" });
          vm.sequenceList2.unshift({ hpsPosnType: "ALL", descr: "全部" });
        }
      });
    },
    //修改状态
    statusChange(data) {
      let vm = this;
      data.status = vm.statusObj[data.status];
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmilabeltypemapping/update",
        data: {
          ...data,
        },
      }).then((res) => {
        if (res.data.code == 0) {
          vm.$message({
            type: "success",
            message: "修改状态成功",
          });
          vm.getList();
        } else {
        }
      });
    },
    addLabel() {
      let obj = {
        res: true,
        type: "add",
      };
      this.$refs.addLabel.setDiag(obj);
    },
    edit(data) {
      let obj = {
        res: true,
        type: "edit",
        data: data,
      };
      this.$refs.addLabel.setDiag(obj);
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId,'see');
    },
    handleSizeChange(val) {
      let vm = this;
      vm.page.currentPage4 = 1;
      vm.page.size = val;
      vm.getList();
    },
    handleCurrentChange(val) {
      let vm = this;
      vm.page.currentPage4 = val;
      vm.getList();
    },
  },
};
</script>
<style lang="scss" scoped>
.label_type {
  margin: 16px 20px;
}
</style>
<style lang="scss">
</style>