<!-- 选择内部人员数据 -->
<template>
    <div>
        <app-form :fields="serchFields" :data="formInline" class="mb20" />
        <app-table row-key="id" :data="tableData" :col-configs="tableFields" :empty-text="emptyText">
            <el-table-column slot="sex" label="性别">
                <template slot-scope="scope">
                    {{ scope.row.gender == 'M' ? '男' : '女' }}
                </template>
            </el-table-column>

            <el-table-column slot="options" label="操作" width="60">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="handleOptions(scope.row)"> 选择 </el-button>
                </template>
            </el-table-column>
        </app-table>
    </div>
</template>

<script>
import appForm from '@/components/base/appForm'
import appTable from '@/components/base/appTable'
export default {
    components: { appForm, appTable },
    props: {
        emptyText: { type: String, default: '暂无数据' },
        label: { type: String, default: '' }
    },
    data() {
        return {
            empList: [],
            formInline: {},
            tableData: []
        };
    },

    mounted() {
        this.formInline = {}
        this.tableData = []

    },
    methods: {
        getUserInfoById(obj) {
            this.tableData = []
            this.api.baseInfo.baseInfoApi.getUserInfoById({ id: obj.id }).then(res => {
                this.tableData.push(res.data)
            })
        },
        handleOptions(item) {
            this.$emit('selectedEmp', item)
        }
    },
    computed: {
        serchFields() {
            return [
                {
                    label: this.label,
                    labelWidth: 'calc(6em + 12px)',
                    component: 'app-select-emp',
                    prop: 'empId',
                    placeholder: `请选择${this.label}`,
                    clearable: true,
                    filterable: true,
                    style: 'width:100%',
                    change: (e) => {
                        this.getUserInfoById(e)
                    },
                    span: 8,
                },
            ].map(item => {
                item.mb = 0
                return item
            });
        },

        tableFields() {
            return [
                { prop: 'emplId', label: '工号' },
                { prop: 'emplName', label: '姓名' },
                { prop: 'age', label: '年龄' },
                { prop: 'companyName', label: '所属公司' },
                { prop: 'departmentName', label: '所属部门' },
                { prop: 'jobName', label: '当前职位' },
                { prop: 'educationLevel', label: '学历' },
                { prop: 'email', label: '邮箱' },
                { slot: 'sex' },
                { slot: 'options' },
            ]
        }
    },
}

</script>
<style lang='scss' scoped>
</style>