<template>
	<div class="app-tabs">
		<el-tabs v-model="computedName" v-on="$listeners">
			<el-tab-pane v-for="(item) in data" v-bind="{ ...item }" :key="item.name"></el-tab-pane>
		</el-tabs>
	</div>
</template>
<script>
export default {
	props: {
		activeName: String,
		data: [Array, Object],
	},
	computed: {
		computedName: {
			get() {
				return this.activeName;
			},
			set(val) {
				this.$emit('update:activeName', val);
			},
		},
	},
};
</script>
