@import './mixin.scss';
@import './transition.scss';
@import './btn.scss';
body {
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #25262b;
}
label {
    font-weight: 700;
}
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
#app {
    margin: 0;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.no-padding {
    padding: 0 !important;
}
.padding-content {
    padding: calc(4rem / 100) 0;
}
a:focus,
a:active {
    outline: none;
}
a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
div:focus {
    outline: none;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.pr-5 {
    padding-right: calc(5rem / 100);
}
.pl-5 {
    padding-left: calc(5rem / 100);
}
.pl-10 {
    padding-left: calc(10rem / 100);
}
.mt-5 {
    margin-top: calc(5rem / 100);
}
.mr-10 {
    margin-right: calc(10rem / 100);
}
.ml-20 {
    margin-left: calc(20rem / 100) !important;
}
.ml-10 {
    margin-left: calc(10rem / 100);
}
.block {
    display: block;
}
.pointer {
    cursor: pointer;
}
.inlineBlock {
    display: block;
}
.text-center {
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.desc-text {
    color: rgba(155, 155, 155, 100);
    font-size: calc(14rem / 100);
    text-align: left;
}
.width-full {
    width: 100% !important;
}
.width50 {
    width: 50% !important;
}
.width80 {
    width: 80% !important;
    margin: 0 auto;
}
.width90 {
    width: 80% !important;
    margin: 0 auto;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.clearfix {
    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}
aside {
    background: #eef1f6;
    padding: calc(8rem / 100) calc(24rem / 100);
    margin-bottom: calc(20rem / 100);
    border-radius: calc(2rem / 100);
    display: block;
    font-size: calc(16rem / 100);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

//main-container全局样式
.app-container {
    padding: calc(20rem / 100);
}
.components-container {
    margin: calc(30rem / 100) calc(50rem / 100);
    position: relative;
}
.pagination-container {
    margin-top: calc(30rem / 100);
}
.sub-navbar {
    height: calc(50rem / 100);
    line-height: calc(50rem / 100);
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: calc(20rem / 100);
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: calc(20rem / 100);
        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}
.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: calc(16rem / 100);
}
.multiselect--active {
    z-index: 1000 !important;
}
