<!-- select组件 -->
<template>
  <el-select
    v-model="currentValue"
    v-on="$attrs.change ? { change: $attrs.change } : ''"
    v-bind="{ ...$attrs }"
  >
    <el-option
      v-for="(option, index) in options"
      :key="index"
      :value="option.value"
      :label="option.label"
      @click.native="handleSelectClick(option)"
    ></el-option>
  </el-select>
</template>
<script>
export default {
  name: "appSelect",
  props: {
    options: [Array, Function],
    value: [String, Number, Array],
  },
  methods: {
    handleSelectClick(item) {
      this.$emit("inputAll",item);
    },
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
