<template>
	<div class="app-check-box">
		<el-checkbox-group v-bind="{ ...$attrs }" v-model="computedValue">
			<el-checkbox :border="$attrs.border" size="small" v-on="$attrs.change ? { change: $attrs.change } : ''" v-for="item in computedOptions" :disabled="disabled" :name="item.value" :key="item.value" :label="item.value">{{ item.label }}</el-checkbox>
		</el-checkbox-group>
	</div>
</template>
<script>
export default {
	name: 'appCheckBox',
	props: {
		options: {
			type: Array,
		},
		value: [String, Number],
		disabled: Boolean,
		formValue: Object,
		labelListKey: String,
	},
	model: {
		prop: 'value',
		event: 'change',
	},
	data() {
		return {
			selectedOption: [],
		};
	},
	computed: {
		computedOptions() {
			let result = [];
			this.options.forEach((element) => {
				result.push({
					...element,
				});
			});
			return result;
		},
		computedValue: {
			get() {
				if (this.value) {
					if (this.formValue && this.labelListKey) {
						let labelList = '';
						this.options
							.filter((p) => this.value.indexOf(p.value) >= 0)
							.forEach((p) => {
								labelList += p.label + ',';
							});
						this.$set(this.formValue, this.labelListKey, labelList ? labelList.substr(0, labelList.length - 1) : '');
					}

					return this.value.toString().split(',');
				} else {
					return [];
				}
			},
			set(value) {
				let result = '';
				if (value) {
					value.forEach((item) => {
						result += item + ',';
					});
				}
				if (result) {
					result = result.substr(result, result.length - 1);
				}

				this.$emit('change', result);
			},
		},
	},
};
</script>

<style scoped></style>
