<template>
  <div class="talent_portrait">
    <talent-tab
      v-model="activeName"
      :portraitLabel="portraitLabel"
      :staffResumeLabel="staffResumeLabel"
      :cadrePortraitLabel="cadrePortraitLabel"
    ></talent-tab>
    <div>
      <keep-alive>
        <component
          :baseInfo="baseInfo"
          :photoUrl="baseInfo.sex == '男' ? nanPersonImg : photoUrl"
          :is="activeName"
          :empId="empId"
        >
        </component>
      </keep-alive>
    </div>
  </div>
</template>
<script>
import TalentTab from "./components/talentTab.vue";
import portrait from "./components/portrait";
import staffResume from "./components/staffResume";
import cadrePortrait from "./components/cadrePortrait";

export default {
  components: {
    portrait,
    staffResume,
    cadrePortrait,
    TalentTab,
  },
  data() {
    return {
      activeName: "portrait",
      baseInfo: {
        name: "张晓华",
        emplid: "10001",
      },
      photoUrl: require("@/assets/forum/person.jpg"),
      nanPersonImg: require("@/assets/forum/nan-person.webp"),
    };
  },
  computed: {
    isSelf() {
      const pageType = this.$route.query.type;
      return pageType === "self";
    },
    portraitLabel() {
      return "员工画像";
    },
    staffResumeLabel() {
      return "个人简历";
    },
    cadrePortraitLabel() {
      return "干部画像";
    },
    empId() {
      let vm = this;
      return "20180803";
      // return window.atob(vm.$route.query.empId);
    },
    // 当前登陆人信息
    userInfo() {
      return this.$store.state.pageInfo?.userInfo;
    },
  },
  mounted() {
    this.getBasicInfo();
  },
  destroyed() {
    // const option = { watermark_txt: " ", watermark_alpha: 0, minotor: false }
    // watermark.init(option);
    // watermark.remove();
  },
  methods: {
    getBasicInfo() {
      this.getBasicInfoApi();
      // if (this.empId) {
      //   this.getBasicInfoApi();
      //   // this.getPhotoApi();
      // } else {
      //   this.$message.warning("请先选择人员");
      // }
    },

    // 个人信息基础信息
    getBasicInfoApi() {
      const params = {
        emplId: "20180803" || this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .empphotoSearchBaseInfo(params)
        .then((res) => {
          console.log(res, "----23");
          const data = res.d || {};
          this.baseInfo = data;
        });
    },
    // 照片
    getPhotoApi() {
      const url = this.$environmentApi + "/empinfophoto/searchPhoto";
      const params = {
        emplId: this.empId,
      };
      this.$axios({ method: "get", url, params }).then((res) => {
        const url = "data:image/png;base64," + res.data.employeePhoto;
        this.photoUrl = url;
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.talent_portrait {
  margin: 24px;
}
</style>
<style lang="scss">
.talent_portrait {
  .crumbs {
    margin-bottom: 24px;

    .el-breadcrumb__inner a,
    .el-breadcrumb__inner.is-link {
      color: rgba(0, 0, 0, 0.45);
    }

    .el-breadcrumb__inner {
      color: #333;
    }
  }
}
</style>
